@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var validate = true;
    var eId = @ViewBag.id;
    var tableRowCount = 1;
    $(document).ready(function () {

        $(".date")
            .datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd/mm/yy",
                Edit: true,
                minDate: 0

            })
        $('.time').timepicker();
        LoadData();
        LoadItems();
        //LoadLocations();
        EmployeeSearch();
        LoadStore("");
        LoadReceiverStore();
          $(".EmpId").select2("trigger", "select", { data: { id: '@ViewBag.Userid', text: '@ViewBag.UserName' } });
        if (eId != 0) {
            $(".Receiver").show();
            ReceiverUpdate(eId);
            }
        else {
            AddItem("");
                $(".Receiver").hide();
            }
    });
    function validatedetails() {
        var valid = true;
        $(".error").hide();
        $(".css-error").removeClass('css-error');
        if (!inputvalidation('FromStoreId', 'Select From Store')) valid = false;
        if (!inputvalidation('ToStoreId', 'Select To Store')) valid = false;
        //if (!inputvalidation('ModeOfTransfer', 'select ModeOfTransfer')) valid = false;
        if (!inputvalidation('SenderEmpId', 'select Sender')) valid = false;

        if (!inputvalidation('SenderNotes', 'Select SenderNotes')) valid = false;
        if (eId != 0) {
              if (!inputvalidation('ReceiverEmpId', 'Select ReceiverEmpId')) valid = false;
        if (!inputvalidation('ReceiverNotes', 'Select ReceiverNotes')) valid = false;
            if (!inputvalidation('ReceivedOnDate', 'Select ReceivedOnDate')) valid = false;
            if (!inputvalidation('SentOnDate', 'Select SentOnDate')) valid = false;
        }

        var table = document.getElementById("ItemTable");

        var table_len = (table.rows.length);
        for (var i = 1; i < tableRowCount; i++) {
            var mt = $("#ItemId" + i).val();
            if ($("#ItemId" + i).val() == "") {
                $("#ItemId" + i).after('<span class="error" style="color:Red;">select Item</span>');
                $("#ItemId" + i).addClass('css-error');
                valid = false;
            }
        }
        return valid;
    }
    function LoadStore(val) {
        $.ajax({
            type: "POST",
            url: "/CMS/GetCMS_Store",
            //data: "id=",
            success: function (data) {
                var options = [];
                options.push('<option value="">- Select Store -</option>');
                for (var i = 0; i < data.length; i++) {
                    options.push('<option value="' + data[i].StoreId + '">' + data[i].StoreName + '</option>');
                }
                $("#ToStoreId").html(options.join(''));
                if (val == "Receiver") {
                    $("#FromStoreId").html(options.join(''));
                }
            },
            error: function () {
                alert("error")
            }
        });
    }
    function LoadReceiverStore() {
        $.ajax({
            type: "POST",
            url: "/CMS/GetCMS_StoreByEmpId",
            //data: "id=",
            success: function (data) {
                debugger;
                if (data.canteenId != 0) {
                    var options = [];
                    options.push('<option value="' + data.canteenId + '">' + data.CanteenName + '</option>');
                    $("#FromStoreId").html(options.join(''));
                }
                else {
                    LoadStore("Receiver");
                }
            },
            error: function () {
                alert("error")
            }
        });
    }
    function LoadItems(id, val) {
        $.ajax({
            type: "POST",
            url: "/CMS/GetCMS_Items",
            //data: "id=",
            success: function (data) {
                var options = [];
                options.push('<option value="">- Select Item -</option>');
                for (var i = 0; i < data.length; i++) {
                    options.push('<option value="' + data[i].ItemId + '">' + data[i].ItemName + '</option>');
                }
                $("#ItemId").html(options.join(''));
                $("#ItemId" + id).html(options.join(''));

                var table = document.getElementById("ItemTable");
                var table_len = (table.rows.length);
                for (var i = 1; i < tableRowCount; i++) {
                    var mealtype = $("#ItemId" + i).val();
                    if (mealtype != "")
                        $("#ItemId" + id + " option[value=" + mealtype + "]").remove();

                }
                var len = $("#ItemId" + id + " option").length;
                if (len == 1) {
                    delete_row(id);
                }
                if (val != "")
                    $("#ItemId" + id).val(val);
            },

            error: function () {
                alert("error")
            }
        });
    }
    //function LoadLocations() {
    //    $.ajax({
    //        type: "POST",
    //        url: "/Common/GetLocations",
    //        //data: "id=",
    //        success: function (data) {
    //            var options = [];
    //            options.push('<option value="">- All Locations -</option>');
    //            for (var i = 0; i < data.length; i++) {
    //                options.push('<option value="' + data[i].LocationId + '">' + data[i].LocationName + '</option>');
    //            }
    //            $(".Location").html(options.join(''));
    //        },
    //        error: function () {
    //            alert("error")
    //        }
    //    });
    //}
    function EmployeeSearch() {

        $(".EmpId").select2({
            ajax: {
                url: "/Home/GetEmployeeSearch",
                type: "get",
                dataType: 'json',

                //delay: 250,
                data: function (params) {
                    return {
                        searchTerm: params.term // search term
                    };
                },
                processResults: function (response) {
                    return {
                        results: response
                    };
                },
                cache: true
            },
            width: 'element',
            minimumInputLength: 4
        });
    }
    function inputvalidation(selector, Text) {

        var validate = true;
        if ($("#" + selector).val() == "") {
            $("#" + selector).after('<span class="error" style="color:Red;">' + Text + '</span>');
            $("#" + selector).addClass('css-error');
            validate = false;
        }
        return validate;
    }
    function LoadPartialdivonclick(link, title) {
        $("#titleofpage").html(title);
        $("#partialDiv").load("/CMS/" + link);
    }
    function ReceiverUpdate(id) {
        eId = id;
        $.get("/CMS/GetCMS_ItemTransfer_ById?id=" + id, function (res) {
            debugger;
            $("#FromStoreId").val(res.FromStoreId);
            $("#ToStoreId").val(res.ToStoreId);
            //$("#ModeOfTransfer").val(res.ModeOfTransfer);
            if (res.SenderEmpId != null) {
                $("#SenderEmpId").select2("trigger", "select", { data: { id: res.SenderEmpId, text: res.SenderEmpName } });
            }
            if (res.ReceiverEmpId != null) {
                $("#ReceiverEmpId").select2("trigger", "select", { data: { id: res.ReceiverEmpId, text: res.ReceiverEmpName } });
            }
            $("#SenderNotes").val(res.SenderNotes);
            $("#ReceiverNotes").val(res.ReceiverNotes);
            $("#SentOnDate").val(res.SentOnDate);
            $("#SentOnTime").val(res.SentOnTime);
            $("#ReceivedOnDate").val(res.ReceivedOnDate);

            $("#ReceivedOnTime").val(res.ReceivedOnTime);
            //$("#FromLocationId").val(res.FromLocationId);
            //$("#ToLocationId").val(res.ToLocationId);
            //$('#IsCanteen').prop('checked', res.IsCanteen);
            $("#header").text("Update Item");
            LoadItemsDetails(id,"rece");

        });

    }
    function LoadItemsDetails(id,val) {
        $.get("/CMS/GetCMS_TransferItems_BytraId?id=" + id, function (res) {

            var table = document.getElementById("ItemTable");
            for (var i = 0; i < res.length; i++) {

                AddItem(res[i].ItemId);
                debugger;
                $(".Id" + (i + 1)).text(res[i].Id);
                $("#QtySend" + (i + 1)).val(res[i].QtySend);
                $("#QtyRecived" + (i + 1)).val(res[i].QtyRecived);
                $("#QtyReturn" + (i + 1)).val(res[i].QtyReturn);
                $("#QtyDamage" + (i + 1)).val(res[i].QtyDamage);
                $("#Notes" + (i + 1)).val(res[i].Notes);


            }
        });
    }
    function AddItem(val) {
        var table = document.getElementById("ItemTable");

        var table_len = (table.rows.length);
        if (table_len > 1) {
            if (eId == 0) {
                if ($("#ItemId" + (table_len - 1)).val() != "")
                    var row = table.insertRow(table_len).outerHTML = "<tr class='datarow' id='row" + tableRowCount + "'><td class='Id" + table_len + "' style='display:none;'>0</td><td> <select id='ItemId" + table_len + "' class='form-control' style='max-width:200px;'> <option value=''>Select Item</option></select></td><td>  <input type='number' name='QtySend' class='form-control' id='QtySend" + tableRowCount + "'></td><td class='Receiver'>  <input type='number' name='QtyRecived' class='form-control' id='QtyRecived" + tableRowCount + "'></td><td class='Receiver'>  <input type='number' name='QtyReturn' class='form-control' id='QtyReturn" + tableRowCount + "'></td><td class='Receiver'>  <input type='number' name='QtyDamage' class='form-control' id='QtyDamage" + tableRowCount + "'></td><td>  <input type='text' name='notes' class='form-control' id='Notes" + tableRowCount + "' /></td><td> <span class='glyphicon glyphicon-trash' style='color:red;cursor:pointer;' onclick='delete_row(" + tableRowCount + ")'></span></td></tr>";
                // <td>  <input type='number' class='form-control' id='QtySend" + table_len + "'></td><td>  <input type='number' class='form-control' id='QtyRecived" + table_len + "'></td><td>  <input type='number' class='form-control' id='QtyReturn" + table_len + "'></td><td>  <input type='number' class='form-control' id='QtyDamage" + table_len + "'></td>
                //var row = table.insertRow(table_len).outerHTML = "<tr class='datarow' id='row" + table_len + "'><td class='Id" + table_len + "' style='display:none;'>0</td><td class='ItemId" + table_len + "'>" + $("#ItemId").val() + "</td><td class='QtyRequested" + table_len + "'>" + $("#QtyRequested").val() + "</td><td class='QtySend" + table_len + "'>" + $('#QtySend').val() + "</td><td class='QtyRecived" + table_len + "'>" + $("#QtyRecived").val() + "</td><td class='QtyReturn" + table_len + "'>" + $("#QtyReturn").val() + "</td><td class='QtyDamage" + table_len + "'>" + $('#QtyDamage').val() + "</td><td class='Notes" + table_len + "'>" + $('#Notes').val() + "</td><td><span class='glyphicon glyphicon-edit' style='color:greem;cursor:pointer;' onclick='Edit_row(" + table_len + ")'></span> <span class='glyphicon glyphicon-trash' style='color:red;cursor:pointer;' onclick='delete_row(" + table_len + ")'></span></td></tr>";
                else
                    alert("select Item First");
            }
            else {
                var row = table.insertRow(table_len).outerHTML = "<tr class='datarow' id='row" + tableRowCount + "'><td class='Id" + table_len + "' style='display:none;'>0</td><td> <select id='ItemId" + table_len + "' class='form-control' style='max-width:200px;'> <option value=''>Select Item</option></select></td><td>  <input type='number' name='QtySend' class='form-control' id='QtySend" + tableRowCount + "'></td><td class='Receiver'>  <input type='number' name='QtyRecived' class='form-control' id='QtyRecived" + tableRowCount + "'></td><td class='Receiver'>  <input type='number' name='QtyReturn' class='form-control' id='QtyReturn" + tableRowCount + "'></td><td class='Receiver'>  <input type='number' name='QtyDamage' class='form-control' id='QtyDamage" + tableRowCount + "'></td><td><input type='text' class='form-control' name='notes' id='Notes" + tableRowCount + "' /></td><td> <span class='glyphicon glyphicon-trash' style='color:red;cursor:pointer;' onclick='delete_row(" + tableRowCount + ")'></span></td></tr>";
                //<td>  <input type='number' class='form-control' id='QtySend" + table_len + "'></td><td>  <input type='number' class='form-control' id='QtyRecived" + table_len + "'></td><td>  <input type='number' class='form-control' id='QtyReturn" + table_len + "'></td><td>  <input type='number' class='form-control' id='QtyDamage" + table_len + "'></td>
            }
        }
        else {
            var row = table.insertRow(table_len).outerHTML = "<tr class='datarow' id='row" + tableRowCount + "'><td class='Id" + table_len + "' style='display:none;'>0</td><td> <select id='ItemId" + table_len + "' class='form-control' style='max-width:200px;'> <option value=''>Select Item</option></select></td><td>  <input type='number' name='QtySend' class='form-control' id='QtySend" + tableRowCount + "'></td><td class='Receiver'><input type='number' name='QtyRecived' class='form-control' id='QtyRecived" + tableRowCount + "'></td><td class='Receiver'>  <input type='number' name='QtyReturn' class='form-control' id='QtyReturn" + tableRowCount + "'></td><td class='Receiver'><input type='number' name='QtyDamage' class='form-control' id='QtyDamage" + tableRowCount + "'></td><td><input type='text' class='form-control' name='notes' id='Notes" + tableRowCount + "' /></td><td> <span class='glyphicon glyphicon-trash' style='color:red;cursor:pointer;' onclick='delete_row(" + tableRowCount + ")'></span></td></tr>";
        }
        LoadItems(tableRowCount, val);
        tableRowCount++;
        $('#ItemTable').show();
        if (eId != 0) {
            $(".Receiver").show();
        }
        else {
            $(".Receiver").hide();
        }
    }


    function delete_row(no) {
        document.getElementById("row" + no + "").outerHTML = "";
        var table = document.getElementById("ItemTable");

        var table_len = (table.rows.length - 1);
        if (table_len == 0) {
            $('#ItemTable').hide();
        }
    }
    function SaveDetails() {
        var valid = validatedetails();
        if (valid) {
            if (window.FormData !== undefined) {
                var files = "";
                // Create FormData object
                var fileData = new FormData();
                var fileUpload = $("#SenderAttachment").get(0);
                files = fileUpload.files;
                if (eId != 0) {
                    var fileUpload1 = $("#ReceiverAttachment").get(0);
                    files1 = fileUpload1.files;
                    fileData.append("ReceiverAttachment", files1[0]);
                    fileData.append('ReceiverEmpId', $("#ReceiverEmpId").val());
                    fileData.append('ReceiverNotes', $("#ReceiverNotes").val());
                    fileData.append('ReceivedOnDate', $("#ReceivedOnDate").val());
                    fileData.append('ReceivedOnTime', $("#ReceivedOnTime").val());
                }
                //  if (files.length != 0) {
                fileData.append("SenderAttachment", files[0]);
                fileData.append('ItemTransferId', eId);
                fileData.append('FromStoreId', $("#FromStoreId").val());
                fileData.append('ToStoreId', $("#ToStoreId").val());
                //fileData.append('ModeOfTransfer', $("#ModeOfTransfer").val());
                fileData.append('SenderEmpId', $("#SenderEmpId").val());

                fileData.append('SenderNotes', $("#SenderNotes").val());
                fileData.append('SentOnDate', $("#SentOnDate").val());
                fileData.append('SentOnTime', $("#SentOnTime").val());

                //fileData.append('FromLocationId', $("#FromLocationId").val());
                //fileData.append('ToLocationId', $("#ToLocationId").val());
                //fileData.append('IsCanteen', $("#IsCanteen").is(":checked"));
                $.ajax({
                    type: "POST",
                    url: "/CMS/Save_UpdateDistrubItems",
                    contentType: false,
                    processData: false,
                    data: fileData,
                    success: function (data) {
                        console.log(data);
                        SaveItem(data);
                        alert("Successfully Saved");
                        window.location.reload();
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        }
    }
    function SaveItem(id) {
        var ItemList = [];
        var table = document.getElementById("ItemTable");

        var table_len = (table.rows.length);
        for (var i = 1; i < tableRowCount; i++) {
            debugger;
            var row = $('#row' + i).html();
            if (typeof(row) !== 'undefined') {
                if (eId != 0) {

                    ItemList.push({
                        Id: parseInt($(".Id" + i).text()),
                        ItemTransferId: parseInt(id),
                        ItemId: parseInt($("#ItemId" + i).val()),
                        QtySend: parseFloat($("#QtySend" + i).val()).toFixed(2),
                        //QtyRecived: parseFloat($("#QtyRecived" + i).val()).toFixed(2),
                        QtyReturn: parseFloat($("#QtyReturn" + i).val()).toFixed(2),
                        QtyDamage: parseFloat($("#QtyDamage" + i).val()).toFixed(2),
                        Notes: $("#Notes" + i).val()
                    });
                }
                else {
                    ItemList.push({
                        Id: parseInt($(".Id" + i).text()),
                        ItemTransferId: parseInt(id),
                        ItemId: parseInt($("#ItemId" + i).val()),
                        QtySend: parseFloat($("#QtySend" + i).val()).toFixed(2),
                        QtyRecived: parseFloat("0").toFixed(2),
                        QtyReturn: parseFloat("0").toFixed(2),
                        QtyDamage: parseFloat("0").toFixed(2),
                        Notes: $("#Notes" + i).val()
                    });
                }
            }

        }

        $.post("/CMS/Save_UpdateItemTransferList", { model: ItemList }, function (res) {

        });
    }
</script>

<div class="panel panel-default" style="min-height:500px;">
    <div class="panel-heading">Distribute Item</div>
    <div class="panel-body">
        <div class="row" style="width:95%;margin:auto;">

            <div class="row">
                <div class="row">
                    <div class="col-md-2">
                        <label>Sender Store<span class="text-danger">*</span> </label>
                        <select class="form-control StoreId" id="FromStoreId"></select>
                    </div>
                    <div class="col-md-2">
                        <label>Receiver Store<span class="text-danger">*</span></label>
                        <select class="form-control StoreId" id="ToStoreId"></select>
                    </div>
                    @*<div class="col-md-3">
                            <label>From Location<span class="text-danger">*</span></label>
                            <select class="form-control Location" id="FromLocationId"></select>
                        </div>
                        <div class="col-md-3">
                            <label>To Location<span class="text-danger">*</span></label>
                            <select class="form-control Location" id="ToLocationId"></select>
                        </div>
                        <div class="col-md-2">
                            <label>Mode Of Transfer<span class="text-danger">*</span></label>
                            <select class="form-control" id="ModeOfTransfer"><option value="">Select ModeOfTransfer </option><option value="Van">Van</option></select>
                        </div>*@
                </div>
                @*<div class="row" style="margin-top:30px; display:none;">
                        <div class="col-md-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="IsCanteen" name="IsCanteen">
                                <label class="custom-control-label" for="IsCanteen">IsCanteen</label>
                            </div>
                        </div>
                    </div>*@

                <div class="Sender" style="margin-top: 10px;">
                    <label>SENDER DETAILS</label>
                    <div class="row" style="border-top:solid 1px lightgray; padding-top:10px;">
                        <div class="col-md-4">
                            <label>Sender EmpId<span class="text-danger">*</span></label><br />
                            <select id="SenderEmpId" class="form-control typeahead EmpId" name="query" data-provide="typeahead" autocomplete="off"></select>
                        </div>
                        <div class="col-md-4">
                            <label>Sent On Date<span class="text-danger">*</span></label>
                            <input type="text" name="SentOnDate" id="SentOnDate" class="form-control date" />
                        </div>
                        <div class="col-md-4 input-group bootstrap-timepicker timepicker">
                            <label>Sent On Time<span class="text-danger">*</span></label>
                            <input type="text" name="SentOnTime" id="SentOnTime" class="form-control time" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Sender Attachment</label>
                            <input type="file" name="document" id="SenderAttachment" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label>Sender Notes<span class="text-danger">*</span></label>
                            <textarea class="form-control" rows="1" id="SenderNotes"></textarea>
                        </div>
                    </div>

                </div>

                <div class="row Receiver" style="margin-top:10px;">
                    <label>RECEIVER DETAILS</label>
                    <div class="row" style="border-top:solid 1px lightgray;padding-top:10px;">
                        <div class="col-md-4">
                            <label>Receiver EmpId<span class="text-danger">*</span></label>
                            <select id="ReceiverEmpId" class="form-control typeahead EmpId" name="query" data-provide="typeahead" autocomplete="off"></select>
                        </div>
                        <div class="col-md-4">
                            <label>Received On Date<span class="text-danger">*</span></label>
                            <input type="text" name="name" id="ReceivedOnDate" class="form-control date" />
                        </div>
                        <div class="col-md-4 input-group bootstrap-timepicker timepicker">
                            <label>Received On Time<span class="text-danger">*</span></label>
                            <input type="text" name="name" id="ReceivedOnTime" class="form-control time" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Receiver Attachment</label>
                            <input type="file" name="document" id="ReceiverAttachment" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <label>Receiver Notes<span class="text-danger">*</span></label>
                            <textarea class="form-control" id="ReceiverNotes"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <a href="javascript:void(0)" class="pull-right" onclick="AddItem();">New</a>
            @*</table><a href="#" data-toggle="modal" class="pull-right" data-target="#myModalItem">Item</a>*@
            <table id="ItemTable" class="table table-borderedtable-condensed table-striped">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th class="Sender">Qty Send</th>
                        <th class="Receiver">Qty Recived</th>
                        <th class="Receiver">Qty Return</th>
                        <th class="Receiver">Qty Damage</th>
                        <th>Notes</th>
                        <th>Action </th>
                    </tr>
                </thead>
            </table>

        </div>
        <br />
        <div class="form-group col-md-6">
            <br />
            <button type="button" class="btn save" onclick="SaveDetails();">SAVE</button>
            <button type="button" onclick="LoadPartialdivonclick('ManageDistributeItems','Manage Distribute Items');" class="btn cancel">Cancel</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>