@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var eId =@ViewBag.id;
    var tableRowCount = 1;
  $(document).ready(function () {
        $("#RequestedOn").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd/mm/yy",
                Edit: true,
                minDate: 0
            })

        if (eId != 0) {
            LoadData(eId);
            LoadItemsDetails(eId);
        }
        else {
            LoadLocation("");
            LoadVendors("");
            AddMealType();
        }
    });
    function LoadMealType(id, val) {
        $.ajax({
            type: "POST",
            url: "/CMS/GetMealType",
            //data: "id=",
            success: function (data) {


                var options = [];
                options.push('<option value="">- Select MealType -</option>');
                for (var i = 0; i < data.length; i++) {
                    options.push('<option value="' + data[i].MealTypeId + '">' + data[i].MealTypeName + '</option>');
                }
                $("#MealTypeId" + id).html(options.join(''));

                var table = document.getElementById("ItemTable");
                var table_len = (table.rows.length);
                for (var i = 1; i < tableRowCount; i++) {
                    var mealtype = $("#MealTypeId" + i).val();
                    if (mealtype!="")
                        $("#MealTypeId" + id + " option[value=" + mealtype + "]").remove();

                }
                var len = $("#MealTypeId" + id + " option").length;
                if (len == 1) {
                    delete_row(id);
                }
                if (val != "")
                    $("#MealTypeId" + id).val(val);
            },
            error: function () {
                alert("error")
            }
        });
    }
    function LoadLocation(val) {
        $.ajax({
            type: "GET",
            url: "/Admin/GetLocationView",
            //data: "id=",
            success: function (data) {
                //data = data.aaData;
                //console.log(data);
                var options = [];
                options.push('<option value="">- Select Location -</option>');
                for (var i = 0; i < data.length; i++) {
                    options.push('<option value="' + data[i].LocationId + '">' + data[i].LocationName + '</option>');
                }
                $("#LocationId").html(options.join(''));
                $("#LocationId").val(val);
            },
            error: function () {
                alert("error")
            }
        });
    }
    function LoadVendors(val) {
        $.ajax({
            type: "GET",
            url: "/Admin/GetVendors",
            //data: "id=",
            success: function (data) {
                var options = [];
                options.push('<option value="">- Select Vendor -</option>');
                for (var i = 0; i < data.length; i++) {
                    options.push('<option value="' + data[i].VendorId + '">' + data[i].Name + '</option>');
                }
                $("#VendorId").html(options.join(''));
                $("#VendorId").val(val);
            },
            error: function () {
                alert("error")
            }
        });
    }
    function LoadData(id) {
        $.get("/CMS/GetCMS_VendorMealRequest_ById?id=" + id, function (res) {
            LoadLocation(res.LocationId);
            LoadVendors(res.VendorId);

            $("#RequestedOn").val(res.RequestedOn);
            $("#TotalNotes").val(res.TotalNotes);
        });
    }
    function LoadItemsDetails(id) {
        $.get("/CMS/GetCMS_VendorMealTypeMeal_ByResId?id=" + id, function (res) {
          //  var table = document.getElementById("ItemTable");
            for (var i = 0; i < res.length; i++) {
                AddMealType(res[i].MealTypeId);
                $("#QtyRequested" + (i+1)).val(res[i].QtyRequested);
                $(".Id" + (i + 1)).text(res[i].VendorStockRequestMealId);
            }
        });
    }
    function validatedetails() {
        var validate = true;
        $(".error").hide();
        $(".css-error").removeClass('css-error');
        if ($("#VendorId").val() == "") {
            $("#VendorId").after('<span class="error" style="color:Red;">Select Vendor</span>');
            $("#VendorId").addClass('css-error');
            validate = false;
        }
        if ($("#LocationId").val() == "") {
            $("#LocationId").after('<span class="error" style="color:Red;">Select Location</span>');
            $("#LocationId").addClass('css-error');
            validate = false;
        }
        if ($("#RequestedOn").val() == "") {
            $("#RequestedOn").after('<span class="error" style="color:Red;">select Date</span>');
            $("#RequestedOn").addClass('css-error');
            validate = false;
        }

        var table = document.getElementById("ItemTable");

        var table_len = (table.rows.length);
        for (var i = 1; i < tableRowCount; i++) {
            var mt = $("#MealTypeId" + i).val();
            if ($("#MealTypeId" + i).val() == "") {
                $("#MealTypeId" + i).after('<span class="error" style="color:Red;">select Meal Type</span>');
                $("#MealTypeId" + i).addClass('css-error');
                validate = false;
            }
            if ($("#QtyRequested" + i).val() == "") {
                $("#QtyRequested" + i).after('<span class="error" style="color:Red;">Enter Qty </span>');
                $("#QtyRequested" + i).addClass('css-error');
                validate = false;
            }
        }
        return validate;
    }
    function SaveDetails() {

        var valid = validatedetails();
        if (valid) {
            var task = {
                VendorStockRequestId: eId,
                VendorId: $("#VendorId").val(),
                RequestedOn: $("#RequestedOn").val(),
                LocationId: $("#LocationId").val(),
                TotalNotes: $("#TotalNotes").val(),
                IsActive: true
            };

            $.ajax({
                type: "POST",
                url: "/CMS/Save_UpdateCMSVendorMealRequest",
                data: task,
                success: function (data) {
                    SaveItem(data);
                    alert("Success");
                    window.location.reload();
                }
            });
        }
    }
    function SaveItem(id) {
        var ItemList = [];
        var table = document.getElementById("ItemTable");

        var table_len = (table.rows.length);
        for (var i = 1; i < tableRowCount; i++) {
            var row = $('#row' + i).html();
            if (typeof (row) !== 'undefined') {
                ItemList.push({
                    VendorStockRequestMealId: parseInt($(".Id" + i).text()),
                    VendorStockRequestId: parseInt(id),
                    MealTypeId: parseInt($("#MealTypeId" + i).val()),
                    QtyRequested: parseInt($("#QtyRequested" + i).val())
                });
            }
        }

        $.post("/CMS/Save_UpdateMealRequestMealTypeList", { model: ItemList }, function (res) {

        });
    }
    function cancel() {
        window.location.href = '/CMS/ManagePlaceRequest';
    }
    function AddMealType(val) {
        var table = document.getElementById("ItemTable");

        var table_len = (table.rows.length);
        if (table_len > 1) {
            if (eId == 0) {
                if ($("#MealTypeId" + (table_len - 1)).val() != "")
                    var row = table.insertRow(table_len).outerHTML = "<tr class='datarow' id='row" + tableRowCount + "'><td class='Id" + tableRowCount + "' style='display:none;'>0</td><td> <select id='MealTypeId" + tableRowCount + "' class='form-control' style='max-width:200px;'> <option value=''>Select Meal Type</option></select></td><td>  <input type='number' class='form-control' id='QtyRequested" + tableRowCount + "'></td><td> <span class='glyphicon glyphicon-trash' style='color:red;cursor:pointer;' onclick='delete_row(" + tableRowCount + ")'></span></td></tr>";
                else
                    alert("Select Meal Type");
            }
            else {
                var row = table.insertRow(table_len).outerHTML = "<tr class='datarow' id='row" + tableRowCount + "'><td class='Id" + tableRowCount + "' style='display:none;'>0</td><td> <select id='MealTypeId" + tableRowCount + "' class='form-control' style='max-width:200px;'> <option value=''>Select Meal Type</option></select></td><td>  <input type='number' class='form-control' id='QtyRequested" + tableRowCount + "'></td><td> <span class='glyphicon glyphicon-trash' style='color:red;cursor:pointer;' onclick='delete_row(" + tableRowCount + ")'></span></td></tr>";
            }
        }
        else {
            var row = table.insertRow(table_len).outerHTML = "<tr class='datarow' id='row" + tableRowCount + "'><td class='Id" + tableRowCount + "' style='display:none;'>0</td><td> <select id='MealTypeId" + tableRowCount + "' class='form-control' style='max-width:200px;'> <option value=''>Select Meal Type</option></select></td><td>  <input type='number' class='form-control' id='QtyRequested" + tableRowCount + "'></td><td> <span class='glyphicon glyphicon-trash' style='color:red;cursor:pointer;' onclick='delete_row(" + tableRowCount + ")'></span></td></tr>";
        }
        LoadMealType(tableRowCount, val);
        tableRowCount++;
        $('#ItemTable').show();

    }
    function delete_row(no) {
        document.getElementById("row" + no + "").outerHTML = "";
    }
</script>
<div class="panel panel-default" style="width:80%;margin:auto;">
    <div class="panel-heading" style="background: linear-gradient(to bottom, rgba(217,39,64,1) 35%,rgba(146,0,0,1) 77%);height:35px;">
        Create Place Request
    </div>
    <div class="panel-body CpxNewRequest" style="min-height:400px;">
        <div class="row" style="width:95%;margin:auto;">

            <div class="col-md-12">
                <table class="table table-stribbed">
                    <tr>

                        <td>
                            <label>Vendor<span class="text-danger">*</span> </label>
                            <select class="form-control" id="VendorId"></select>
                        </td>
                        <td>
                            <label>Place Date<span class="text-danger">*</span></label>
                            <input type="text" name="name" id="RequestedOn" autocomplete="off" class="form-control" />
                        </td>
                        <td>
                            <label>Location<span class="text-danger">*</span></label>
                            <select class="form-control" id="LocationId"></select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <label>Comments</label>
                            <textarea class="form-control" id="TotalNotes"></textarea>
                        </td>
                    </tr>
                    <tr>
                    </tr>
                </table>

                <table id="ItemTable" class="table">
                    <thead>
                        <tr>
                            <th>MealType</th>
                            <th>Qty Requested</th>
                            <th>Action    <a href="#" class="pull-right" onclick="AddMealType('');">New</a></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <br />
            <div class="form-group col-md-6">
                <br />
                <button type="button" class="btn save" onclick="SaveDetails();">SAVE</button>
                <button type="button" onclick="LoadPartialdivonclick('ManagePlaceRequest','Manage Place Request');" class="btn cancel">Cancel</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<br />
<br />
<div id="myModalItem" class="modal fade" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="clearMealType();">×</button>
                <h4 class="modal-title" id="header">Add Meal Type</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control" id="len" value="0">
                <div class="row" style="padding:5px;">
                    <div class="col-md-2">
                        <label for="name">MealType<span style="color:red;">*</span></label>
                    </div>
                    <div class="col-md-4">
                        <select id="MealTypeId" class="form-control" style="max-width:200px;"> <option value="">Select Meal Type</option></select>
                    </div>
                    <div class="col-md-2">
                        <label for="name">Qty Requested<span style="color:red;">*</span></label>
                    </div>
                    <div class="col-md-4">
                        <input type="number" class="form-control" id="QtyRequested">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" id="btnasigntask" value="Save" onclick="AddMealType();" class="btn btn-primary">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearMealType();">Close</button>
            </div>
        </div>

    </div>
</div>

