@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    var validate = true;
    var eId = 0;
    $(document).ready(function () {
        LoadData();
    });
    function LoadData() {
        $('#tblCategory').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/CMS/AjaxGetMyPayment",
            "bProcessing": true,
            "bDestroy": true,
            "aLengthMenu": [[10, 20, 30, 50, 100, 150, 200, -1], [10, 20, 30, 50, 100, 150, 200, "All"]],
            "aoColumns": [
                { "sName": "PaymentId" },
                { "sName": "PaymentDate" },
                { "sName": "CanteenName" },
                { "sName": "TotalAmount" },
                { "sName": "ReceivedAmount" },
                { "sName": "EmpId" },
                { "sName": "Name" },
                { "sName": "EmpId" },
                { "sName": "Name" },
                { "sName": "Remarks" }
                //,
                //{
                //    "sName": "PaymentId",
                //    "bSortable": false,
                //    "render": function (data, row, r) {
                //               var name = "'" + r[1] + "'";
                //               var des = "'" + r[2] + "'";
                //               var checked = "'" + r[4] + "'";
                //               //console.log(r);
                //               return '<div class="btn-group">' +
                //                   '<div class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th-list"></span></div>' +
                //                   '<ul class="dropdown-menu dropdown-menu-right">' +
                //                   '<li><a href="javascript:void(0);"  onclick="onEdit(' + name + ',' + data + ',' + des + ')">Edit</a></li>' +
                //                   '<li><a href="javascript:void(0);"  onclick="onDelete(' + data + ')">Delete</a></li>' +
                //                   '</ul></div>';
                //     }
                //}
            ]
        });
        $("#tblCategory_length").addClass("col-md-6");
        $("#tblCategory_length").addClass("col-md-6");
    }

</script>
<div class="panel panel-default" style="min-height:500px;">
    <div class="panel-heading">Manage My Payments</div>
    <div class="panel-body">
        <table class="table table-striped table-bordered dt-responsive nowrap" style="width:100%;" id="tblCategory">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Payment Date</th>
                    <th>Canteen</th>
                    <th>Total Amount</th>
                    <th>Received Amount</th>
                    <th>Paid Emp Id</th>
                    <th>Paid Emp Name</th>
                    <th>Received Emp Id</th>
                    <th>Received Emp Name</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>