@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        LoadData();
    });
    function LoadData() {
        $('#tblCategory').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/CMS/AjaxGetCMSManageDistributeItems",
            "bProcessing": true,
            "bDestroy": true,
            "scrollX": true,
            "autoWidth": false,
            "aLengthMenu": [[10, 20, 30, 50, 100, 150, 200, -1], [10, 20, 30, 50, 100, 150, 200, "All"]],
            "aoColumns": [
                { "sName": "Id" },
                { "sName": "FromStoreId" },
                { "sName": "ToStore" },
                { "sName": "Mode" },
                { "sName": "Sender" },
                { "sName": "Receiver" },
                //{ "sName": "Sendernotes" },
                //{ "sName": "ReceiverNotes" },
                { "sName": "Send Date" },
                { "sName": "Receive Date" },
                //{ "sName": "RequestedEmpId" },
                //{ "sName": "RequestedOn" },
                //{ "sName": "RequestorNotes" },
                //{ "sName": "IsCanteen" },
                { "sName": "FromLocationId" },
                { "sName": "ToLocationId" },
                //{ "sName": "IsActive" },
                {
                    "sName": "CategoryId",
                    "bSortable": false,
                    "render": function (data, row, r) {
                        //console.log(r);
                        return '<div class="btn-group">' +
                            '<div class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th-list"></span></div>' +
                            '<ul class="dropdown-menu dropdown-menu-right">' +
                            '<li><a href="javascript:void(0);"  onclick="onEdit(' + data + ')">Edit</a></li>' +
                            '<li><a href="javascript:void(0);"  onclick="onDelete(' + data + ')">Delete</a></li>' +

                            '</ul></div>';
                    }
                }
            ]
        });
        $("#tblCategory_length").addClass("col-md-6");
        $("#tblCategory_length").addClass("col-md-6");
    }
    function onEdit(id) {
        EditLoadPartialdivonclick("CreateDistributeItems", "Update Distribute Items", id);
    }
    function EditLoadPartialdivonclick(link, title, id) {
        $("#titleofpage").html(title);
        $("#partialDiv").load("/CMS/" + link + "?id=" + id);
    }
    function LoadPartialdivonclick(link, title) {
        $("#titleofpage").html(title);
        $("#partialDiv").load("/CMS/" + link);
    }
</script>


<div class="panel panel-default">
    <div class="panel-heading" style="height:35px;background: linear-gradient(to bottom, rgba(217,39,64,1) 35%,rgba(146,0,0,1) 77%);">
    Manage Distribute Items
    <a href="/CMS/CreateDistributeItems" class="pull-right" style="color:white;">New Distribute Items</a></div>
    <div class="panel-body divtable">
        <table class="table table-striped table-bordered  nowrap display" style="width:100%;" id="tblCategory">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>From Store</th>
                    <th>To Store</th>
                    <th>Mode Of Transfer</th>
                    <th>Sender</th>
                    <th>Receiver</th>
                    @*<th>Sender Notes</th>
                        <th>Receiver Notes</th>*@
                    <th>Sent Date</th>
                    <th>Receive Date</th>
                    @*<th>IsCanteen</th>*@
                    <th>From Location</th>
                    <th>To Location</th>
                    @*<th>Is Active</th>*@
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>