<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<connectionStrings>
		<add name="MyIntranetAppEntities" connectionString="metadata=res://*/CurrentDataModel.Data.csdl|res://*/CurrentDataModel.Data.ssdl|res://*/CurrentDataModel.Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=*****;initial catalog=*****;user id=sa;password=*****;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="aeonhrmEntities" connectionString="metadata=res://*/DataModel.RawData.csdl|res://*/DataModel.RawData.ssdl|res://*/DataModel.RawData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=*****;initial catalog=*****;user id=sa;password=*****;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>