@{
    ViewBag.Title = "DoplerHeart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Commonimgpreview.js"></script>
<style type="text/css" media="print">
    * {
        display: none;
    }
</style>

<div class="panel panel-primary">
    <div class="panel-heading">Doppler and Heart</div>
    <div class="panel-body">
        <div class="col-md-12">
            <div class="col-md-6">
                <img src="~/Images/NextPage/Slide1.jpg" style="width:100%;" />
            </div>
            <div class="col-md-6">
                <img src="~/Images/NextPage/Slide2.jpg" style="width:100%;" />
            </div>
            <div class="col-md-6" style="text-align:center;">
                <video width="320" height="240" controls="controls">
                    <source src="~/Images/NextPage/291795.mp4" type="video/mp4" />

                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="col-md-6" style="text-align:center;">
                <video width="320" height="240" controls="controls">
                    <source src="~/Images/NextPage/336746.mp4" type="video/mp4" />

                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>

