@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Commonimgpreview.js"></script>
<style type="text/css" media="print">
    * {
        display: none;
    }
    
</style>
<style>
    .back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

</style>
<div class="panel panel-primary">
    <div class="panel-heading">Fetal Medicine</div>
    <div class="panel-body" style="text-align:center;">

        <img src="~/Images/November_3016_stats/Slide1.JPG" /><br />
        <img src="~/Images/November_3016_stats/Slide2.JPG" /><br />
        <img src="~/Images/November_3016_stats/Slide3.JPG" /><br />
        <img src="~/Images/November_3016_stats/Slide4.JPG" /><br />
        <img src="~/Images/November_3016_stats/Slide5.JPG" /><br />
        <img src="~/Images/November_3016_stats/Slide6.JPG" /><br />
        <img src="~/Images/November_3016_stats/Slide7.JPG" /><br />
        <img src="~/Images/November_3016_stats/Slide8.JPG" /><br />
        <img src="~/Images/November_3016_stats/Slide9.JPG" /><br />
        <img src="~/Images/November_3016_stats/Slide10.JPG" /><br />
        <img src="~/Images/November_3016_stats/Slide11.JPG" /><br />
        <img src="~/Images/November_3016_stats/Slide12.JPG" /><br />
        <img src="~/Images/November_3016_stats/Slide13.JPG" /><br />
        <img src="~/Images/November_3016_stats/Slide14.JPG" /><br />
        <img src="~/Images/November_3016_stats/Slide15.JPG" /><br />
        <img src="~/Images/November_3016_stats/Slide16.JPG" /><br />
        <img src="~/Images/November_3016_stats/Slide17.JPG" /><br />
        <img src="~/Images/November_3016_stats/Slide18.JPG" /><br />
        <img src="~/Images/November_3016_stats/Slide19.JPG" /><br />
        <img src="~/Images/November_3016_stats/Slide20.JPG" /><br />
        <img src="~/Images/November_3016_stats/Slide21.JPG" /><br />
        <img src="~/Images/November_3016_stats/Slide22.JPG" /><br />
        <img src="~/Images/November_3016_stats/Slide23.JPG" /><br />
        <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>


    </div>
</div>


