
@{
    ViewBag.Title = "Microsoft Tutorial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-default">
    <div class="panel-heading">Microsoft Tutorial</div>
    <div class="panel-body">




        <div class="row">


            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Introduction - Microsoft 365 Equivalient to Google Services</div>
                    <div class="panel-body">
                        <video controls controlsList="nodownload" id="1" class="videoplay" style="width:100%;">
                            <source src="/Videos/MIcrosft_365/1_1.mov" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"> Introduction - Microsoft 365 Setup MFA</div>
                    <div class="panel-body">
                        <video controls controlsList="nodownload" id="1" class="videoplay" style="width:100%;">
                            <source src="/Videos/MIcrosft_365/1_2.mov" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">  Basic Navigation</div>
                    <div class="panel-body">
                        <video controls controlsList="nodownload" id="1" class="videoplay" style="width:100%;">
                            <source src="/Videos/MIcrosft_365/1_3.mov" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Outlook Basics - 1 - Sending Receiving and organizing emails</div>
                    <div class="panel-body">
                        <video controls controlsList="nodownload" id="1" class="videoplay" style="width:100%;">
                            <source src="/Videos/MIcrosft_365/2_1.mov" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"> Outlook Basics - 2 - Managing contacts</div>
                    <div class="panel-body">
                        <video controls controlsList="nodownload" id="1" class="videoplay" style="width:100%;">
                            <source src="/Videos/MIcrosft_365/2_2.mov" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Outlook Calendar - 1 - Scheduling and managing meetings</div>
                    <div class="panel-body">
                        <video controls controlsList="nodownload" id="1" class="videoplay" style="width:100%;">
                            <source src="/Videos/MIcrosft_365/3_1.mov" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Outlook Calendar - 2 - Sharing calendars and setting up reminders</div>
                    <div class="panel-body">
                        <video controls controlsList="nodownload" id="1" class="videoplay" style="width:100%;">
                            <source src="/Videos/MIcrosft_365/4_2.mov" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"> OneDrive Basics - 1 - Uploading Organizing and sharing Files </div>
                    <div class="panel-body">
                        <video controls controlsList="nodownload" id="1" class="videoplay" style="width:100%;">
                            <source src="/Videos/MIcrosft_365/5_1.mov" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">  OneDrive Basics - 2 - Syncing files across devices </div>
                    <div class="panel-body">
                        <video controls controlsList="nodownload" id="1" class="videoplay" style="width:100%;">
                            <source src="/Videos/MIcrosft_365/6_2.mov" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"> Microsoft Teams - 1 - Chatting and messaging in Teams </div>
                    <div class="panel-body">
                        <video controls controlsList="nodownload" id="1" class="videoplay" style="width:100%;">
                            <source src="/Videos/MIcrosft_365/7_1.mov" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Microsoft Teams - 2 - Create & Join Meetings and Video calls</div>
                    <div class="panel-body">
                        <video controls controlsList="nodownload" id="1" class="videoplay" style="width:100%;">
                            <source src="/Videos/MIcrosft_365/8_2.mov" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Microsoft Teams - 3 - How to create Teams group and collaborate</div>
                    <div class="panel-body">
                        <video controls controlsList="nodownload" id="1" class="videoplay" style="width:100%;">
                            <source src="/Videos/MIcrosft_365/9_3.mov" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"> Macbook Intune Enrollment</div>
                    <div class="panel-body">
                        <video controls controlsList="nodownload" id="1" class="videoplay" style="width:100%;">
                            <source src="/Videos/MIcrosft_365/10.mov" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"> Microsoft Teams - 3 - Collaborating on files within Teams</div>
                    <div class="panel-body">
                        <video controls controlsList="nodownload" id="1" class="videoplay" style="width:100%;">
                            <source src="/Videos/MIcrosft_365/10_3.mov" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"> Productivity Tools - Word - 1 - Create and edit Documents</div>
                    <div class="panel-body">
                        <video controls controlsList="nodownload" id="1" class="videoplay" style="width:100%;">
                            <source src="/Videos/MIcrosft_365/11_1.mov" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"> Productivity Tools - Excel - 1 - Basic Spreadsheet with Formulas</div>
                    <div class="panel-body">
                        <video controls controlsList="nodownload" id="1" class="videoplay" style="width:100%;">
                            <source src="/Videos/MIcrosft_365/12_1.mov" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"> Productivity Tools - Presentations - 1 - Basic Presentations and Design Tools</div>
                    <div class="panel-body">
                        <video controls controlsList="nodownload" id="1" class="videoplay" style="width:100%;">
                            <source src="/Videos/MIcrosft_365/13_1.mov" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Task Management - To-DO - 1 - Organizing Personal Tasks & Syncing with Outlook Tasks</div>
                    <div class="panel-body">
                        <video controls controlsList="nodownload" id="1" class="videoplay" style="width:100%;">
                            <source src="/Videos/MIcrosft_365/14_1.mov" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
