@model WebApplicationHsApp.Models.QRCodeModel
@{
    ViewBag.Title = "CreateQRCode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateQRCode</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("CreateQRCode", "Asset", FormMethod.Post))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QRCodeText" class="control-label"></label>
                @*<input asp-for="QRCodeText" class="form-control" />*@
                @Html.TextBoxFor(m => m.QRCodeText)
                <span asp-validation-for="QRCodeText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Generate QR Code" class="btn btn-primary text-center" />
            </div>
            <div class="form-group">

                <img src="@ViewBag.QrCodeUri" class="img-thumbnail" />
            </div>
        }
        </div>
</div>