
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        //onChangeRadio();
        //$('#txtSubDepartment').select2MultiCheckboxes({
        //    formatSelection: function (selected, total) {
        //        return "Selected " + selected.length + " of " + total;
        //    }
        //})
        $('#txtSubDepartment').select2({
            placeholder: "Select Sub department"
        })
        LoadSubdepartment();
    });
    function LoadSubdepartment() {
        $.get("/NewUserRequest/GetSubdepartmentList", function (data) {
            if (data != null) {
                var html = "<option value=''>Select</option>";
                for (var i = 0; i < data.length; i++) {
                    html += "<option value='" + data[i].Name + "'>" + data[i].Name + "</option>";
                }
                $("#txtSubDepartment").html(html);
            }
        });
    }
    function SaveNewRequest() {
        if ($("#txtempNo").val() != null && $("#txtempNo").val() != "" && $("#txtMobile").val() != null && $("#txtMobile").val() != "" && $("#txtEmail").val() != null && $("#txtEmail").val() != "" && $("#txtSubDepartment").val() != null && $("#txtSubDepartment").val() != "") {
            var model = {
                RequestFor: $('input[name=optradio]:checked').val(),
                RequestIs: $('input[name=optradio1]:checked').val(),
                EmpNo: $("#txtempNo").val(),
                Name: $("#txtName").val(),
                Designation: $("#txtDesignation").val(),
                EmailId: $("#txtEmail").val(),
                Mobile: $("#txtMobile").val(),
                SubDepartment: $("#txtSubDepartment").val(),
                Remarks: $("#txtRemarks").val(),
                SameRightsLikeempId: $("#txtempidsamerights").val()
            };
            $.post("/NewUserRequest/SaveNewUserRequest", model, function (data) {
                alert(data);
                window.location.reload();
            });
        } else {
            alert("Please enter the Employee no");
        }
    }
    function onChangeRadio() {
        $("#txtName").val("");
        $("#txtDesignation").val("");
        $("#txtEmail").val("");
        $("#txtMobile").val("");
        var value = $('input[name=optradio]:checked').val();
        $.get("/NewUserRequest/GetEmployeeDetails", {
            empid: $("#txtempNo").val(),
            reqtype: value
        }, function (data) {
            if (data != null && data != "") {
                $("#txtempNo").val(data.EmpId);
                $("#txtName").val(data.FirstName);
                $("#txtDesignation").val(data.Designation);
                $("#txtEmail").val(data.EmailId);
                $("#txtMobile").val(data.PhoneNumber);
            } else {
                $("#txtempNo").val("");
            }
        });
    }
</script>
<br />
<br />
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div class="block" style="height:100%;">
            <h2>New User Request</h2>
            <div class="block-middle family" style="min-height:0; height:100%; padding:10px;">
                <table class="table table-striped">
                    <tr>
                        <td>
                            To Request for ?
                        </td>
                        <td>
                            <label class="radio-inline"><input type="radio" name="optradio" onchange="onChangeRadio();" value="MySelf">My Self</label>
                        </td>
                        <td>
                            <label class="radio-inline"><input type="radio" name="optradio" onchange="onChangeRadio();" value="Others">Others</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Request is?
                        </td>
                        <td>
                            <label class="radio-inline"><input type="radio" name="optradio1" value="New" checked>New</label>
                        </td>
                        <td>
                            <label class="radio-inline"><input type="radio" name="optradio1" value="Modifications">Modifications</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label>Emp No<span style="color:red;">*</span> </label>
                                <input type="text" class="form-control" id="txtempNo" onchange="onChangeRadio();" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" disabled="disabled" class="form-control" id="txtName" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label>Designation</label>
                                <input type="text" disabled="disabled" class="form-control" id="txtDesignation" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label>Email Id<span style="color:red;">*</span> </label>
                                <input type="text" class="form-control" id="txtEmail" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label>Mobile<span style="color:red;">*</span> </label>
                                <input type="text" class="form-control" id="txtMobile" />
                            </div>
                        </td>

                        <td>
                            <div class="form-group">
                                <label>Select Sub Department<span style="color:red;">*</span> </label>
                                <select class="form-control" id="txtSubDepartment" multiple style="width:100%;">
                                    <option value=""></option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label>Same Rights like as emp Id<span style="color:red;">*</span> </label>
                                <input type="text" class="form-control" id="txtempidsamerights" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label>Remarks</label>
                                <textarea class="form-control" style="width:100%;" id="txtRemarks"></textarea>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn save" onclick="SaveNewRequest();">SAVE</button>
                            <button type="button" class="btn cancel">Cancel</button><br /><br />
                            <p style="font-size:10px; float:right;">Note: Request will go to HOD approval</p>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>

<br />
<br />
<style>
    .selection {
        width: 100%;
    }
</style>