
@{
    ViewBag.Title = "RequestSupport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    var oTable;
    $(document).ready(function () {
        LoadData();
    });
    function LoadData() {
        oTable=  $('#tblNewUserRequest').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/NewUserRequest/AjaxGetRequestsSupport",
            "bProcessing": true,
            "bDestroy": true,
            "aLengthMenu": [[10, 20, 30, 50, 100, 150, 200, -1], [10, 20, 30, 50, 100, 150, 200, "All"]],
            "aoColumns": [
                { "sName": "UserRequestId" },
                { "sName": "EmpNo" },
                { "sName": "Name" },
                { "sName": "EmailId" },
                { "sName": "Mobile" },
                { "sName": "Designation" },
                { "sName": "SubDepartment" },
                { "sName": "Remarks" },
                { "sName": "IsHodApproved" },
                { "sName": "HodApproveComments" },
                { "sName": "ApprovedLocation" },
                { "sName": "ModifiedBy" },
                { "sName": "ModifiedOn" },
                {
                    "sName": "UserRequestId",
                    "bSortable": false,
                    "render": function (data) {
                        return '<a href="javascript:void(0);" id="' + data + '" title="Approve" class="btn btn-success" onclick="ApproveRequest(this.id);"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;' +
                            '<a href="javascript:void(0);" id="' + data + '" title="View Full Details" class="btn btn-warning" onclick="LoadFullUserRequestdetails(this.id);"><span class="glyphicon glyphicon-info-sign"></span></a>&nbsp;';

                    }
                }
            ],
            "fnServerParams": function (aoData) {
                aoData.push(
                    { "name": "status", "value": $("#ddlapproverstatus").val() }
                );
            }
        });
        $("#tblNewUserRequest_filter").prepend('<div style="float:left;margin-right: 100px;padding-bottom: 2px;"> IT Support Updated? : <select id="ddlapproverstatus" onchange="onchangeapprovers()" class="form-control" title="IT Support Updated"><option value="Yes">Yes</option><option value="No" selected>No</option></div></select>');
        $("#tblNewUserRequest_length").addClass("col-md-6");

    }
    function onchangeapprovers() {
        oTable.api().ajax.reload(null, false);
    }
    function CancelRequest(id) {

    }
    var currentrequestid = 1;
    function ApproveRequest(id) {
        currentrequestid = id;
        $("#myModal").modal("show");
    }
    function SaveApproveRequest() {
        var model = {
            id: currentrequestid,          
            comments: $("#txtapprovecomments").val(),
            username: $("#txtusername").val(),
            password: $("#txtpassword").val()
        };
        $.get("/NewUserRequest/SupportApproveNewUserRequest", model, function (data) {
            alert(data);
            LoadData();
        });
    }
    function LoadFullUserRequestdetails(id) {
        var html = "";
        $.get("/NewUserRequest/GetFullRequest?id=" + id, function (data) {
            html = "<table class='table table-bordered table-striped'>";
            html += "<tr><td>Request For</td><td>" + data.RequestFor + "</td>";
            html += "<td>Request Is</td><td>" + data.RequestIs + "</td></tr>";
            html += "<tr><td>Emp No</td><td>" + data.EmpNo + "</td>";
            html += "<td>Name</td><td>" + data.Name + "</td></tr>";
            html += "<tr><td>Department </td><td>" + data.Department + "</td>";
            html += "<td>Designation</td><td>" + data.Designation + "</td></tr>";
            html += "<tr><td>Email Id</td><td>" + data.EmailId + "</td>";
            html += "<td>Mobile</td><td>" + data.Mobile + "</td></tr>";
            html += "<tr><td>Approve Location</td><td>" + data.ApprovedLocation + "</td>";
            html += "<td>Sub Department</td><td>" + data.SubDepartment + "</td></tr>";
            html += "<tr><td>Remarks</td><td>" + data.Remarks + "</td>";
            if (data.SameRightsLikeempId != null)
                html += "<td>SameRightsLikeempId</td><td>" + data.SameRightsLikeempId + "</td></tr>";
            else
                html += "<td>SameRightsLikeempId</td><td>&nbsp;</td></tr>";
            if (data.HodApprovalName != null)
                html += "<tr><td>Hod Approval Name</td><td>" + data.HodApprovalName + "</td>";
            else
                html += "<td>Hod Approval Name</td><td>&nbsp;</td></tr>";
            html += "<td>Is Hod Approved</td><td>" + data.IsHodApproved + "</td></tr>";
            html += "<tr><td>Comments</td><td>" + data.SupportTeamComments + "</td>";
            if (data.UsernameProvided !=null)
                html += "<td>User Name</td><td>" + data.UsernameProvided + "</td></tr>";
            else
                html += "<td>User Name</td><td>&nbsp;</td></tr>";
            if (data.PasswordProvided!=null)
                html += "<tr><td>Password</td><td>" + data.PasswordProvided + "</td></tr>";
            else
            html += "<tr><td>Password</td><td>&nbsp;</td></tr>";
            html += "</table>";
            $("#divfullrequestdetails").html(html);
            $("#myModalFullrequest").modal("show");
        });
    }
</script>

<div class="panel panel-default">
    <div class="panel-heading">Request Support</div>
    <div class="panel-body">
        <table class="table table-striped table-bordered dt-responsive nowrap" style="width:100%;" id="tblNewUserRequest">
            <thead>
                <tr style="background-color: #786C67;color: white;">
                    <th>Id</th>
                    <th>EmpNo</th>
                    <th>Name</th>
                    <th>EmailId</th>
                    <th>Mobile</th>
                    <th>Designation</th>
                    <th>Sub Department</th>
                    <th>Remarks</th>
                    <th>IsHodApproved</th>
                    <th>Comments</th>
                    <th>Approve Location</th>
                    <th>Modified By</th>
                    <th>Modified On</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="myModalFullrequest" role="dialog">
    <div class="form-block">
        <h3>View Request<button type="button" class="pull-right close" data-dismiss="modal">&times;</button></h3>
        <div id="divfullrequestdetails">

        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="form-block">
        <h3>Approve Request<button type="button" class="pull-right close" data-dismiss="modal">&times;</button></h3>
        <form id="AddNewTask" method="post" enctype="multipart/form-data">
            <!-- Grid row -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>User Name : <span style="color:red;">*</span></label>
                    <input id="txtusername" class="form-control" />
                </div>
                <div class="form-group col-md-12">
                    <label>Password : <span style="color:red;">*</span></label>
                    <input type="text" id="txtpassword" class="form-control" />
                </div>
                <div class="form-group col-md-12">
                    <label>Comments</label>
                    <textarea id="txtapprovecomments" class="form-control"></textarea>
                </div>
                <div class="form-group col-md-12">
                    <button type="submit" class="btn save" onclick="SaveApproveRequest();">SAVE</button>
                    <button type="button" data-dismiss="modal" class="btn cancel">Cancel</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- Grid row -->


        </form>
    </div>
</div>
