
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        ADMIN ROLES MANUAL

    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3 col-xlg-2 col-md-4">
                <div class="stickyside">
                    <div class="list-group" id="top-menu">
                        <a href="#1" class="list-group-item">Login Page</a>
                        <a href="#2" class="list-group-item">Main Page</a>
                        <a href="#3" class="list-group-item">Manage Location</a>
                        <a href="#4" class="list-group-item">Manage Department</a>
                        <a href="#5" class="list-group-item">Manage Building</a>
                        <a href="#6" class="list-group-item">Manage Floor</a>
                        <a href="#7" class="list-group-item">Manager Room</a>
                        <a href="#8" class="list-group-item">Manage Page</a>
                        <a href="#9" class="list-group-item">Manage Setting</a>
                        <a href="#10" class="list-group-item">Sub Department</a>
                        <a href="#11" class="list-group-item">Manage CUG List</a>
                        <a href="#12" class="list-group-item">Manage Extension List</a>
                       


                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-xlg-10 col-md-8">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title" id="1">1. Login</h4>

                        <img src="~/Images/Help/HrAdmin/Login.jpg" class="img-responsive" />

                        <h4 class="card-title m-t-40" id="2">2. Main Page </h4>
                        <p> Go to the Admin menu click, will open menu-> select Admin will see options</p>
                        <ol>
                            <li>Manage Location</li>
                            <li>Manage Department</li>
                            <li>Manage Buliding</li>
                            <li>Manage Floor</li>
                            <li>Manage Room</li>
                            <li>Manage Page</li>
                            <li>Manage Settings</li>
                            <li>Sub Department</li>
                            <li>Manage Designation</li>
                            <li>Manage CUG List</li>
                            <li>Manage Extension List</li>
                            <li>Manage Group</li>
                            <li>Manage Place</li>
                        </ol>


                        <img src="~/Images/Help/main.png" class="img-responsive" />



                        <h4 class="card-title m-t-40" id="3">3.Manage Location</h4>
                        <p>Admin able to Add or Remove Locations. Go to the page Admin--> Manage Locations (in Menu).</p>

                        <img src="~/Images/Help/Admin/Location.jpg" class="img-responsive" />

                        <h4 class="card-title m-t-40" id="4">4. Manage Department</h4>
                        <p>Admin able to Add or Remove Department by Location. Go to the page Admin--> Manage Department (in Menu).</p>
                     
                        <img src="~/Images/Help/Admin/Department.jpg" class="img-responsive" />


                        <h4 class="card-title m-t-40" id="5">5. Manage Building</h4>
                        <p>Admin able to Add or Remove Buildings by Location. Go to the page Admin--> Manage Building (in Menu)</p>
                        
                        <img src="~/Images/Help/Admin/Buliding.jpg" class="img-responsive" />

                        <h4 class="card-title m-t-40" id="6">6.Manage Floor</h4>
                        <p>Admin able to Add or Remove Floors by Location & building wise. Go to the page Admin--> Manage Floors (in Menu)</p>
                      
                        <img src="~/Images/Help/Admin/Floor.jpg" class="img-responsive" />
                      

                        <h4 class="card-title m-t-40" id="7">7.Manager Room</h4>
                        <p>Admin able to Add or Remove Rooms by Location, building, Floor wise. Go to the Page Admin--> Manage Rooms (in Menu) </p>
                        
                        <img src="~/Images/Help/Admin/Room.jpg" class="img-responsive" />


                        <h4 class="card-title m-t-40" id="8">8. Manage Page</h4>
                        <p>Admin able to Add or Remove New Page in Application. Go to the Page Admin--> Manage Page (in Menu)</p>
                         <p>By selecting Menu in Dropdown Automatically after Page Creation the Page will be Append to the menu.</p>
                        <img src="~/Images/Help/Admin/newpage.png" class="img-responsive" />
                        



                        <h4 class="card-title m-t-40" id="9">9.Manage Setting</h4>
                        <p>Admin able to change the HR notification in Home page. Go to the page Admin--> Manage Settings (in Menu).</p>
                        <img src="~/Images/Help/Admin/Notification.jpg" class="img-responsive" />

                        <h4 class="card-title m-t-40" id="10">10.Sub Department</h4>
                        <p>Admin able to Add or Remove Sub departments in Application. Go to the page Admin--> Manage Sub Departments (in Menu)</p>
                        <img src="~/Images/Help/Admin/Subdepartment.jpg" class="img-responsive" />

                        <h4 class="card-title m-t-40" id="11">11.Manage CUG List</h4>
                        <p>Admin able to Add, Edit and Remove CUG NUmber. Go to the page Admin --> Manage CUG LIst (in Menu)</p>
                        <img src="~/Images/Help/Admin/Manage_CUG.png" class="img-responsive" />
                        
                        <h4 class="card-title m-t-40" id="12">12.Manage Extension List</h4>
                        <p>Admin able add , edit and remove CUG NUmber. Go to the page HR admin --> Manage CUG LIst (in Menu)</p>
                        <img src="~/Images/Help/Admin/extension.png" class="img-responsive" />

                        

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>



