
@{
    ViewBag.Title = "Helpdesk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
     HELP DESK MANUAL

    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-lg-3 col-xlg-2 col-md-4">
                <div class="stickyside">
                    <div class="list-group" id="top-menu">
                        <a href="#1" class="list-group-item">Main Page</a>
                        <a href="#22" class="list-group-item">HelpDesk Main Page</a>
                        <a href="#3" class="list-group-item">How to create NewTask</a>
                        <a href="#4" class="list-group-item">Posted issues</a>
                        <a href="#5" class="list-group-item">Action Function </a>
                        <a href="#6" class="list-group-item">Task Issues Reports</a>
                      

                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-xlg-10 col-md-8">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title" id="1">1. Main Page</h4>
                        <p> Go to HelpDesk menu and Click , then open the helpdesk main page.</p>
                        <img src="~/Images/Help/main.png" class="img-responsive" />

                        <h4 class="card-title m-t-40" id="22">2. HelpDesk Main Page </h4>
                        <p> User able to create a Task from one Department to another Department. Go to My Task in menu. User will see the list of Task are created and Assigned to him/her in this age</p>
                       
                        <img src="~/Images/Help/Helpdesk/Helpdeskmainpage.png" class="img-responsive" />

                        <h4 class="card-title m-t-40" id="3">3. To Create NewTask</h4>
                        <p>To Create New Task in the Same Screen Click on New Task</p>
                        <p> Fill all the details and click on save.</p>
                     
                        <img src="~/Images/Help/Helpdesk/Newtask.png" class="img-responsive" />

                        <h4 class="card-title m-t-40" id="4">4. posted issues</h4>
                        <p>Any one can post issues to any location of Department</p>
                       
                        <img src="~/Images/Help/Helpdesk/aftercreate.png" class="img-responsive" />

                        <h4 class="card-title m-t-40" id="5">5.Action Function</h4>
                        <p> There are different options for ticket after logged in. Start Working (in progress), End working (Task Completed), and User Able to enter work done remarks. User able to assign task to particular person, or edit task, user able to enter the comments in comments section.</p>
                        <img src="~/Images/Help/Helpdesk/action.png" class="img-responsive" />


                        <h4 class="card-title m-t-40" id="6">6. Task Issues Reports</h4>
                        <p>User wanted to download Issues Reports Last Month, just select calander From and To Date . Go to the Right Side corner click Export Excel, here download total reports.</p>
                        <<img src="~/Images/Help/Helpdesk/excel.png" class="img-responsive" />



                       
                    </div>
                </div>
            </div>
        </div>





     

    </div>
</div>


