

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div style="text-align:left" class="col-sm-9">login page  </div>
        <div style="text-align:right"><a href="http://172.16.0.16:16">LoginLink</a></div>
    </div>
   
 <div class="panel-body">

        <div class="row">
            <div class="col-lg-3 col-xlg-2 col-md-4">
                <div class="stickyside">
                    <div class="list-group" id="top-menu">
                        <a href="#1" class="list-group-item">Login Page</a>
                      
                      <a href="#22" class="list-group-item">Enter Login</a>
                       
                       <a href="#3" class="list-group-item">Create Own Password</a>
                       <a href="#4" class="list-group-item">Account Main Page</a> 
                        <a href="#5" class="list-group-item">Forgot Password</a>
                        
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-xlg-10 col-md-8">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title" id="1">1. Login Page</h4>
                        <img src="~/Images/Help/Home.png" class="img-responsive" />


                     <h4 class="card-title m-t-40" id="22">2. Enter Login </h4>
    <p> Please Enter the User Id  and Password here</p>



    <img src="~/Images/Help/enterusr.png" class="img-responsive" />


                        <h4 class="card-title m-t-40" id="2">2. Create Own Password </h4>
                        <p>When a User Logs in for the First time User Must be able to change the Password in the next step</p>

                        <img src="~/Images/Help/ownpassword.png" class="img-responsive" />

                       <h4 class="card-title m-t-40" id="3">3. Account Main Page</h4>
                        <p> User can view all function menu display Main Page.</p>

                        <img src="~/Images/Help/main.png" class="img-responsive" />

 

                        <h4 class="card-title m-t-40" id="3">3.Forgot Password</h4>
                        <p>  Any User Forget Password, Please Contact IT Support for Reset Password.</p>
                        <img src="~/Images/Help/login error.png" class="img-responsive" />





                    </div>
                </div>
            </div>
        </div>

        
            
    </div>
</div>


