@{
    ViewBag.Title = "About";
}

<div class="row" style="padding-top:5px;">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">About</div>
            <div class="panel-body" style="height:250px;">
                Tanishsoft Hrms started as a small maternity clinic in 1948, systematically progressing into a full-fledged women’s hospital. With a reputation built over six decades, Tanishsoft Hrms presently comprises four strategic locations in Hyderabad – all focusing on efficient, reliable and personalized health care to women.

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Our Services</h3>
            </div>
            <div class="panel-body" style="height:250px;">
                Our specialties cover Obstetrics, Gynaecology, Neonatology, Anaesthesiology, Fetal Medicine, Perinatal Pathology. Over the years the hospital has established itself as a referral unit for high risk and critical care obstetrics. Strict procedures and protocols, followed by medical audits, have helped us evolve into a streamlined institution. The crucial support of experienced, highly trained and compassionate staff ensures that patients receive excellent care.
            </div>
        </div>

    </div>
  
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Our Mission
            </div>
            <div class="panel-body" style="height:180px;">
                <p>To provide excellent, equitable health care to women and the newborn; to strive always to seek cost-lowering methods of delivering health care, while following evidence-based protocols; to ensure commitment to quality and patient safety; to ensure transparency and ethical practice at all levels of interaction and in financial transactions.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Our Vision
            </div>
            <div class="panel-body" style="height:180px;">
                <p>
                    To provide excellent women-centered care, from adolescence to menopause; to provide comprehensive care during pregnancy; to encourage and empower women to make informed choices; to communicate at all levels with honesty, compassion and care; to ensure that teaching, training and clinical research form integral components of our work ethic.
                </p>
            </div>
        </div>
    </div>
</div>