@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Unit 1 - Bogulkunta</div>
            <div class="panel-body" style="height:270px;">
                Maternity &amp; Newborn Care
                <p>
                    4-1-1230, Bogulkunta, Near Abids,<br /> HYDERABAD 500001
                </p>
                <p>
                    Ph : +91-40- 40222300
                </p>
                <p>
                    Appointment No. (8AM to 8PM) :+91-40-40222397<br>
                </p>
                <div class="forappointments">
                    <strong>
                        Emergency Numbers (24 x 7)&nbsp;
                    </strong>
                </div>
                <div class="appointmentnumbers" style="font-weight: normal;">
                    Labour Ward<br>
                    Tel : 040-40222442<br>
                    Cell : 8790165436<br />
                    Neonatal Unit : 8008403160
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Unit 2 - Hyderguda</div>
            <div class="panel-body" style="height:270px;">
                High Risk Pregnancy &amp; Newborn Care
                <p>
                    3-6-282, Opp. Old MLA Quarters, Hyderguda<br /> HYDERABAD 500029
                </p>
                <p>
                    Ph : +91 -40-40632300
                </p>
                <p>
                    Appointment No. (8AM to 8PM) :+91-40-40222397<br>
                </p>
                <div class="forappointments">
                    <strong>
                        Emergency Numbers (24 x 7)&nbsp;
                    </strong>
                </div>
                <div class="appointmentnumbers" style="font-weight: normal;">
                    Labour Ward<br>
                    Tel : 040-40632444<br>
                    Cell : 8008403149<br />
                    Neonatal Unit : 8008403160
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Unit 3 - Jubilee Hills</div>
            <div class="panel-body" style="height:270px;">
                Obs-Gynaec Out Patient Facility
                <p>
                    Plot #769, Road #44, Next to IMImobile, Jubilee Hills<br /> HYDERABAD 500033
                </p>
                <p>
                    Ph : +91-40-40632600
                </p>
                <p>
                    Appointment No. (8AM to 8PM) :+91-40-40222397<br>
                </p>
                <div class="forappointments">
                    <strong>
                        Emergency Numbers (24 x 7)&nbsp;
                    </strong>
                </div>
                <div class="appointmentnumbers" style="font-weight: normal;">
                    Labour Ward<br>
                    Tel : 040-40632444<br>
                    Cell : 8008403149<br />
                    Neonatal Unit : 8008403160
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Unit 4 - Hyderguda</div>
            <div class="panel-body" style="height:270px;">
                Gynaec, Fetal Medicine, Ultrasound &amp; IUI Services
                <p>
                    3-5-874/1, Hyderguda<br /> HYDERABAD 500029
                </p>
                <p>
                    Ph : +91-40-41411300
                </p>
                <p>
                    Appointment No. (8AM to 8PM) :+91-40-40222397<br>
                </p>
                <div class="forappointments">
                    <strong>
                        Emergency Numbers (Timings: 10AM to 5 PM)&nbsp;
                    </strong>
                </div>
                <div class="appointmentnumbers" style="font-weight: normal;">
                    Cell : 8008902006<br />

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Stork Home - Banjara Hills</div>
            <div class="panel-body" style="height:270px;">
                Maternity &amp; Newborn Care
                <p>
                    8-2-698, Road No. 12, Banjara Hills,<br /> HYDERABAD 500034
                </p>
                <p>
                    Ph : +91-40-47807442,47807300
                </p>
                <p>
                    Appointment No. (8AM to 8PM) :+91-40-47807397<br>
                </p>
                <div class="forappointments">
                    <strong>
                        Emergency Numbers (24 x 7)&nbsp;
                    </strong>
                </div>
                <div class="appointmentnumbers" style="font-weight: normal;">
                    Appointments Call<br>Tel : 040-47807397<br />
                    Neonatal Emergency No: +91 - 7337320891

                </div>
            </div>
        </div>
    </div>
</div>

