@using WebApplicationHsApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row cards-section">
    <ul>
        <li class="col-xs-12 col-md-6 col-lg-4">
            <div class="block">
                <h2 style="text-transform:none;">A message from Dr. Evita Fernandez</h2>
                <div class="block-middle" style="height:220px;">
                    <div class="icons-left">
                        <a href="javascript:void(0);" onclick="LikeThePage();" title="Like"><label style="font-size:20px; font-weight:bold;" id="TotalLikes"></label><img src="/images/like.png" alt="like" /></a>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#exampleModalCenter" title="Comment"><label style="font-size:20px; font-weight:bold;" id="TotalComments"></label><img src="/images/chat.png" alt="chat" /></a>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#ShareMDmessage" title="Share"><label style="font-size:20px; font-weight:bold;" id="TotalShares"></label><img src="/images/share.png" alt="share" /></a>
                    </div>
                    <br>
                    <a href="/Home/MdMessageMore">
                        <img src="/images/director.png" style="border-radius:82px;" alt="director" />
                        <span>Dr Evita Speaks</span>
                    </a>
                </div>
                <div class="bottom-block">
                    <p id="HrMdMessage" style="font-size:14px;">
                        Dr. Evita shares her thoughts and perspectives on the happenings from around Fernandez. <a style="float:right;" href="/Home/MdMessageMore">Read more...</a>
                    </p>

                    <div class="clearfix"></div>
                </div>
            </div>
        </li>
        <li class="col-xs-12 col-md-6 col-lg-4">
            <div class="block">
                <h2 style="text-transform:none;font-size:14px;">Quarterly Communication Meet. Oct to Dec FY20</h2>

                <div class="block-middle block-middle2" style="height:220px;">
                    <div class="icons-left" style="top:35px !important;">
                        <a href="javascript:void(0);" onclick="LikeTheVideo();" title="Like"><label style="font-size:20px; font-weight:bold;" id="TotalLikesVideo"></label><img src="/images/like.png" alt="like"></a>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#exampleModalCenter2" title="Comment"><label style="font-size:20px; font-weight:bold;" id="TotalCommentsVideo"></label><img src="/images/chat.png" alt="Comment"></a>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#ShareTheVideo" title="Share"><label style="font-size:20px; font-weight:bold;" id="TotalSharesVideo"></label><img src="/images/share.png" alt="share"></a>
                    </div>
                    <video controls controlsList="nodownload" id="12" class="videoplay" style="width:100%; height:253px;">
                        <source src="/Videos/31-01-2020 - Quaterly Meet.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="bottom-block">
                    <p>
                        Quarterly Communication Meet<br />
                        - October - December FY20 <a style="float:right;" href="/Home/MoreVideos">More...</a>
                    </p>
                </div>
            </div>
        </li>
        <li class="col-xs-12 col-md-6 col-lg-4">
            <div class="block">
                <h2 style="text-transform:none;">News & Views from Around Fernandez</h2>

                <div class="block-middle" style="height:220px;">

                    <div class="btns">
                        <table style="width:100%;">
                            <tr>
                                <td> <a href="/Academics/NewsFrom"><span>News from around Fernandez</span></a></td>
                                <td><a href="/Hospital/TrendingOnSocialMedia"><span>Whats trending on Social media</span></a></td>
                            </tr>
                            <tr>
                                <td> <a href="https://www.nlbcindia2020.com/" target="_blank"><span>NLBC 2020</span></a></td>
                                <td><a href="https://www.fhfoundation.co.in" target="_blank"><span>Workshops</span> </a></td>
                            </tr>
                        </table>




                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="bottom-block">
                    <p>All current events, happenings and announcements from around the organisation.</p>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="row cards-section">
    <ul>
        <li class="col-xs-12 col-md-6 col-lg-4">
            <div class="block">
                <h2 style="text-transform:none;"> OUR VALUES</h2>
                <div class="block-middle values">
                    @*<img src="/images/values-img.png" alt="values-img">*@
                    <div class="row">
                        <div class="col-md-4">
                            <img src="~/Images/ourvalues-respect.png" onclick="ourvaluesmodel('Respect');" style="width:120px;height:120px; cursor:pointer;" />
                            <h4 style="color: #c4122f; cursor:pointer;" onclick="ourvaluesmodel('Respect');">Respect </h4>
                        </div>
                        <div class="col-md-4">
                            <img src="~/Images/ourvalues-Service.png" onclick="ourvaluesmodel('Service');" style="width:120px;height:120px; cursor:pointer;" />
                            <h4 style="color: #c4122f; cursor:pointer;" onclick="ourvaluesmodel('Service');">Service  </h4>
                        </div>
                        <div class="col-md-4">
                            <img src="~/Images/ourvalues-compassion.png" onclick="ourvaluesmodel('Compassion');" style="width:120px;height:120px; cursor:pointer;" />
                            <h4 style="color: #c4122f; cursor:pointer;" onclick="ourvaluesmodel('Compassion');">Compassion  </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="~/Images/ourvalues-integrity.png" onclick="ourvaluesmodel('Integrity');" style="width:120px;height:120px; cursor:pointer;" />
                            <h4 style="color: #c4122f; cursor:pointer;" onclick="ourvaluesmodel('Integrity');">Integrity </h4>
                        </div>
                        <div class="col-md-6">
                            <img src="~/Images/ourvalues-Responsibility.png" onclick="ourvaluesmodel('Responsibility');" style="width:120px;height:120px; cursor:pointer;" />
                            <h4 style="color: #c4122f; cursor:pointer;" onclick="ourvaluesmodel('Responsibility');">Responsibility  </h4>
                        </div>

                    </div>
                </div>
            </div>
        </li>
        <li class="col-xs-12 col-md-6 col-lg-4">
            <div class="block">
                <h2 style="text-transform:none;">OUR MISSION</h2>

                <div class="bottom-block">
                    <p style="text-align:center;font-size:17px;">To ensure that women and children receive high quality, respectful and appropriate care, because good health and a life of dignity are their birthright.</p>
                </div>
                <h2 style="text-transform:none;">OUR VISION</h2>
                <div class="bottom-block" style="min-height:0;">
                    <p style="text-align:center;font-size:17px;">A world in which every woman and child has access to high quality, compassionate care, that enables a life of respect and dignity. </p>
                </div>
                <div class="bottom-block">
                    <p><a href="/Academics/OurMission" style="float:left;">Click here </a>&nbsp;for stories on how we are delivering on our mission and vision each day.</p>
                </div>
            </div>

        </li>
        <li class="col-xs-12 col-md-6 col-lg-4">
            <div class="block">
                <h2 style="text-transform:none;">OUR BRAND</h2>
                <div class="block-middle brand">
                    <a href="/Hospital/OurBrand">
                        <img src="/images/Fernandez.png" alt="Fernandez">
                        <span>RESPECTFUL CARE FOR WOMEN & CHILDREN</span>
                    </a>

                </div>
                <div class="bottom-block">
                    <p>Our brand is more than just a logo and its visual identity. It is the sum total of experiences  of all our stakeholders. </p>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="row cards-section">
    <ul>
        <li class="col-xs-12 col-md-6 col-lg-4">
            <div class="block birthday">
                <h2 style="text-transform:none;">Wish your colleagues a Very Happy Birthday</h2>
                <div class="block-middle">
                    <div class="birthday-text" id="todayemployeebirthday" style="text-align:center;height:260px;    overflow-y: auto;    padding-top: 40px;">
                        @*<img src="/images/Birthday_text.jpg" alt="Birthday_text">*@
                    </div>
                </div>
            </div>
        </li>
        <li class="col-xs-12 col-md-6 col-lg-4">
            <div class="block">
                <h2 style="text-transform:none;">Know more about our institutions</h2>
                <div class="block-middle">

                    <div class="institutions">
                        <ul style="float:left;width:49%;">
                            <li><a href="https://www.fernandezhospital.com/" target="_blank"><img src="/images/institutions-logo.png" style="width:170px;height:60px;" alt="institutions-logo"></a></li>
                            <li><a href="https://www.fernandezhospital.com/FHOPClinic-Miyapur/Default" target="_blank"><img src="/Images/BranchLogos/FH_Outpatient.jpg" style="width:170px;height:60px;" alt="institutions-logo"></a></li>
                            <li><a href="https://fernandezcdc.org/" target="_blank"><img src="/Images/BranchLogos/FCDC.jpg" style="width:170px;height:60px;" alt="institutions-logo"></a></li>
                            <li><a href="https://www.fernandezhospital.com/Nursing" target="_blank"><img src="/Images/BranchLogos/FSN.jpg" style="width:170px;height:60px;" alt="institutions-logo"></a></li>
                        </ul>
                        <ul style="float:right;width:49%;">
                            <li><a href="https://storkhome.in/" target="_blank"><img src="/Images/BranchLogos/Stork_Home.jpg" alt="institutions-logo"></a></li>
                            <li><a href="https://storkhome.in/" target="_blank"><img src="/Images/BranchLogos/Fernz.jpg" alt="institutions-logo"></a></li>
                            <li><a href="http://www.promise.org.in/"><img src="~/Images/BranchLogos/Promise.jpg" style="width:170px;height:60px;" alt="institutions-logo"></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </li>
        <li class="col-xs-12 col-md-6 col-lg-4">
            <div class="block">

                <div class="top">
                    <h2 style="text-transform:none;">Employee Search  <select id="selUser" onchange="Onchangeloadprofile();" class="form-control typeahead border-primary" name="query" data-provide="typeahead" autocomplete="off"></select></h2>
                    @*<div class="search-container">
                            <form action="/action_page.php">
                                <input type="text" placeholder="Search.." name="search">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>*@
                </div>
                <div class="block-middle contact2">
                    @*<table class="table table-striped" id="tblextenstionnumbers">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Extenstion</th>
                                    <th>Location</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <a href="/Home/ExtensionNumbers">View all contacts</a>*@

                    <div  style="width:100%;">

                        <div class="user">
                            <span>employee</span>
                            <span class="active">ACTIVE</span>
                            <div class="clearfix"></div>
                            <img id="profp_img" src="/Images/Fernandez.png" style="width:80px; height:80px;border-radius:50px;" alt="uesr-img">
                            <h5 id="profp_empname"></h5>
                            <small id="profp_designation"></small>
                            <table class="table table-bordered table-striped" style="width:100%;">
                                <tr>
                                    <td>
                                        Location <br>
                                        <strong style="color: #c4122f;" id="profp_location"></strong>
                                    </td>
                                    <td>
                                        Department <br>
                                        <strong style="color: #c4122f;" id="profp_dept"></strong>
                                    </td>
                                    <td>
                                        CUG number <br>
                                        <strong style="color: #c4122f;" id="profp_phone"></strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Extenstion <br>
                                        <strong style="color: #c4122f;" id="profp_Extenstion"></strong>
                                    </td>
                                    <td colspan="2">
                                        Email <br>
                                        <strong style="color: #c4122f;" id="profp_Email"></strong>
                                    </td>
                                   
                                </tr>
                            </table>


                            <div class="clearfix"></div>
                        </div>


                    </div>


                </div>

            </div>
        </li>
    </ul>
</div>
<div class="row cards-section">
    <ul>

        <li class="col-xs-12 col-md-6 col-lg-4">
            <div class="block">
                <h2 style="text-transform:none;">Human Relations Portal (Darwin Box)</h2>
                <div class="block-middle portal" style="min-height:0;">
                    <a href="https://myfernandez.darwinbox.in/user/login" target="_blank">
                        <img src="/images/img1.png" alt="img1">
                        <img src="/images/form-img.png" alt="form-img">
                    </a>
                </div>
                <div class="bottom-block">
                    <p>Your one stop shop for all employee related information and needs</p>
                </div>
            </div>
        </li>
        <li class="col-xs-12 col-md-6 col-lg-4">
            <div class="block">
                <h2 style="text-transform:none;">Welcome to the Fernandez Family</h2>
                <div class="block-middle family" style="min-height:0;">
                    <table class="table table-striped">
                        <tbody id="Newjoineess"></tbody>
                    </table>
                </div>
            </div>
        </li>
        <li class="col-xs-12 col-md-6 col-lg-4">
            <div class="block">
                <h2 style="text-transform:none;">CURRENT OPENINGS</h2>
                <div class="block-middle openings" style="min-height:0;padding:10px;">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>
                                    <p style="color: #c4122f;">Designation</p>
                                </td>
                                <td>
                                    <p style="color: #c4122f;">Department</p>
                                </td>
                                <td>
                                    <p style="color: #c4122f;">Unit</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Executive - PNDT</p>
                                </td>
                                <td width="160">
                                    <p>FMU</p>
                                </td>
                                <td width="123">
                                    <p>Unit 4</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Patient Care Assistant</p>
                                </td>
                                <td width="160">
                                    <p>Housekeeping</p>
                                </td>
                                <td width="123">
                                    <p>Unit 1</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Cleaning Staff</p>
                                </td>
                                <td width="160">
                                    <p>Housekeeping</p>
                                </td>
                                <td width="123">
                                    <p>Unit 2</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Diabetic Nurse</p>
                                </td>
                                <td width="160">
                                    <p>Nursing</p>
                                </td>
                                <td width="123">
                                    <p>Unit 5</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Lab Technician</p>
                                </td>
                                <td width="160">
                                    <p>Lab Services</p>
                                </td>
                                <td width="123">
                                    <p>Unit 2</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Security Supervisor</p>
                                </td>
                                <td width="160">
                                    <p>Security</p>
                                </td>
                                <td width="123">
                                    <p>All Units</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Coordinator - Labour Room</p>
                                </td>
                                <td width="160">
                                    <p>Nursing</p>
                                </td>
                                <td width="123">
                                    <p>Unit 1</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Ward In-charge</p>
                                </td>
                                <td width="160">
                                    <p>Nursing</p>
                                </td>
                                <td width="123">
                                    <p>Unit 1</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Office Attender</p>
                                </td>
                                <td width="160">
                                    <p>Housekeeping</p>
                                </td>
                                <td width="123">
                                    <p>Unit 1</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Helper</p>
                                </td>
                                <td width="160">
                                    <p>Maintenance</p>
                                </td>
                                <td width="123">
                                    <p>Unit 1</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Laundry Helper</p>
                                </td>
                                <td width="160">
                                    <p>Housekeeping</p>
                                </td>
                                <td width="123">
                                    <p>Unit 5</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Service Staff</p>
                                </td>
                                <td width="160">
                                    <p>Food &amp; Beverages</p>
                                </td>
                                <td width="123">
                                    <p>Unit 5</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Nurse Aide</p>
                                </td>
                                <td width="160">
                                    <p>Nursing</p>
                                </td>
                                <td width="123">
                                    <p>Unit 1</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Sr. Pharmacist</p>
                                </td>
                                <td width="160">
                                    <p>Pharmacy</p>
                                </td>
                                <td width="123">
                                    <p>Unit 1</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Executive</p>
                                </td>
                                <td width="160">
                                    <p>Central Appointments</p>
                                </td>
                                <td width="123">
                                    <p>Corporate</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Lift Attendant</p>
                                </td>
                                <td width="160">
                                    <p>Security</p>
                                </td>
                                <td width="123">
                                    <p>Unit 5</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Helper</p>
                                </td>
                                <td width="160">
                                    <p>Maintenance</p>
                                </td>
                                <td width="123">
                                    <p>Unit 5</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Executive - Data Entry</p>
                                </td>
                                <td width="160">
                                    <p>Lab Services</p>
                                </td>
                                <td width="123">
                                    <p>Unit 5</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Coordinator</p>
                                </td>
                                <td width="160">
                                    <p>OP Services</p>
                                </td>
                                <td width="123">
                                    <p>Unit 5</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Floor Coordinator</p>
                                </td>
                                <td width="160">
                                    <p>Operations</p>
                                </td>
                                <td width="123">
                                    <p>Unit 5</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Painter</p>
                                </td>
                                <td width="160">
                                    <p>Maintenance</p>
                                </td>
                                <td width="123">
                                    <p>Unit 2</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Nurse</p>
                                </td>
                                <td width="160">
                                    <p>Nursing</p>
                                </td>
                                <td width="123">
                                    <p>Unit 5</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Executive</p>
                                </td>
                                <td width="160">
                                    <p>Medical Records</p>
                                </td>
                                <td width="123">
                                    <p>Unit 2</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Executive</p>
                                </td>
                                <td width="160">
                                    <p>IP Services</p>
                                </td>
                                <td width="123">
                                    <p>Unit 5</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Executive</p>
                                </td>
                                <td width="160">
                                    <p>Billing</p>
                                </td>
                                <td width="123">
                                    <p>Unit 1</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Office Attender</p>
                                </td>
                                <td width="160">
                                    <p>Lab Services</p>
                                </td>
                                <td width="123">
                                    <p>Unit 5</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Executive</p>
                                </td>
                                <td width="160">
                                    <p>Customer Care</p>
                                </td>
                                <td width="123">
                                    <p>Unit 5</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Infection Control Nurse</p>
                                </td>
                                <td width="160">
                                    <p>Nursing</p>
                                </td>
                                <td width="123">
                                    <p>Unit 5</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Lab Technician</p>
                                </td>
                                <td width="160">
                                    <p>Lab Services</p>
                                </td>
                                <td width="123">
                                    <p>Unit 2</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Biomedical Engineer</p>
                                </td>
                                <td width="160">
                                    <p>Biomedical</p>
                                </td>
                                <td width="123">
                                    <p>Unit 1</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Executive</p>
                                </td>
                                <td width="160">
                                    <p>Customer Care</p>
                                </td>
                                <td width="123">
                                    <p>Unit 5</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Coordinator</p>
                                </td>
                                <td width="160">
                                    <p>OP Services</p>
                                </td>
                                <td width="123">
                                    <p>Unit 1</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Executive - Data Entry</p>
                                </td>
                                <td width="160">
                                    <p>Lab Services</p>
                                </td>
                                <td width="123">
                                    <p>Miyapur</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Telephone Operator</p>
                                </td>
                                <td width="160">
                                    <p>NICU Medical Records</p>
                                </td>
                                <td width="123">
                                    <p>Unit 2</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>HIV Counsellor</p>
                                </td>
                                <td width="160">
                                    <p>OP Services</p>
                                </td>
                                <td width="123">
                                    <p>Unit 2</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Executive</p>
                                </td>
                                <td width="160">
                                    <p>Customer Care</p>
                                </td>
                                <td width="123">
                                    <p>Unit 5</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Office Attender</p>
                                </td>
                                <td width="160">
                                    <p>Lab Services</p>
                                </td>
                                <td width="123">
                                    <p>Unit 1</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Executive</p>
                                </td>
                                <td width="160">
                                    <p>IP Services</p>
                                </td>
                                <td width="123">
                                    <p>Unit 2</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Runner Boy</p>
                                </td>
                                <td width="160">
                                    <p>Pharmacy</p>
                                </td>
                                <td width="123">
                                    <p>Unit 1</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Executive - Data Entry</p>
                                </td>
                                <td width="160">
                                    <p>FMU</p>
                                </td>
                                <td width="123">
                                    <p>Unit 4</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Pharmacist</p>
                                </td>
                                <td width="160">
                                    <p>Pharmacy</p>
                                </td>
                                <td width="123">
                                    <p>Unit 1</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Assistant Pharmacist</p>
                                </td>
                                <td width="160">
                                    <p>Pharmacy</p>
                                </td>
                                <td width="123">
                                    <p>Unit 1</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Executive</p>
                                </td>
                                <td width="160">
                                    <p>Medical Records</p>
                                </td>
                                <td width="123">
                                    <p>Unit 2</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Executive</p>
                                </td>
                                <td width="160">
                                    <p>Customer Care</p>
                                </td>
                                <td width="123">
                                    <p>Unit 1</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Executive</p>
                                </td>
                                <td width="160">
                                    <p>NICU Medical Records</p>
                                </td>
                                <td width="123">
                                    <p>Unit 1</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Executive(Travel Desk)</p>
                                </td>
                                <td width="160">
                                    <p>Facilities</p>
                                </td>
                                <td width="123">
                                    <p>Unit 5</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Executive</p>
                                </td>
                                <td width="160">
                                    <p>Customer Care</p>
                                </td>
                                <td width="123">
                                    <p>Unit 2</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Executive</p>
                                </td>
                                <td width="160">
                                    <p>IP Services</p>
                                </td>
                                <td width="123">
                                    <p>Unit 1</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Secretary</p>
                                </td>
                                <td width="160">
                                    <p>Genetics</p>
                                </td>
                                <td width="123">
                                    <p>Unit 4</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Lab Technician</p>
                                </td>
                                <td width="160">
                                    <p>Lab Services</p>
                                </td>
                                <td width="123">
                                    <p>Unit 1</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Research Coordinator</p>
                                </td>
                                <td width="160">
                                    <p>Clinical Research</p>
                                </td>
                                <td width="123">
                                    <p>Unit 4</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Research Associate</p>
                                </td>
                                <td width="160">
                                    <p>Clinical Nutrition <br /> &amp; Dietetics</p>
                                </td>
                                <td width="123">
                                    <p>All Units</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Dietician</p>
                                </td>
                                <td width="160">
                                    <p>Clinical Nutrition <br /> &amp; Dietetics</p>
                                </td>
                                <td width="123">
                                    <p>All Units</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="164">
                                    <p>Research Coordinator</p>
                                </td>
                                <td width="160">
                                    <p>Clinical Nutrition <br /> &amp; Dietetics</p>
                                </td>
                                <td width="123">
                                    <p>All Units</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </li>
    </ul>
</div>
<div id="snackbar" class="snackbar" style="background:linear-gradient(to bottom,  rgba(217,39,64,1) 35%,rgba(146,0,0,1) 77%) ;color: white; border:solid 1px #eee;">
    <img src="~/ckeditor/plugins/smiley/images/thumbs_up.png" />&nbsp; Successfully Submitted.
    <img src="~/ckeditor/plugins/smiley/images/regular_smile.png" />
</div>
<div class="modal fade" id="exampleModalCenter">
    <div class="modal-dialog" style="padding-top:10%;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Enter your comments</h4>

            </div>
            <div class="modal-body">
                @if (Request.IsAuthenticated)
                {
                    <textarea id="txtcommentondrevita" class="form-control" placeholder="Please enter here" rows="4" style="width:100%;min-width:100%;"></textarea>
                }
                else
                {
                    <p> To comment on Dr.Evita's message please <a href="/Account/Login">click here</a> to login </p>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @if (Request.IsAuthenticated)
                {
                    <button type="button" class="btn btn-primary" onclick="SubmitCommentOnDrEvita();">Submit</button>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalCenter2">
    <div class="modal-dialog" style="padding-top:10%;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Comment on Video </h4>

            </div>
            <div class="modal-body">
                @if (Request.IsAuthenticated)
                {
                    <textarea id="txtcommentOnVideo" class="form-control" rows="4" style="width:100%;min-width:100%;"></textarea>
                }
                else
                {
                    <p> Please login to comment <a href="/Account/Login">Click Here.</a></p>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" placeholder="Please enter here" data-dismiss="modal">Close</button>
                @if (Request.IsAuthenticated)
                {
                    <button type="button" class="btn btn-primary" onclick="SubmitCommentOnVideo();">Submit</button>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ShareMDmessage">
    <div class="modal-dialog" style="padding-top:10%;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Share MD Message</h4>
            </div>
            <div class="modal-body">
                <label>Enter E-Mail id(s) to send </label>
                <textarea id="txtemailidforshareMd" class="form-control" rows="4" style="width:100%;min-width:100%;"></textarea>
                <p style="font-size:10px;">If you want to send multiple pursons enter with comma(,) saparate</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" placeholder="Please enter here" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="ShareMDmessagetoemail();">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ShareTheVideo">
    <div class="modal-dialog" style="padding-top:10%;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Share The Video</h4>
            </div>
            <div class="modal-body">
                <label>Enter E-Mail id(s) to send </label>
                <textarea id="txtemailidforshareMd" class="form-control" rows="4" style="width:100%;min-width:100%;"></textarea>
                <p style="font-size:10px;">If you want to send multiple pursons enter with comma(,) saparate</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" placeholder="Please enter here" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="ShareVideotoemail();">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ShareVideo">
    <div class="modal-dialog" style="padding-top:10%;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Share Video </h4>

            </div>
            <div class="modal-body">
                <label>Enter E-Mail id(s) to send </label>
                <textarea id="txtemailidforshareVideo" class="form-control" rows="4" style="width:100%;min-width:100%;"></textarea>
                <p style="font-size:10px;">If you want to send multiple pursons enter with comma(,) saparate</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" placeholder="Please enter here" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="ShareVideoToemail();">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ourvaluesmodel">
    <div class="modal-dialog model-bg" style="padding-top:10%;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 style="color: #c4122f;" id="ourvaluestitle"></h4>
            </div>
            <div class="modal-body" style="padding:2px;">
                <p id="ourvaluesbody" style="padding:1px;"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" placeholder="Please enter here" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AlertModel">
    <div class="modal-dialog" style="padding-top:10%;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 style="color: #c4122f;" id="ourvaluestitle">Alert</h4>
            </div>
            <div class="modal-body" style="padding:2px;">
                @if (Request.IsAuthenticated)
                {
                    <textarea id="txtcomment" class="form-control" rows="4" style="width:100%;min-width:100%;"></textarea>
                }
                else
                {
                    <p style="padding:20px;text-align:center;"> Please  <a href="/Account/Login">login </a> to like.</p>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" placeholder="Please enter here" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $("[data-toggle=popover]").popover();
        GetTodayJoines();
        GetTodayBirthdays();
        //GetMdMessage();
        LoadExtenstionNumbers();
        LoadLikesCount();
        LoadComments();
        LoadCommentsbyKey("HomePageVideo", "TotalCommentsVideo", "TotalCommentsVideoData");
        LoadSharesCount();
        LoadSharesCountByKey("HomePageVideo", "TotalSharesVideo");
        LoadLikesCountByKey("HomePageVideo", "TotalLikesVideo");
    });
    function ourvaluesmodel(typeofour) {
        $("#ourvaluestitle").html(typeofour);
        switch (typeofour) {
            case "Service":
                $("#ourvaluesbody").html('<img src="/Images/OurValues/Service.jpg" style="width:100%;" />');
                break;
            case "Respect":
                $("#ourvaluesbody").html('<img src="/Images/OurValues/Respect.jpg" style="width:100%;" />');
                break;
            case "Compassion":
                $("#ourvaluesbody").html('<img src="/Images/OurValues/Compassion.jpg" style="width:100%;" />');
                break;
            case "Responsibility":
                $("#ourvaluesbody").html('<img src="/Images/OurValues/Responsibility.jpg" style="width:100%;" />');
                break;
            case "Integrity":
                $("#ourvaluesbody").html('<img src="/Images/OurValues/Integrity.jpg" style="width:100%;" />');
                break;
        }
        $("#ourvaluesmodel").modal('show');
    }
    function LoadLikesCountByKey(key, id) {
        $.ajax({
            type: "GET",
            url: "/Home/GetTotalLikes",
            data: "key=" + key,
            success: function (data) {
                $("#" + id).html(parseInt(data));
            },
            error: function () {
                // alert("error")
            }
        });
    }
    function LoadLikesCount() {
        var key = "MdMessage";
        //TotalLikes
        LoadLikesCountByKey("MdMessage", "TotalLikes");
    }
    function LoadSharesCount() {
        var key = "MdMessage";
        LoadSharesCountByKey(key, "TotalShares");
    }
    function LoadSharesCountByKey(key, id) {
        $.ajax({
            type: "GET",
            url: "/Home/GetTotalShare",
            data: "key=" + key,
            success: function (data) {
                $("#" + id).html(data);
            },
            error: function () {
                // alert("error")
            }
        });
    }
    function ShareVideotoemail() {
        $.ajax({
            type: "GET",
            url: "/Home/SendTheVideoEmail",
            data: "emailids=" + $("#txtemailidforshareVideo").val(),
            success: function (data) {
                $("#txtemailidforshareVideo").val("");
                $("#ShareTheVideo").modal("hide");
                alert("Success");
                LoadSharesCountByKey("HomePageVideo", "TotalSharesVideo");
            },
            error: function () {
                // alert("error")
            }
        });
    }
    function ShareMDmessagetoemail() {

        $.ajax({
            type: "GET",
            url: "/Home/SendMDPostThoughEmail",
            data: "emailids=" + $("#txtemailidforshareMd").val(),
            success: function (data) {
                $("#ShareMDmessage").modal("hide");
                alert("Success"); LoadSharesCount();
            },
            error: function () {
                // alert("error")
            }
        });
    }
    function LoadExtenstionNumbers() {
        $('#tblextenstionnumbers').dataTable({

            "bServerSide": true,
            "sAjaxSource": "/Home/AjaxGetExtensionNumbersWithoutFloor",
            "bProcessing": true,

            "bDestroy": true,
            "aLengthMenu": [[5, 10, 20, 30, 50, 100, 150, 200, -1], [5, 10, 20, 30, 50, 100, 150, 200, "All"]],
            //"aaSorting": [[0, "desc"]],
            "aoColumns": [

                { "sName": "Name" },
                { "sName": "Extension" },
                { "sName": "Location" }
            ]
        });
        $("#tblextenstionnumbers_length").css("display", "none");
        $("#tblextenstionnumbers_paginate").css("display", "none");
    }
    function GetTodayJoines() {
        $.ajax({
            type: "GET",
            url: "/Home/GetTodayJoines",
            success: function (data) {
                var html = "";
                var month = new Array();
                month[0] = "Jan";
                month[1] = "Feb";
                month[2] = "Mar";
                month[3] = "Apr";
                month[4] = "May";
                month[5] = "Jun";
                month[6] = "Jul";
                month[7] = "Aug";
                month[8] = "Sep";
                month[9] = "Oct";
                month[10] = "Nov";
                month[11] = "Dec";
                if (data != "No Joines") {
                    for (var i = 0; i < data.length; i++) {
                        var date = new Date(parseInt(data[i].DateOfJoining.replace(/[^0-9 +]/g, '')));
                        //var date = new Date(Date.parse(data[i].DateOfJoining));
                        html += '<tr><td><img src="/Images/Employees/' + data[i].EmpId + '.jpg" style="width:53px;height:53px;" alt="img"></td><td><span>' + data[i].FirstName + ' ' + data[i].LastName + '</span> <br>' + data[i].Designation + '</td>';
                        html += '<td><span>' + (date.getUTCDate()) + '</span><br>' + (month[date.getMonth()]) + ' ' + date.getFullYear() + '</td></tr>';
                        //html += "<div style='font-size: 22px;font-style: italic;font-family: cambria;color:teal;padding:5px;'>" + data[i].FirstName + " " + data[i].LastName + " -  " + data[i].DepartmentName + "</div>";
                    }
                    $("#Newjoineess").html(html);
                }
                else {
                    $("#Newjoineess").html("No Joiners");
                }
            },
            error: function () {

            }
        });
    }
    function GetTodayBirthdays() {

        $.ajax({
            type: "GET",
            url: "/Home/GetTodayBirthdays",
            //data: "key=" + key,
            success: function (data) {
                //var html = "<table class='table table-bordered'><thead><tr><td> Emp Id</td><td>Emp Name</td><td> Location</td><td> Department</td><td> DOB</td><td> Mobile</td><td> Extenstion</td></tr></thead>";
                var html = "";
                if (data != "No Birth Days") {
                    //html += "<tbody>";
                    for (var i = 0; i < data.length; i++) {

                        html += "<div style='font-size: 22px;/*font-family: Swiss721 Cn BT;*/color:teal;padding:5px;'>" + data[i].FirstName + " " + data[i].LastName + " -  " + data[i].DepartmentName + "</div>";
                    }
                    //html += "</tbody></table>";
                    $("#todayemployeebirthday").html(html);
                }
                else {
                    $("#todayemployeebirthday").html("No Birth Days");
                }
            },
            error: function () {
                // alert("error")
            }
        });
    }
    function LikeThePage() {
        var key = "MdMessage";
        LikeBasedOnKey(key);
    }
    function LikeTheVideo() {
        var key = "HomePageVideo";
        LikeBasedOnKey(key);
    }
    function LikeBasedOnKey(key) {
        $.ajax({
            type: "GET",
            url: "/Home/SaveLikes",
            data: "key=" + key,
            success: function (data) {
                if (data == "Success") {
                    $("#snackbar").addClass("show");
                    $("#snackbar").css("visibility", "visible");
                    setTimeout(function () { $("#snackbar").removeClass("show"); $("#snackbar").css("visibility", "hidden"); }, 5000);
                } else {
                    if (data == "" || data == null) {
                        $("#AlertModel").modal("show");
                    } else
                        alert(data);
                }

                if (key == "HomePageVideo") {
                    LoadLikesCountByKey("HomePageVideo", "TotalLikesVideo");
                } else {
                    LoadLikesCount();
                }
            },
            error: function () {
                // alert("error")
            }
        });
    }
    function SubmitCommentOnDrEvita() {
        if (confirm("Are you sure you want to submit?")) {
            var key = "MdMessage";
            $.ajax({
                type: "GET",
                url: "/Home/SaveComment",
                data: "key=" + key + "&Message=" + $("#txtcommentondrevita").val(),
                success: function (data) {
                    $("#txtcommentondrevita").val("");
                    $("#exampleModalCenter").modal("hide");
                    alert("Comment updated Successfully");
                },
                error: function () {
                    // alert("error")
                }
            });
        }
    }
    function SubmitCommentOnVideo() {
        if (confirm("Are you sure you want to submit?")) {
            var key = "HomePageVideo";
            $.ajax({
                type: "GET",
                url: "/Home/SaveComment",
                data: "key=" + key + "&Message=" + $("#txtcommentOnVideo").val(),
                success: function (data) {
                    $("#txtcommentOnVideo").val("");
                    $("#exampleModalCenter2").modal("hide");
                    alert("Comment updated Successfully");
                },
                error: function () {
                    // alert("error")
                }
            });
        }
    }
    function GetMdMessage() {
        var key = "MdMessage";
        $.ajax({
            type: "GET",
            url: "/Home/GetSettings",
            data: "key=" + key,
            success: function (data) {
                $("#HrMdMessage").html(data.substring(0, 250) + '<a href="/Home/MdMessageMore">Read more...</a>');
            },
            error: function () {
                // alert("error")
            }
        });
    }
    function LoadCommentsbyKey(key, id, subid) {

        $.ajax({
            type: "GET",
            url: "/Home/GetCommentsbyPostId",
            data: "key=" + key,
            success: function (data) {
                $("#" + id).html(data.length);

                var htmlupdate = "";
                for (var j = 0; j < data.length; j++) {
                    htmlupdate += "<div class='col-md-6'><div class='list-group'>";
                    htmlupdate += "<div  class='list-group-item list-group-item-action flex-column align-items-start'>";
                    htmlupdate += "<div class='d-flex w-100 justify-content-between'>";
                    htmlupdate += "<h5 class='mb-1' style='color:crimson;font-weight:bold;'> <span class='glyphicon glyphicon-user'></span> " + data[j].CommentedBy + "<span style='float:right;color:green;'> <span class='glyphicon glyphicon-calendar'></span> " + data[j].CommentedOn + "</span></h5>";
                    //htmlupdate += "<small class='text-muted'>" + data[i].Comments[j].CreatedOn + "</small>";
                    htmlupdate += "</div>";

                    htmlupdate += "<p class='mb-1'><span class='glyphicon glyphicon-comment'></span> " + data[j].Message + "</p>";

                    htmlupdate += "</div>";
                    htmlupdate += "</div>";
                    htmlupdate += "</div>";
                }
                $("#" + subid).html(htmlupdate);
            },
            error: function () {
                // alert("error")
            }
        });
    }
    function LoadComments() {
        LoadCommentsbyKey("MdMessage", "TotalComments", "TotalCommentsData");
    }
</script>
<script>
    $(document).ready(function () {

        $("#selUser").select2({
            ajax: {
                url: "/Home/GetEmployeeSearch",
                type: "get",
                dataType: 'json',

                //delay: 250,
                data: function (params) {
                    return {
                        searchTerm: params.term // search term
                    };
                },
                processResults: function (response) {
                    return {
                        results: response
                    };
                },
                cache: true
            },
            minimumInputLength: 4
        });
    });
    function Onchangeloadprofile() {
        $.get("/Home/GetEmployeeById?Userid=" + $("#selUser").val(), function (data) {
            $("#profp_empname").html(data.FirstName + " " + data.LastName);
            checkImage("/Images/Employees/" + data.EmpId + ".jpg", function () {
                $("#profp_img").attr("src", "/Images/Employees/" + data.EmpId + ".jpg");
            }, function () {
                $("#profp_img").attr("src", "/Images/Employees/" + data.EmpId + ".png");
            });

            $("#profp_designation").html(data.Designation);
            $("#profp_location").html(data.LocationName);

            $("#profp_dept").html(data.DepartmentName);
            $("#profp_Email").html(data.EmailId);

            $("#profp_Extenstion").html(data.Extenstion);
            $("#profp_phone").html(data.PhoneNumber);
            $("#moreabout").html("About");
            $("#profp_DOJ").html(moment(data.DateOfJoining).format("DD/MM/YYYY"));
        });

    }

    function checkImage(src, good, bad) {
        var img = new Image();
        img.onload = good;
        img.onerror = bad;
        img.src = src;
    }
</script>