
@{
    ViewBag.Title = "NewTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row section-helpdesk">
    <h2>Helpdesk</h2>
    <ul>
        <li class="col-xs-12 col-sm-4 col-md-3 col-lg-3" data-toggle="modal" data-target="#myModal">
            <div class="helpdesk-block">
                <img src="/Images/icon4.png" alt="icon">
                <h6>New  Request</h6>
                <p>
                    Raise your new request from
                    your hr portal and check details
                </p>
                <span>&bull; &bull; &bull;</span>
            </div>
        </li>
        <li class="col-xs-12 col-sm-4 col-md-3 col-lg-3" data-toggle="modal" data-target="#myModal">
            <div class="helpdesk-block">
                <img src="/Images/icon5.png" alt="icon">
                <h6>BOOK CONFIRENCE</h6>
                <p>
                    Raise your new request from
                    your hr portal and check details
                </p>
                <span>&bull; &bull; &bull;</span>
            </div>
        </li>
        <li class="col-xs-12 col-sm-4 col-md-3 col-lg-3" data-toggle="modal" data-target="#myModal">
            <div class="helpdesk-block">
                <img src="/Images/icon6.png" alt="icon">
                <h6>Vehicle Booking</h6>
                <p>
                    Raise your new request from
                    your hr portal and check details
                </p>
                <span>&bull; &bull; &bull;</span>
            </div>
        </li>
        <li class="col-xs-12 col-sm-4 col-md-3 col-lg-3" data-toggle="modal" data-target="#myModal">
            <div class="helpdesk-block">
                <img src="/Images/icon7.png" alt="icon">
                <h6>Purchase Request</h6>
                <p>
                    Raise your new request from
                    your hr portal and check details
                </p>
                <span>&bull; &bull; &bull;</span>
            </div>
        </li>
        <li class="col-xs-12 col-sm-4 col-md-3 col-lg-3" data-toggle="modal" data-target="#myModal">
            <div class="helpdesk-block">
                <img src="/Images/icon8.png" alt="icon">
                <h6>Maintenance </h6>
                <p>
                    Raise your new request from
                    your hr portal and check details
                </p>
                <span>&bull; &bull; &bull;</span>
            </div>
        </li>
        <li class="col-xs-12 col-sm-4 col-md-3 col-lg-3" data-toggle="modal" data-target="#myModal">
            <div class="helpdesk-block">
                <img src="/Images/icon9.png" alt="icon">
                <h6>HR</h6>
                <p>
                    Raise your new request from
                    your hr portal and check details
                </p>
                <span>&bull; &bull; &bull;</span>
            </div>
        </li>
        <li class="col-xs-12 col-sm-4 col-md-3 col-lg-3" data-toggle="modal" data-target="#myModal">
            <div class="helpdesk-block">
                <img src="/Images/icon10.png" alt="icon">
                <h6>Bio Medical</h6>
                <p>
                    Raise your new request from
                    your hr portal and check details
                </p>
                <span>&bull; &bull; &bull;</span>
            </div>
        </li>
        <li class="col-xs-12 col-sm-4 col-md-3 col-lg-3" data-toggle="modal" data-target="#myModal">
            <div class="helpdesk-block">
                <img src="/Images/icon11.png" alt="icon">
                <h6>Academics</h6>
                <p>
                    Raise your new request from
                    your hr portal and check details
                </p>
                <span>&bull; &bull; &bull;</span>
            </div>
        </li>
        <li class="col-xs-12 col-sm-4 col-md-3 col-lg-3" data-toggle="modal" data-target="#myModal">
            <div class="helpdesk-block">
                <img src="/Images/icon12.png" alt="icon">
                <h6>Clinical Research</h6>
                <p>
                    Raise your new request from
                    your hr portal and check details
                </p>
                <span>&bull; &bull; &bull;</span>
            </div>
        </li>
        <li class="col-xs-12 col-sm-4 col-md-3 col-lg-3" data-toggle="modal" data-target="#myModal">
            <div class="helpdesk-block">
                <img src="/Images/icon13.png" alt="icon">
                <h6>House Keeping</h6>
                <p>
                    Raise your new request from
                    your hr portal and check details
                </p>
                <span>&bull; &bull; &bull;</span>
            </div>
        </li>
    </ul>
    <div class="clearfix"></div>



</div>

<!-- Extended default form grid -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="form-block">
        <h3>New task</h3>
        <form>
            <!-- Grid row -->
            <div class="form-row">
                <!-- Default input -->
                <div class="form-group col-md-6">
                    <label>Creator Name</label>
                    <input type="text" class="form-control" placeholder="Admin">
                </div>
                <!-- Default input -->
                <div class="form-group col-md-6">
                    <label>Assign Location*</label>
                    <select class="form-control">
                        <option>Select location</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Assign Department*</label>
                    <select class="form-control">
                        <option>Select department</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <!-- Default input -->
                <div class="form-group col-md-6">
                    <label>Category Of Complaint*</label>
                    <select class="form-control">
                        <option>Select complaint category</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>

                <!-- Default input -->
                <div class="form-group col-md-6">
                    <label>Extension no *</label>
                    <select class="form-control">
                        <option>Select ext</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Email address</label>
                    <input type="text" class="form-control" placeholder="Enter your email address">
                </div>
                <div class="form-group col-md-6">
                    <label>Document</label>
                    <input type="file" class="form-control" placeholder="No file selected">
                </div>
                <div class="form-group col-md-6">
                    <label>Subject*</label>
                    <input type="text" class="form-control" placeholder="Create title">
                </div>

                <div class="form-group col-md-12">
                    <label>Description</label>
                    <textarea class="form-control" rows="3" placeholder="Type subject here"></textarea>
                </div>

                <div class="form-group col-md-12">
                    <button type="submit" class="btn save">SAVE</button>
                    <button type="button" data-dismiss="modal" class="btn cancel">Cancel</button>
                </div>
                <div class="clearfix"></div>
            </div>

            <!-- Grid row -->


        </form>
    </div>
</div>
