@model WebApplicationHsApp.DataModel.tbl_Task

@{
    ViewBag.Title = "ViewDescription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="~/Home/Index">Home</a></li>
    <li class="active"><a href="~/Home/MyTask">MyTask</a></li>
</ul>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">View Description- @Model.TaskId</h3>
    </div>

    <div class="panel-body">
        <table class="table table-bordered">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Description)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Description)
                </td>
            </tr>

        </table>

    </div>

</div>

