<p>
    On the following pages are questions about activities babies may do. Your baby may have already done some of the activities described here, and there may be some your baby has not begun doing yet. For each item, please fill in the circle that indicates whether your baby is doing the activity regularly, sometimes, or not yet.
</p>
<p>Important Points to Remember:</p>
<ul>
    <li>Try each activity with your baby before marking a response.</li>
    <li>Make completing this questionnaire a game that is fun for you and your baby.</li>
    <li>
        Make sure your baby is rested and fed.”
    </li>
</ul>




