
@{
    ViewBag.Title = "SelectMonth";
    Layout = "~/Views/Shared/_LayoutAsq.cshtml";
}

<div style="border-top: solid 5px #ffcc15;">

    <div class="row">
        <div style="width:80%;float:left;">
            <h4 style="color: #ffcc15;">Development Assessment (ASQ) </h4>


            <p style="font-size:17px; text-align:justify;">
                The Ages and Stages Questionnaire is a developmental screening tool that helps to look at the developmental progress in children between the ages of 1 month and 5 ½ years. The ASQ helps to pinpoint possible autism-related concerns, enabling prompt intervention and support.
                <br />
                Early detection of ASD is vital for a child’s long-term growth, as it allows tailored strategies to be implemented for optimal progress. The ASQ is not a diagnostic tool but a screening instrument that guides further evaluation by a qualified professional.
                It is simple and easy to use. Choose the appropriate month, fill in the questionnaire and submit it.

            </p>
        </div>

        <div style="text-align: right; width: 19%; float: right;">
            <br />
            <img class="img-responsive" style="max-height:100px;" src="~/Images/ASQ/ASQ.png" />
        </div>
    </div>

    <div class="Asqrow">
        <div class="Asqrowfirst">
            <a href="~/Asq/Index?name=6Month"><img src="~/Images/ASQ/Asqpage/01.png" class="img-responsive" style="max-width:180px;" /></a>
        </div>
        <div class="Asqrowfirst">
            <a href="~/Asq/Index?name=9Month"><img src="~/Images/ASQ/Asqpage/02.png" class="img-responsive" style="max-width:180px;" /></a>
        </div>

        <div class="Asqrowfirst">
            <a href="~/Asq/Index?name=12Month"><img src="~/Images/ASQ/Asqpage/03.png" class="img-responsive" style="max-width:180px;" /></a>
        </div>
        <div class="Asqrowfirst">
            <a href="~/Asq/Index?name=18Month"><img src="~/Images/ASQ/Asqpage/04.png" class="img-responsive" style="max-width:180px;" /></a>
        </div>

        <div class="Asqrowfirst">
            <a href="~/Asq/Index?name=24Month"><img src="~/Images/ASQ/Asqpage/05.png" class="img-responsive" style="max-width:180px;" /></a>
        </div>
        <div class="Asqrowfirst">
            <a href="~/Asq/Index?name=30Month"><img src="~/Images/ASQ/Asqpage/06.png" class="img-responsive" style="max-width:180px;" /></a>
        </div>

        <div class="Asqrowfirst">
            <a href="~/Asq/Index?name=36Month"><img src="~/Images/ASQ/Asqpage/07.png" class="img-responsive" style="max-width:180px;" /></a>
        </div>
        <div class="Asqrowfirst">
            <a href="~/Asq/Index?name=42Month"><img src="~/Images/ASQ/Asqpage/08.png" class="img-responsive" style="max-width:180px;" /></a>
        </div>

        <div class="Asqrowfirst">
            <a href="~/Asq/Index?name=48Month"><img src="~/Images/ASQ/Asqpage/09.png" class="img-responsive" style="max-width:180px;" /></a>
        </div>
        <div class="Asqrowfirst">
            <a href="~/Asq/Index?name=60Month"><img src="~/Images/ASQ/Asqpage/10.png" class="img-responsive" style="max-width:180px;" /></a>
        </div>

    </div>
</div>
<br />
<br />







