
@{
    ViewBag.Title = "BiomedicalWaste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<script>
    var validate = true;
    var eId = 0;
    var oTable;
    $(document).ready(function () {
        LoadData();
        LoadLocations();

        $("#txtFromDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd/mm/yy",
            yearRange: "-30:+30",
            Edit: true
        });
        $("#txtToDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd/mm/yy",
            yearRange: "-30:+30",
            Edit: true
        });;

    });
    function LoadData() {
        oTable = $('#tblDemoRegister').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/Register/AjaxGetBiomedicalWaste",
            "bProcessing": true,
            "bDestroy": true,
            "aLengthMenu": [[10, 20, 30, 50, 100, 150, 200, -1], [10, 20, 30, 50, 100, 150, 200, "All"]],
            "aoColumns": [
                { "sName": "Id" },
                { "sName": "Name" },
                { "sName": "" },
                { "sName": "" },
                { "sName": "" },
                { "sName": "" },
                { "sName": "" },
                /*{ "sName": "" },*/
                { "sName": "" },
                { "sName": "" },
                { "sName": "" },
                { "sName": "" },
                { "sName": "" },
                {
                           "sName": "Id",
                           "bSortable": false,
                           "render": function (data, row, r) {

                               return '<div class="btn-group">' +
                                   '<div class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th-list"></span></div>' +
                                   '<ul class="dropdown-menu dropdown-menu-right">' +
                                   '<li><a href="javascript:void(0);"  onclick="ViewDetails(' + data + ')">View</a></li>' +
                                  /* '<li><a href="javascript:void(0);"  onclick="UpdateDetails(' + data + ')">Update Details</a></li>' +*/
                                   //'<li><a href="javascript:void(0);"  onclick="onDelete(' + data + ')">Delete</a></li>' +
                                   '</ul></div>';
                           }
                }
            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                //$('td:eq(1)', nRow).html('<a href="javascript:void(0);" id="' + aData[0] + '" onclick="ViewDetails(this.id);">' + aData[1] + '</a>');
            }
            ,
            "fnServerParams": function (aoData) {
                aoData.push(
                    { "name": "locationid", "value": $("#LocationId2").val() },
                    { "name": "fromdate", "value": $("#txtFromDate").val() },
                    { "name": "todate", "value": $("#txtToDate").val() },
                );
            }
        });
        $("#tblDemoRegister_length").addClass("d-none");
        $("#tblDemoRegister_length").addClass("d-sm-block");
        //$("#tblValetParking_length").addClass("col-xs-6");
    }
    function UpdateDetails(id) {
        eId = id;
        window.location = "/Register/DaakUpdate?id=" + id;
        //$.get("/Custom/GetDailyVisiting?id=" + id, function (data) {
        //    $("#myModalUpdate").modal('show');
        //});
    }
    function GetDatestr(date) {
        var d = new Date(parseInt(date.substr(6)));
        return d.toLocaleString("en-GB");
    }
    function ViewDetails(id) {
        eId = id;
        $.get("/Register/GetRegister_BiomedicalWaste?id=" + id, function (data) {
            var html = "<table class='table table-bordered'>";
            
            html += "<tr><td>Location</td><td>" + getlocationame(data.LocationId) + "</td></tr>";
            html += "<tr><td>Date Of Register</td><td>" + GetDatestr(data.CreatedOn) + "</td></tr>";
            html += "<tr><td>Slip No</td><td>" + data.SlipNo + "</td></tr>";
            html += "<tr><td>Name Of HCE</td><td>" + data.NameOfHCE + "</td></tr>";
            html += "<tr><td>Medicare RegistratioNo</td><td>" + data.MedicareRegistratioNo + "</td></tr>";
            html += "<tr><td>Taken By</td><td>" + data.TakenBy + "</td></tr>";
            //html += "<tr><td>Security</td><td>" + data.Security + "</td></tr>";
            html += "<tr><td>Yellow NoOfBags</td><td>" + data.YellowNoOfBags + "</td></tr>";
            html += "<tr><td>Yellow WeightKgs</td><td>" + data.YellowWeightKgs + "</td></tr>";

            html += "<tr><td>Blue NoOfBags</td><td>" + data.BlueNoOfBags + "</td></tr>";
            html += "<tr><td>Blue WeightKgs</td><td>" + data.BlueWeightKgs + "</td></tr>";

            html += "<tr><td>Red NoOfBags</td><td>" + data.RedNoOfBags + "</td></tr>";
            html += "<tr><td>Red WeightKgs</td><td>" + data.RedWeightKgs + "</td></tr>";

            html += "<tr><td>Sharps NoOfBags</td><td>" + data.SharpsNoOfBags + "</td></tr>";
            html += "<tr><td>Sharps WeightKgs</td><td>" + data.SharpsWeightKgs + "</td></tr>";

            html += "<tr><td>Remarks </td><td>" + (data.Remarks) + "</td></tr>";



            if (data.TakenBySign != null && data.TakenBySign != "") {
                html += "<tr><td>TakenBy Sign</td><td><img style='border-radius:50%;width:100px;'src='/Documents/" + data.TakenBySign + "' /></td></tr>";
            }
            if (data.SecuritySign != null && data.SecuritySign != "") {
                html += "<tr><td>Security Sign</td><td><img style='border-radius:50%;width:100px;'src='/Documents/" + data.SecuritySign + "' /></td></tr>";
            }

            html += "</table>";
            $("#tableview").html(html);
            $("#myModalView").modal('show');
        });
    }
    var locations;
    function LoadLocations() {
        $.ajax({
            type: "POST",
            url: "/Common/GetLocations",
            //data: "id=",
            success: function (data) {
                locations = data;
                var options = [];
                options.push('<option value="">- All Locations -</option>');
                for (var i = 0; i < data.length; i++) {
                    options.push('<option value="' + data[i].LocationId + '">' + data[i].LocationName + '</option>');
                }
                $("#LocationId").html(options.join(''));
                $("#LocationId2").html(options.join(''));
            },
            error: function () {
                alert("error")
            }
        });
    }
    function getlocationame(id) {
        for (var i = 0; i < locations.length; i++) {
            if (locations[i].LocationId == id) {
                return locations[i].LocationName;
            }
        }
        return '';
    }

    function Loaddynamicdata() {
        oTable.api().ajax.reload(null, false);
    }
    function onDelete(id) {
        if (confirm('Are you sure you want to delete?')) {
            $.getJSON("@Url.Action("DeleteDailyVisiting", "Custom")", { id: id }, function (data) {
                clearAll();
                oTable.api().ajax.reload(null, false);
            });
        } return false;
    }

    function clearAll() {
        $(".css-error").removeClass('css-error');
        eId = 0;
    }

    function ExportExcelData() {
        $("#myModalExportExcel").modal('show');
    }
    function FinalExportExcel() {
        if ($("#txtFromDate").val() != null && $("#txtFromDate").val() != "" && $("#txtToDate").val() != null && $("#txtToDate").val() != "") {
            var url = '/Register/ExportExcelBiomedicalWasteRegister?FromDate=' + $("#txtFromDate").val() + '&ToDate=' + $("#txtToDate").val();
            window.location = url;

        } else {
            alert("Please select from date and todae");
        }
    }

    function FinalExportPdf() {
        if ($("#txtFromDate").val() != null && $("#txtFromDate").val() != "" && $("#txtToDate").val() != null && $("#txtToDate").val() != "") {
            var url = '/Register/ExportPdfBiomedicalWasteRegister?FromDate=' + $("#txtFromDate").val() + '&ToDate=' + $("#txtToDate").val();
            window.location = url;

        } else {
            alert("Please select from date and todae");
        }
    }
    function closeallnew() {
        $("#myModalnew").modal('hide');
    }
    function newmodalshow() {
        //$("#myModalnew").modal('show');
        window.location.href = "/Register/NewBiomedicalWaste";
    }
</script>
<div class="panel panel-default">
    <div class="panel-heading" style="height:35px;"><a href="~/Register/Index">Go Back</a> &nbsp;&nbsp; Manage Biomedical Waste Register <span style="color:orangered; cursor:pointer; float:right;" onclick="newmodalshow()">&nbsp;&nbsp;&nbsp;&nbsp;New</span>  </div>
    <div class="panel-body">
        <div class="row" style="padding:5px;">
            <div class="col-md-2 col-xs-6">
                <select id="LocationId2" class="form-control" onchange="Loaddynamicdata()">
                    <option value="">Select</option>
                </select>
            </div>
            <div class="col-md-2 col-xs-6">
                <input type="text" class="form-control" placeholder="From Date" id="txtFromDate" readonly="readonly" autocomplete="off" />
            </div>
            <div class="col-md-2 col-xs-6">
                <input type="text" class="form-control" placeholder="To Date" id="txtToDate" readonly="readonly" autocomplete="off" />
            </div>
            <div class="col-md-1 col-xs-6" style="text-align:left !important;">
                <input type="button" class="btn btn-primary" id="btnsave" value="Go" style="float:left;" onclick="Loaddynamicdata();" />
            </div>
            <div class="col-md-1 col-xs-6" style="text-align:left !important;">
                <input type="button" class="btn btn-default" id="btnsave2" value="Export To Excel" style="float:left;" onclick="FinalExportExcel();" />
            </div>
            <div class="col-md-1 col-xs-6" style="text-align:left !important;">
                <input type="button" class="btn btn-secondary" id="btnsave2" value="Export To Pdf" style="float:left;" onclick="FinalExportPdf();" />
            </div>
        </div>
        <div class="row" style="padding:5px;">
            <table class="table table-striped table-bordered dt-responsive nowrap" style="width:100%;" id="tblDemoRegister">
                <thead>
                    <tr style="background-color:chocolate;color:white;">
                        <th>Id</th>
                        <th>Location</th>
                        <th>Slip No</th>
                        <th>Name Of HCE</th>
                        <th>Medicare Reg No</th>
                        <th>Taken By</th>
                        @*<th>Security</th>*@
                        <th>Yellow NoOf Bags</th>
                        <th>
                            Red NoOfBags
                        </th>
                        <th>
                            Blue NoOfBags
                        </th>
                        <th>
                            Sharps NoOfBags
                        </th>
                        <th>Created By</th>
                        <th>Created Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div id="myModalView" class="modal fade" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="headerView">View</h4>
            </div>
            <div class="modal-body">
                <div id="tableview">

                </div>
            </div>
        </div>
    </div>
</div>