
@{
    ViewBag.Title = "NewInWardNonReturnable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .maxwidth {
        max-width: 100%;
    }

    #captureSignature {
        width: 100%;
        height: auto;
        border: 1px solid black;
    }

    #captureSignature2 {
        width: 100%;
        height: auto;
        border: 1px solid black;
    }

    #captureSignatureStaff {
        width: 100%;
        height: auto;
        border: 1px solid black;
    }
</style>
<script src="~/Scripts/jSignature.min.js"></script>
<!--[if lt IE 9]>
<script  type="text/javascript" src="~/Scripts/flashcanvas.js"></script>
    <![endif]-->
<script>
    var validate;
    var eId = 0;

    var $sigdiv, $sigdiv2;
    $(document).ready(function () {
        $sigdiv = $("#captureSignatureHandOver").jSignature({ 'UndoButton': true });
        $sigdiv2 = $("#captureSignatureSecurity").jSignature({ 'UndoButton': true });
        
        LoadLocations();
        $("#txtAuthorizeByName").change(function () {
            $.get("/Custom/GetUserDetailsByEmpId?id=" + $("#txtAuthorizeByName").val(), function (data) {
                if (data != "Enter Valid Request ID") {
                    $("#personname").html(data.FirstName + " " + data.PhoneNumber);
                    //$("#txtstaffContactNumber").val(data.PhoneNumber);
                    //$("#dllstafdepartment").val(data.DepartmentName);
                }
            });
        });
        $("#othervendorname").hide();
        LoadVendors();
        //$('#txtOutTime').timepicker();
        //$("#txtOutDate").datepicker({
        //    changeMonth: true,
        //    changeYear: true,
        //    dateFormat: "dd/mm/yy",
        //    yearRange: "-30:+30",
        //    Edit: true
        //});
    });
    function LoadVendors() {
        $.get("/Common/GetVendorlist", function (data) {
            var options = [];
            options.push('<option value="">- Select Vendor -</option>');
            for (var i = 0; i < data.length; i++) {
                options.push('<option value="' + data[i].Name + '">' + data[i].Name + '</option>');
            }
            options.push('<option value="Others">Others</option>');
            $("#txtVendorName").html(options.join(''));
        });
    }
    function showothertextbox() {
        $("#othervendorname").hide();
        if ($("#txtVendorName").val() == "Others") {
            $("#othervendorname").show();
        }
    }
    function LoadDepartments() {
        $.get("/Common/GetDepartmentByLocation?id=" + $("#LocationId").val(), function (data) {
            var options = [];
            options.push('<option value="">- Select Department -</option>');
            for (var i = 0; i < data.length; i++) {
                options.push('<option value="' + data[i].DepartmentName + '">' + data[i].DepartmentName + '</option>');
            }
            $("#txtDepartment").html(options.join(''));
        });
    }

    function LoadLocations() {
        $.ajax({
            type: "POST",
            url: "/Common/GetLocations",
            //data: "id=",
            success: function (data) {
                var options = [];
                options.push('<option value="">- Select Locations -</option>');
                for (var i = 0; i < data.length; i++) {
                    options.push('<option value="' + data[i].LocationId + '">' + data[i].LocationName + '</option>');
                }
                $("#LocationId").html(options.join(''));
            },
            error: function () {
                alert("error")
            }
        });
    }
    function OnLocationchng() {
        //LoadDepartments();
        $.get("/Register/GetSecurityDetails?locationId=" + $("#LocationId").val(), function (data) {
            var options = [];
            options.push('<option value="">- Select Security -</option>');
            for (var i = 0; i < data.length; i++) {
                options.push('<option value="' + data[i].FirstName + '">' + data[i].FirstName + '</option>');
            }
            $("#txtTakingSecurity").html(options.join(''));
        });
    }
    function SaveRegister() {
        ValidateDetails();

        var takingSecuritySign = $sigdiv2.jSignature('getData', 'image').toString();
        var takingHandoverTo = $sigdiv.jSignature('getData', 'image').toString();
        if (takingSecuritySign == null || takingSecuritySign == "") {
            validate = false;
        }
        var vendorname = $("#txtVendorName").val();
        if (vendorname == "Others") {
            vendorname = $("#othervendorname").val();
        }

        if (validate) {
            var task = {
                Id: eId,
                LocationId: $("#LocationId").val(),
                ProductName: $("#txtProductDetails").val(),
                SupplierName: vendorname,
                Qty: $("#txtQty").val(),
                Amount: $("#txtAmount").val(),
                InvoiceNo: $("#txtInvoiceNo").val(),
                IsActive: true,
                Security: $("#txtTakingSecurity").val(),
                HandOverTo: $("#personname").html(),
                Remarks: $("#txtRemarks").val(),
                SecuritySign: "data:" + takingSecuritySign,
                HandOverToSign: "data:" + takingHandoverTo,
            };
            $.ajax({
                type: "POST",
                url: "/Register/SaveNewInWardNonReturnable",
                data: task,
                success: function (data) {
                    alert(data);
                    clearAll();
                }
            });
        } else {
            alert("Please enter all the required fields");
        }
    }
    function ValidateDetails() {
        validate = true;
        $(".css-error").removeClass('css-error');
        if ($("#LocationId").val() == "") {
            $("#LocationId").addClass('css-error');
            validate = false;
        }
        if ($("#txtProductDetails").val() == "") {
            $("#txtProductDetails").addClass('css-error');
            validate = false;
        }
        if ($("#txtVendorName").val() == "") {
            $("#txtVendorName").addClass('css-error');
            validate = false;
        }
        //if ($("#txtKeyNumber").val() == "") {
        //    $("#txtKeyNumber").addClass('css-error');
        //    validate = false;
        //}
        if ($("#txtQty").val() == "") {
            $("#txtQty").addClass('css-error');
            validate = false;
        }
    }
    function clearAll() {
        window.location.href = "/Register/InWardNonReturnable";
    }
</script>
<div class="panel panel-default">
    <div class="panel-heading" style="height:35px;"><a href="~/Register/InWardNonReturnable">Go Back</a> &nbsp;&nbsp;New InWard Non Returnable Register </div>
    <div class="panel-body">
        <div class="modal-body">
            <div class="row" style="padding:5px;">
                <div class="col-md-2">
                    <label for="name">Location<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <select id="LocationId" class="form-control" onchange="OnLocationchng();">
                        <option value="">Select</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="name">Supplier Name</label>
                </div>
                <div class="col-md-4">
                    <select id="txtVendorName" class="form-control" onchange="showothertextbox();">
                        <option value="">Select</option>
                    </select>
                    <input type="text" id="othervendorname" class="form-control" />
                </div>
            </div>
            <div class="row" style="padding:5px;">

                <div class="col-md-2">
                    <label for="name">Product Details<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <textarea rows="3" id="txtProductDetails" class="form-control"></textarea>
                    
                </div>
                <div class="col-md-2">
                    <label for="name">Qty<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="number" id="txtQty" class="form-control" />
                </div>
            </div>
            <div class="row" style="padding:5px;">
                <div class="col-md-2">
                    <label for="name">Amount<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="txtAmount" class="form-control" />
                </div>
                <div class="col-md-2">
                    <label for="name">Invoice No<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="txtInvoiceNo" class="form-control" />
                </div>
            </div>
            <div class="row" style="padding:5px;">
                <div class="col-md-2">
                    <label for="name">Security<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <select id="txtTakingSecurity" class="form-control">
                        <option value="">Select</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="name">Hand Over To (empid)<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="txtAuthorizeByName" class="form-control" />
                    <span id="personname"></span>
                </div>

            </div>
           
            <div class="row" style="padding:5px;">
               
                <div class="col-md-2">
                    <label for="name">Remarks</label>
                </div>
                <div class="col-md-4">
                    <textarea rows="2" id="txtRemarks" class="form-control"></textarea>
                </div>
            </div>

            <div class="row" style="padding:5px;">
                <div class="col-md-1">
                    <label for="name">Security Signature<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-5">
                    <div id="captureSignatureSecurity">
                    </div>
                </div>
                <div class="col-md-1">
                    <label for="name">Hand Over Signature<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-5">
                    <div id="captureSignatureHandOver">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <input type="button" id="btnasigntask" value="Save" onclick="SaveRegister();" class="btn btn-primary" />
            <button type="button" class="btn btn-default" onclick="clearAll();">Cancel</button>
        </div>
    </div>
</div>
