
@{
    ViewBag.Title = "NewPatientTransfer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .maxwidth {
        max-width: 100%;
    }

    #captureSignature {
        width: 100%;
        height: auto;
        border: 1px solid black;
    }

    #captureSignature2 {
        width: 100%;
        height: auto;
        border: 1px solid black;
    }

    #captureSignatureStaff {
        width: 100%;
        height: auto;
        border: 1px solid black;
    }
</style>
<script src="~/Scripts/jSignature.min.js"></script>
<!--[if lt IE 9]>
<script  type="text/javascript" src="~/Scripts/flashcanvas.js"></script>
    <![endif]-->
<script>
    var validate;
    var eId = 0;

    var $sigdiv, $sigdiv1, $sigdiv2;
    $(document).ready(function () {
        $sigdiv = $("#captureSignatureIn").jSignature({ 'UndoButton': true });
        $sigdiv1 = $("#captureSignatureInNurseInChargeSign").jSignature({ 'UndoButton': true });
        $sigdiv2 = $("#captureSignatureInSupervisorSign").jSignature({ 'UndoButton': true });
        LoadLocations();
        $("#txtPatientMrNumber").change(function () {
            var id = $('#txtPatientMrNumber').val();
            if (id != "") {
                $.get("/CMS/GetCMS_PatitentNamebyMRno?id=" + id, function (res) {
                    if (res != null) {
                        $("#txtMobileNo").val(res.MobileNumber);
                        $("#txtPatientName").val(res.Name);
                        $("#txtPatientRoomNo").val(res.RoomNo + " " + res.BedNo);

                    }
                    else {
                        $("#txtPatientName").val("");
                    }
                });
            }
        });
        //LoadDropdownvalues();
        OnLocationchng();
        $("#txtsecurityname").hide();
        $("#txtToOtherLocation").hide();
    });
    function LoadDropdownvalues() {
        $.get("/Common/GetCommonDropdownValues?dtype=Security", function (data) {
            var options = [];
            options.push('<option value="">- Select -</option>');
            for (var i = 0; i < data.length; i++) {
                options.push('<option value="' + data[i].Name + '">' + data[i].Name + '</option>');
            }
            $("#txtSecurity").html(options.join(''));
        });
    }
    function OnLocationchng() {
        $.get("/Register/GetSecurityDetails?locationId=" + $("#LocationId").val(), function (data) {
            var options = [];
            options.push('<option value="">- Select Security -</option>');
            for (var i = 0; i < data.length; i++) {
                options.push('<option value="' + data[i].FirstName + '">' + data[i].FirstName + '</option>');
            }
            options.push('<option value="Other">Other</option>');
            $("#txtSecurity").html(options.join(''));
        });
    }
    function onsecuritychange() {
        $("#txtsecurityname").hide();
        if ($("#txtSecurity").val() == "Other") {
            $("#txtsecurityname").show();
        }
    }
    function onlocationtochange() {
        $("#txtToOtherLocation").hide();
        if ($("#LocationId2").val() == "Other") {
            $("#txtToOtherLocation").show();
        }
    }
    function LoadLocations() {
        $.ajax({
            type: "POST",
            url: "/Common/GetLocations",
            //data: "id=",
            success: function (data) {
                var options = [];
                options.push('<option value="">- Select Locations -</option>');
                for (var i = 0; i < data.length; i++) {
                    options.push('<option value="' + data[i].LocationId + '">' + data[i].LocationName + '</option>');
                }
                $("#LocationId").html(options.join(''));
                options.push('<option value="Other">Other</option>');
                $("#LocationId2").html(options.join(''));
            },
            error: function () {
                alert("error")
            }
        });
    }

    function SaveRegister() {

        ValidateDetails();
        var securityname = $("#txtSecurity").val();
        if (securityname == "Other") {
            securityname = $("#txtsecurityname").val();
        }
        var locationame = $("#LocationId2 option:selected").text();
        if (locationame == "Other") {
            locationame = $("#txtToOtherLocation").val();
        }
        if (validate) {
            var task = {
                DailyVisitingId: eId,
                LocationId: $("#LocationId").val(),
                FromLocation: $("#LocationId option:selected").text(),
                ToLocation: locationame,
                PatientMRNo: $("#txtPatientMrNumber").val(),
                NameOfPatient: $("#txtPatientName").val(),
                OutRemarks: $("#txtRemarks").val(),
                NurseIncharge: $("#txtNurseIncharge").val(),
                IsActive: true,
                SecuritySupervisor: $("#txtSup").val(),
                Security: securityname,
                //ContactNumber: $("#ParamedicContactNo").val(),
                //Security: $("#txtSecurity").val(),
                //InRemarks: $("#txtRemarks").val(),
                SecuritySign: "data:" + $sigdiv.jSignature('getData', 'image').toString(),
                NurseInchargeSign: "data:" + $sigdiv1.jSignature('getData', 'image').toString(),
                SecuritySupervisorSign: "data:" + $sigdiv2.jSignature('getData', 'image').toString()
            };
            $.ajax({
                type: "POST",
                url: "/Register/SaveNewPatientTransfer",
                data: task,
                success: function (data) {
                    alert(data);
                    clearAll();
                }
            });
        }
    }
    function ValidateDetails() {
        validate = true;
        $(".css-error").removeClass('css-error');

        if ($("#LocationId").val() == "") {
            $("#LocationId").addClass('css-error');
            validate = false;
        }
        if ($("#txtPatientMrNumber").val() == "") {
            $("#txtPatientMrNumber").addClass('css-error');
            validate = false;
        }
        if ($("#txtPatientName").val() == "") {
            $("#txtPatientName").addClass('css-error');
            validate = false;
        }
        if ($("#txtMobileNo").val() == "") {
            $("#txtMobileNo").addClass('css-error');
            validate = false;
        }
        if ($("#LocationId2").val() == "") {
            $("#LocationId2").addClass('css-error');
            validate = false;
        }

    }
    function clearAll() {
        window.location.href = "/Register/PatientTransfer";
    }
</script>
<div class="panel panel-default">
    <div class="panel-heading" style="height:35px;"><a href="~/Register/PatientTransfer">Go Back</a> &nbsp;&nbsp;New Patient Transfer </div>
    <div class="panel-body">
        <div class="modal-body">
            <div class="row" style="padding:5px;">
                <div class="col-md-2">
                    <label for="name">From Location<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <select id="LocationId" class="form-control" onchange="OnLocationchng();">
                        <option value="">Select</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="name">Patient Mr No<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="txtPatientMrNumber" class="form-control" />
                </div>
            </div>

            <div class="row" style="padding:5px;">
                <div class="col-md-2">
                    <label for="name">Patient Name<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="txtPatientName" readonly="readonly" class="form-control" />
                </div>

                <div class="col-md-2">
                    <label for="name">Mobile No<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="txtMobileNo" class="form-control" />
                </div>
            </div>
            <div class="row" style="padding:5px;">
                <div class="col-md-2">
                    <label for="name">Room No<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="txtPatientRoomNo" readonly="readonly" class="form-control" />
                </div>

                <div class="col-md-2">
                    <label for="name">To Location<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <select id="LocationId2" class="form-control"  onchange="onlocationtochange();">
                        <option value="">Select</option>
                    </select>
                    <input type="text" id="txtToOtherLocation" placeholder="Other Location" class="form-control" style="margin-top:5px;" />
                </div>
            </div>
            <div class="row" style="padding:5px;">


                <div class="col-md-2">
                    <label for="name">Nurse Incharge<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="txtNurseIncharge" class="form-control" />
                </div>
                <div class="col-md-2">
                    <label for="name">Security Supervisor<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="txtSup" class="form-control" />
                </div>
            </div>
            <div class="row" style="padding:5px;">
                <div class="col-md-2">
                    <label for="name">Security<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-4">

                    <select id="txtSecurity" class="form-control"  onchange="onsecuritychange();">
                        <option value="">Select</option>
                    </select>
                    <input type="text" id="txtsecurityname" class="form-control" style="margin-top:5px;" />
                </div>

                <div class="col-md-2">
                    <label for="name">Remarks<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <textarea rows="2" id="txtRemarks" class="form-control"></textarea>
                </div>
            </div>

            <div class="row" style="padding:5px;">
                <div class="col-md-2">
                    <label for="name">Security Sign<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-8">
                    <div id="captureSignatureIn">
                    </div>
                </div>
            </div>

            <div class="row" style="padding:5px;">
                <div class="col-md-2">
                    <label for="name">Nurse InCharge Sign<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-8">
                    <div id="captureSignatureInNurseInChargeSign">
                    </div>
                </div>
            </div>

            <div class="row" style="padding:5px;">
                <div class="col-md-2">
                    <label for="name">Security Supervisor Sign<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-8">
                    <div id="captureSignatureInSupervisorSign">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <input type="button" id="btnasigntask" value="Save" onclick="SaveRegister();" class="btn btn-primary" />
            <button type="button" class="btn btn-default" onclick="clearAll();">Cancel</button>
        </div>
    </div>
</div>
