
@{
    ViewBag.Title = "NewRounds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .maxwidth {
        max-width: 100%;
    }

    #captureSignature {
        width: 100%;
        height: auto;
        border: 1px solid black;
    }

    #captureSignature2 {
        width: 100%;
        height: auto;
        border: 1px solid black;
    }

    #captureSignatureStaff {
        width: 100%;
        height: auto;
        border: 1px solid black;
    }
</style>
<script src="~/Scripts/jSignature.min.js"></script>
<!--[if lt IE 9]>
<script  type="text/javascript" src="~/Scripts/flashcanvas.js"></script>
    <![endif]-->
<script>
    var validate;
    var eId = 0;

    var $sigdiv, $sigdiv1, $sigdiv2;
    $(document).ready(function () {
        $sigdiv = $("#captureSignatureIn").jSignature({ 'UndoButton': true });
        LoadLocations();
        $("#txtPatientMrNumber").change(function () {
            var id = $('#txtPatientMrNumber').val();
            if (id != "") {
                $.get("/CMS/GetCMS_PatitentNamebyMRno?id=" + id, function (res) {
                    if (res != null) {
                        $("#txtMobileNo").val(res.MobileNumber);
                        $("#txtPatientName").val(res.Name);
                        $("#txtIPNo").val(res.IPNo);
                    }
                    else {
                        $("#txtPatientName").val("");
                    }
                });
            }
        });

    });
    function LoadLocations() {
        $.ajax({
            type: "POST",
            url: "/Common/GetLocations",
            //data: "id=",
            success: function (data) {
                var options = [];
                options.push('<option value="">- Select Locations -</option>');
                for (var i = 0; i < data.length; i++) {
                    options.push('<option value="' + data[i].LocationId + '">' + data[i].LocationName + '</option>');
                }
                $("#LocationId").html(options.join(''));
            },
            error: function () {
                alert("error")
            }
        });
    }

    function SaveRegister() {

        ValidateDetails();
        if (validate) {
            var task = {
                Id: eId,
                LocationId: $("#LocationId").val(),
                MrNo: $("#txtPatientMrNumber").val(),
                NameOfPatient: $("#txtPatientName").val(),
                IpNo: $("#txtIPNo").val(),
                DrName: $("#txtDrName").val(),
                Remarks: $("#txtRemarks").val(),
                ActionTaken: $("#txtActionTaken").val(),
                IsActive: true,
                AttenderSign: "data:" + $sigdiv.jSignature('getData', 'image').toString(),
            };
            $.ajax({
                type: "POST",
                url: "/Register/SaveNewRounds",
                data: task,
                success: function (data) {
                    alert(data);
                    clearAll();
                }
            });
        }
    }
    function ValidateDetails() {
        validate = true;
        $(".css-error").removeClass('css-error');

        if ($("#LocationId").val() == "") {
            $("#LocationId").addClass('css-error');
            validate = false;
        }
        if ($("#txtPatientMrNumber").val() == "") {
            $("#txtPatientMrNumber").addClass('css-error');
            validate = false;
        }
        if ($("#txtPatientName").val() == "") {
            $("#txtPatientName").addClass('css-error');
            validate = false;
        }
        if ($("#txtIPNo").val() == "") {
            $("#txtIPNo").addClass('css-error');
            validate = false;
        }
        if ($("#txtDrName").val() == "") {
            $("#txtDrName").addClass('css-error');
            validate = false;
        }
    }
    function clearAll() {
        window.location.href = "/Register/ManageRounds";
    }
</script>
<div class="panel panel-default">
    <div class="panel-heading" style="height:35px;"><a href="~/Register/ManageRounds">Go Back</a> &nbsp;&nbsp;New Round </div>
    <div class="panel-body">
        <div class="modal-body">
            <div class="row" style="padding:5px;">
                <div class="col-md-2">
                    <label for="name">Location<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <select id="LocationId" class="form-control">
                        <option value="">Select</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="name">Patient Mr No<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="txtPatientMrNumber" class="form-control" />
                </div>
            </div>

            <div class="row" style="padding:5px;">
                <div class="col-md-2">
                    <label for="name">Patient Name<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="txtPatientName" readonly="readonly" class="form-control" />
                </div>

                <div class="col-md-2">
                    <label for="name">Mobile No<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="txtMobileNo" class="form-control" />
                </div>
            </div>
            <div class="row" style="padding:5px;">
                <div class="col-md-2">
                    <label for="name">Dr Name<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="txtDrName" class="form-control" />
                </div>

                <div class="col-md-2">
                    <label for="name">IP No<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="txtIPNo" class="form-control" />
                </div>
            </div>
            <div class="row" style="padding:5px;">
                <div class="col-md-2">
                    <label for="name">ActionTaken<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <textarea rows="2" id="txtActionTaken" class="form-control"></textarea>
                </div>
                
                <div class="col-md-2">
                    <label for="name">Remarks<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <textarea rows="2" id="txtRemarks" class="form-control"></textarea>
                </div>
            </div>

            <div class="row" style="padding:5px;">
                <div class="col-md-2">
                    <label for="name">Security Sign<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-8">
                    <div id="captureSignatureIn">
                    </div>
                </div>
            </div>


        </div>
        <div>
            <input type="button" id="btnasigntask" value="Save" onclick="SaveRegister();" class="btn btn-primary" />
            <button type="button" class="btn btn-default" onclick="clearAll();">Cancel</button>
        </div>
    </div>
</div>

