
@{
    ViewBag.Title = "VehicleMovement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<script>
    var validate = true;
    var eId = 0;
    var oTable;
    $(document).ready(function () {
        LoadData();
        LoadLocations();

        $("#txtFromDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd/mm/yy",
            yearRange: "-30:+30",
            Edit: true
        });
        $("#txtToDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd/mm/yy",
            yearRange: "-30:+30",
            Edit: true
        });
        $(".clmrno").show();
        $("#txtMrNo").change(function () {
            var id = $('#txtMrNo').val();
            if (id != "") {
                $.get("/CMS/GetCMS_PatitentNamebyMRno?id=" + id, function (res) {
                    if (res != null) {
                        $("#MobileNo").val(res.MobileNumber);
                        $("#PatientName").val(res.Name);
                    }
                    else {
                        $("#PatientName").val("");
                    }
                });
            }
        });

    });
    function LoadData() {
        oTable = $('#tblKeyRegister').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/Register/AjaxGetVehicleMovement",
            "bProcessing": true,
            "bDestroy": true,
            "aLengthMenu": [[10, 20, 30, 50, 100, 150, 200, -1], [10, 20, 30, 50, 100, 150, 200, "All"]],
            "aoColumns": [
                { "sName": "Id" },
                { "sName": "Name" },
                { "sName": "" },
                { "sName": "" },
                { "sName": "" },
                { "sName": "" },
                { "sName": "" },
                { "sName": "" },
                { "sName": "" },
                { "sName": "" },
                { "sName": "" },
                { "sName": "" },
                { "sName": "" },
                { "sName": "" },
                { "sName": "" },
                { "sName": "" },
                {
                           "sName": "Id",
                           "bSortable": false,
                           "render": function (data, row, r) {

                               return '<div class="btn-group">' +
                                   '<div class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th-list"></span></div>' +
                                   '<ul class="dropdown-menu dropdown-menu-right">' +
                                   '<li><a href="javascript:void(0);"  onclick="ViewDetails(' + data + ')">View</a></li>' +
                                   '<li><a href="javascript:void(0);"  onclick="UpdateDetails(' + data + ')">Update Details</a></li>' +
                                   //'<li><a href="javascript:void(0);"  onclick="onDelete(' + data + ')">Delete</a></li>' +
                                   '</ul></div>';
                           }
                }
            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                //$('td:eq(1)', nRow).html('<a href="javascript:void(0);" id="' + aData[0] + '" onclick="ViewDetails(this.id);">' + aData[1] + '</a>');
            }
            ,
            "fnServerParams": function (aoData) {
                aoData.push(
                    { "name": "locationid", "value": $("#LocationId2").val() },
                    { "name": "fromdate", "value": $("#txtFromDate").val() },
                    { "name": "todate", "value": $("#txtToDate").val() },
                );
            }
        });
        $("#tblDailyVisting_length").addClass("d-none");
        $("#tblDailyVisting_length").addClass("d-sm-block");
        //$("#tblValetParking_length").addClass("col-xs-6");
    }
    function UpdateDetails(id) {
        eId = id;
        $.get("/Register/checkIfVehicleMovementupdated?id=" + id, function (data) {
            if (data == "Ok") {
                window.location = "/Register/VehicleMovementUpdate?id=" + id;
            } else {
                alert("Already updated.");
            }
        });

        //$.get("/Custom/GetDailyVisiting?id=" + id, function (data) {
        //    $("#myModalUpdate").modal('show');
        //});
    }
    function GetDatestr(date) {
        var d = new Date(parseInt(date.substr(6)));
        return d.toLocaleString("en-GB");
    }
    function ViewDetails(id) {
        eId = id;
        $.get("/Register/GetRegister_VehicleMovement?id=" + id, function (data) {
            var html = "<table class='table table-bordered'>";
            html += "<tr><td>Location</td><td>" + getlocationame(data.LocationId) + "</td></tr>";
          
            html += "<tr><td>Wheeler Type</td><td>" + data.WheelerType + "</td></tr>";
            html += "<tr><td>Vehicle</td><td>" + data.VehicleNameOrNumber + "</td></tr>";
            html += "<tr><td>Out Reading</td><td>" + data.OutReading + "</td></tr>";
            html += "<tr><td>Going To</td><td>" + data.GoingTo + "</td></tr>";
            html += "<tr><td>Driver</td><td>" + data.Driver + "</td></tr>"; 
           /* html += "<tr><td>Out Security</td><td>" + data.OutSecurity + "</td></tr>";*/
            if (data.InTime != null && data.InTime != "") {
                html += "<tr><td>In Time</td><td>" + GetDatestr(data.InTime) + "</td></tr>";
                html += "<tr><td>In Security</td><td>" + data.InSecurity + "</td></tr>";
            }
            html += "<tr><td>Remarks</td><td>" + data.Remarks + "</td></tr>";
            html += "<tr><td>Purpose</td><td>" + data.Purpose + "</td></tr>";
            if (data.OutTime != null && data.OutTime != "") {
                html += "<tr><td>Out DateTime </td><td>" + GetDatestr(data.OutTime) + "</td></tr>";
                html += "<tr><td>Out Security </td><td>" + data.OutSecurity + "</td></tr>";
                html += "<tr><td>Out Driver </td><td>" + data.Driver + "</td></tr>";
            }


            if (data.InSecuritySign != null && data.InSecuritySign != "") {
                html += "<tr><td>In Security Sign</td><td><img style='border-radius:50%;width:100px;'src='/Documents/" + data.InSecuritySign + "' /></td></tr>";
            }
            if (data.DriverSign != null && data.DriverSign != "") {
                html += "<tr><td> Driver Sign</td><td><img style='border-radius:50%;width:100px;'src='/Documents/" + data.DriverSign + "' /></td></tr>";
            }
            if (data.OutSecuritySign != null && data.OutSecuritySign != "") {
                html += "<tr><td>Out Security Sign</td><td><img style='border-radius:50%;width:100px;'src='/Documents/" + data.OutSecuritySign + "' /></td></tr>";
            }
            html += "</table>";
            $("#tableview").html(html);
            $("#myModalView").modal('show');
        });
    }
    var locations;
    function LoadLocations() {
        $.ajax({
            type: "POST",
            url: "/Common/GetLocations",
            //data: "id=",
            success: function (data) {
                locations = data;
                var options = [];
                options.push('<option value="">- All Locations -</option>');
                for (var i = 0; i < data.length; i++) {
                    options.push('<option value="' + data[i].LocationId + '">' + data[i].LocationName + '</option>');
                }
                $("#LocationId").html(options.join(''));
                $("#LocationId2").html(options.join(''));
            },
            error: function () {
                alert("error")
            }
        });
    }
    function getlocationame(id) {
        for (var i = 0; i < locations.length; i++) {
            if (locations[i].LocationId == id) {
                return locations[i].LocationName;
            }
        }
        return '';
    }

    function Loaddynamicdata() {
        oTable.api().ajax.reload(null, false);
    }
    function onDelete(id) {
        if (confirm('Are you sure you want to delete?')) {
            $.getJSON("@Url.Action("DeleteDailyVisiting", "Custom")", { id: id }, function (data) {
                clearAll();
                oTable.api().ajax.reload(null, false);
            });
        } return false;
    }

    function clearAll() {
        $(".css-error").removeClass('css-error');

        eId = 0;
    }

    function ExportExcelData() {
        $("#myModalExportExcel").modal('show');
    }
    function FinalExportExcel() {
        if ($("#txtFromDate").val() != null && $("#txtFromDate").val() != "" && $("#txtToDate").val() != null && $("#txtToDate").val() != "") {
            var url = '/Register/ExportExcelVehicleMovementRegister?FromDate=' + $("#txtFromDate").val() + '&ToDate=' + $("#txtToDate").val();
            window.location = url;

        } else {
            alert("Please select from date and todae");
        }
    }
    function FinalExportPdf() {
        if ($("#txtFromDate").val() != null && $("#txtFromDate").val() != "" && $("#txtToDate").val() != null && $("#txtToDate").val() != "") {
            var url = '/Register/ExportPdfVehicleMovementRegister?FromDate=' + $("#txtFromDate").val() + '&ToDate=' + $("#txtToDate").val();
            window.location = url;

        } else {
            alert("Please select from date and todae");
        }
    }
    function closeallnew() {
        $("#myModalnew").modal('hide');
    }
    function newmodalshow() {
        //$("#myModalnew").modal('show');
        window.location.href = "/Register/NewVehicleMovement";
    }
</script>
<div class="panel panel-default">
    <div class="panel-heading" style="height:35px;"><a href="~/Register/Index">Go Back</a> &nbsp;&nbsp;  Manage Vehicle Movement Register <span style="color:orangered; cursor:pointer; float:right;" onclick="newmodalshow()">&nbsp;&nbsp;&nbsp;&nbsp;New</span>  </div>
    <div class="panel-body">
        <div class="row" style="padding:5px;">
            <div class="col-md-2 col-xs-6">
                <select id="LocationId2" class="form-control" onchange="Loaddynamicdata()">
                    <option value="">Select</option>
                </select>
            </div>
            <div class="col-md-2 col-xs-6">
                <input type="text" class="form-control" placeholder="From Date" id="txtFromDate" readonly="readonly" autocomplete="off" />
            </div>
            <div class="col-md-2 col-xs-6">

                <input type="text" class="form-control" placeholder="To Date" id="txtToDate" readonly="readonly" autocomplete="off" />
            </div>
            <div class="col-md-1 col-xs-6" style="text-align:left !important;">

                <input type="button" class="btn btn-primary" id="btnsave" value="Go" style="float:left;" onclick="Loaddynamicdata();" />
            </div>
            <div class="col-md-1 col-xs-6" style="text-align:left !important;">

                <input type="button" class="btn btn-default" id="btnsave2" value="Export To Excel" style="float:left;" onclick="FinalExportExcel();" />
            </div>
            <div class="col-md-1 col-xs-6" style="text-align:left !important;">
                <input type="button" class="btn btn-secondary" id="btnsave2" value="Export To Pdf" style="float:left;" onclick="FinalExportPdf();" />
            </div>
        </div>
        <div class="row" style="padding:5px;">

            <table class="table table-striped table-bordered dt-responsive nowrap" style="width:100%;" id="tblKeyRegister">
                <thead>
                    <tr style="background-color:chocolate;color:white;">
                        <th>Id</th>
                        <th>Location</th>
                        <th>Wheeler Type</th>
                        <th>Vehicle</th>
                        <th>Driver</th>
                        <th>Out Reading</th>
                        <th>Out Time</th>
                        <th>Out Security</th>
                        <th>GoingTo</th>
                        <th>Purpose</th>
                        <th>In Reading</th>
                        <th>In Time</th>
                        <th>In Security</th>
                        <th>Remarks</th>
                        <th>Created By</th>
                        <th>Modified On</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div id="myModalView" class="modal fade" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="headerView">View</h4>
            </div>
            <div class="modal-body">
                <div id="tableview">

                </div>
            </div>
        </div>
    </div>
</div>