@model WebApplicationHsApp.DataModel.tbl_VehicleRequest

@{
    ViewBag.Title = "AdminApproval";
}
<script>
    $(document).ready(function () {
        LoadData();
        $(".date")
            .datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd-mm-yy",
                Edit: true

            })
        $('#btnExport').click(function () {
            validateDate();

            if (validate) {
                FromDate = $("#FromDateExcel").val();
                ToDate = $("#ToDateExcel").val();
                window.location = '/Vehicle/ExportExcelVehicleRequest?FromDate=' + FromDate + '&ToDate=' + ToDate;
                $("#FromDateExcel").val("");
                $("#ToDateExcel").val("");
            }
        });
        $('#btnRejected').click(function () {
            if ($("#RejecttxtRemarks").val() != "") {
                UpadateStatus($("#RejectReqId").val(), "Rejected", $("#RejecttxtRemarks").val());
                $("#UpdateRemarksmodal").modal("hide");
            }
            else {
                alert("Enter Remarks");
            }
        });
    });
    $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            FromDate = $("#FromDateExcel").val();
            ToDate = $("#ToDateExcel").val();
            var Date = data[5] || 0;

            if (
                (ToDate <= Date && Date >= FromDate)) {
                return true;
            }
            return false;
        }
    );
    function UpdateRemarks(Id) {
        $("#RejectReqId").val(Id);
        $("#UpdateRemarksmodal").modal("show");
    }
    function validateDate() {
        debugger;
        validate = true;
        $(".css-error").removeClass('css-error');
        if ($("#FromDateExcel").val() == "") {
            $("#FromDateExcel").addClass('css-error');
            validate = false;
        }
        if ($("#ToDateExcel").val() == "") {
            $("#ToDateExcel").addClass('css-error');
            validate = false;
        }
    }
    function LoadData() {
        $('#tblVehicleAdmin').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/Vehicle/AjaxGetAdminRequest",
            "bProcessing": true,
            "bDestroy": true,
            "aLengthMenu": [[10, 20, 30, 50, 100, 150, 200, -1], [10, 20, 30, 50, 100, 150, 200, "All"]],
            "aoColumns": [
                { "sName": "VehicleRequestId" },
                { "sName": "CustomUserId" },
                { "sName": "FirstName" },
                //{ "sName": "Designation" },
                { "sName": "DepartmentName" },
                //{ "sName": "LocationName" },

                { "sName": "VehicleTypeRequested" },
                { "sName": "FromAddress" },
                { "sName": "ToAddress" },
                { "sName": "Date" },
                { "sName": "Noof" },
                { "sName": "Returnr" },
                { "sName": "Returndate" },
                { "sName": "Email" },
                { "sName": "Mobile" },
                { "sName": "Status" },
              
                {
                    "sName": "VehicleRequestId",
                    "bSortable": false,
                    "render": function (data) {
                        return '<div class="btn-group">' +
                            '<div class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th-list"></span></div>' +
                            '<ul class="dropdown-menu dropdown-menu-right">' +
                            '<li><button  id="' + data + '" onclick="ViewHistory(this.id);" class="btn btn-link">Comments&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></li>' +
                            '<li><button  id="' + data + '" onclick="ViewDetails(this.id);" class="btn btn-link">View&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></li>' +
                            '<li><button id="' + data + '" onclick="UpadateStatus(this.id,this.value,null);" value="Approved" class="btn btn-link">Approved&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></li>' +
                            '<li><button id="' + data + '" onclick="UpdateRemarks(this.id);" value="Rejected" class="btn btn-link">Rejected&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></li>' +
                            '<li><button id="' + data + '" onclick="UpadateStatus(this.id,this.value,null);" value="In progress" class="btn btn-link">In Progress&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></li>' +
                            '</ul></div>';
                    }
                }
            ]
        });
        $("#tblVehicleAdmin_length").addClass("col-md-6");
        $("#tblVehicleAdmin_length").addClass("col-md-6");
    }
    function UpadateStatus(RequestId, val, Remarks) {
        $.ajax({
            type: "POST",
            url: '/Vehicle/UpdateAdminStatus?Id=' + RequestId + '&Status=' + val + '&Remarks=' + Remarks,
            success: function (data) {
                LoadData();
            }
        });

    }

    var currentId = 0;
    function ViewHistory(id) {
        currentId = id;
        $.get("/Vehicle/GetVehicleComments?id=" + id, function (data) {
            var html = "<table class='table'><tr><td>Date</td><td>Comment Type</td><td>Comment</td><td>Comment By</td></tr>";
            for (var i = 0; i < data.length; i++) {
                html += "<tr><td>" + data[i].CommentOn + "</td><td>" + data[i].CommentType + "</td><td>" + data[i].Comment + "</td><td>" + data[i].CommentBy + "</td></tr>";
            };
            html += "</table>";
            $("#ViewAssetHistory").html(html);
            $("#myModalViewDetails").modal('show');
        });
    }
    function UpdateComments() {
        $.get("/Vehicle/addComment?id=" + currentId + "&comment=" + $("#txtAssetComments").val(), function (data) {
            alert(data);
            $("#UpdateComments").val("");
            ReloadViewHistory(currentId);
        });
    }
    function ReloadViewHistory(id) {
        $.get("/Vehicle/GetVehicleComments?id=" + id, function (data) {
            var html = "<table class='table'><tr><td>Date</td><td>Comment Type</td><td>Comment</td><td>Comment By</td></tr>";
            for (var i = 0; i < data.length; i++) {
                html += "<tr><td>" + data[i].CommentOn + "</td><td>" + data[i].CommentType + "</td><td>" + data[i].Comment + "</td><td>" + data[i].CommentBy + "</td></tr>";
            };
            html += "</table>";
            $("#ViewAssetHistory").html(html);
        });
    }
    function ViewDetails(id) {
        currentId = id;
        $.get("/Vehicle/GetRequestVehicleById?RequestId=" + id, function (data) {
            var html = "<table class='table table-bordered'>";
            html += "<tr><td>Pick Up Location</td><td>" + data.FromAddress + "</td><td>Drop Location</td><td>" + data.ToAddress + "</td></tr>";
            html += "<tr><td>Mobile</td><td>" + data.Mobile + "</td><td>Email</td><td>" + data.Email + "</td></tr>";
            html += "<tr><td>Date</td><td>" + data.Date + "</td><td>Status</td><td>" + data.Status + "</td></tr>";
            html += "<tr><td>Start Time</td><td>" + data.StartTime + "</td><td>No of Persons</td><td>" + data.NoofPersons + "</td></tr>";
            html += "<tr><td>Vehicle</td><td>" + data.VehicleDetails + "</td><td>Driver Contact</td><td>" + data.DriverContactDetails + "</td></tr>";
            html += "<tr><td>Remarks</td><td>" + data.Remarks + "</td><td>Vehicle Type</td><td>" + data.VehicleRegisterType + "</td></tr>";
            html += "<tr><td>Vehicle Type Allocated</td><td>" + data.VehicleTypeAllocated + "</td><td>Return Required</td><td>" + data.returnRequired + "</td></tr>";
            html += "<tr><td>Return date</td><td>" + data.Returndate + "</td><td>Return Time</td><td>" + data.Returntime + "</td></tr>";
            html += "</table>";
            $("#divFullViewvehicle").html(html);
            $("#myModalFullViewDetails").modal('show');
        });
    }
</script>
<div id="myModalFullViewDetails" class="modal fade" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">View</h4>
            </div>
            <div class="modal-body">
                <div id="divFullViewvehicle">

                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModalViewDetails" class="modal fade" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">View</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        Enter Comments
                    </div>
                    <div class="col-md-4">
                        <textarea id="txtAssetComments" class="form-control" autocomplete="off"></textarea>
                    </div>
                    <div class="col-md-4">
                        <input type="button" id="btnpr" class="btn btn-primary" value="Save" onclick="UpdateComments();" />
                    </div>
                </div>
                <div id="ViewAssetHistory">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Admin Request
        <input type="button" id="btnExport" value="Export Excel" class="btn btn-link pull-right" />

    </div>
    <div class="panel-body">

        <div class="row" style="padding:5px;">
            <div class="col-12 col-sm-3 col-xl d-flex">
                <div class="card flex-fill" style="background-color:#3598dc; color:white; text-align:center;border-radius:20px;">
                    <div class="card-body py-4">
                        <div class="media">
                            <div class="d-inline-block mt-2 mr-3 col-md-6">
                                <h2><span class="glyphicon glyphicon-hand-up"></span></h2>
                            </div>
                            <div class="media-body">
                                <h3 class="mb-2" style="margin-top:5px;">
                                    @if (ViewBag.New != null)
                                    {
                                        @ViewBag.New;
                                    }
                                </h3>
                                <div class="mb-0">New Tasks</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-3 col-xl d-flex">
                <div class="card flex-fill" style="background-color:#E67D21; color:white;text-align:center;border-radius:20px;">
                    <div class="card-body py-4">
                        <div class="media">
                            <div class="d-inline-block mt-2 mr-3 col-md-6">
                                <h2><span class="glyphicon glyphicon-hand-right"></span></h2>
                            </div>
                            <div class="media-body">
                                <h3 class="mb-2" style="margin-top:5px;">
                                    @if (ViewBag.inprogess != null)
                                    {
                                        @ViewBag.inprogess;
                                    }
                                </h3>
                                <div class="mb-0">In Progress</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-3 col-xl d-flex">
                <div class="card flex-fill" style="background-color:#5FC29D; color:white;text-align:center;border-radius:20px;">
                    <div class="card-body py-4">
                        <div class="media">
                            <div class="d-inline-block mt-2 mr-3  col-md-6">
                                <h2><span class="glyphicon glyphicon-thumbs-down"></span></h2>
                            </div>
                            <div class="media-body">
                                <h3 class="mb-2" style="margin-top:5px;">
                                    @if (ViewBag.Reopen != null)
                                    {
                                        @ViewBag.Reopen;
                                    }
                                </h3>
                                <div class="mb-0">Reopen</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-3 col-xl d-flex">
                <div class="card flex-fill" style="background-color:#8E44AD; color:white;text-align:center;border-radius:20px;">
                    <div class="card-body py-4">
                        <div class="media">
                            <div class="d-inline-block mt-2 mr-3 col-md-6">
                                <h2><span class="glyphicon glyphicon-thumbs-up"></span></h2>
                            </div>
                            <div class="media-body">
                                <h3 class="mb-2" style="margin-top:5px;">
                                    @if (ViewBag.Completed != null)
                                    {
                                        @ViewBag.Completed;
                                    }
                                </h3>
                                <div class="mb-0">Completed</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><br />
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <table style="width:100%;">
                    <tr>
                        <td><label for="name" class="lbl">From Date</label> </td>
                        <td><input class="date form-control" type="text" placeholder="Select Date" id="FromDateExcel" /></td>
                        <td><label for="name" class="lbl">TO Date</label></td>
                        <td><input class="date form-control" type="text" placeholder="Select Date" id="ToDateExcel" /></td>
                        <td><input type="button" id="btnGO" value="GO" class="btn btn-primary" /></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-3">

            </div>

        </div>
        <table class="table table-striped table-bordered dt-responsive nowrap" style="width:100%;" id="tblVehicleAdmin">
            <thead>
                <tr>
                    <th>Id</th>
                    <th class="none">Employee Id</th>
                    <th>Employee Name</th>
                    @*<th>Designation</th>*@
                    <th>Employee Location and Dept</th>
                    @*<th>Location</th>*@
                    <th class="none">Type of Vehicle</th>
                    <th>Pickup location</th>
                    <th>Drop location</th>
                    <th>Pick up Date & Time</th>
                    <th class="none">No.Of Persons</th>
                    <th class="none">Return</th>
                    <th class="none">Return  Date & Time</th>
                    <th class="none">Email</th>
                    <th class="none">Contact No</th>
                    <th>Status</th>
                    @*<th>My Status</th>*@
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="UpdateRemarksmodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Enter Remarks </h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="RejectReqId" />
                <div class="row">
                    <div class="col-md-3">
                        <label>Remarks</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="RejecttxtRemarks" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancel</a>
                <input type="button" href="#" class="btn btn-danger" id="btnRejected" value="Reject" />
            </div>
        </div>
    </div>
</div>
