@{
    ViewBag.Title = "EditDutyRoster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/dataTables.fixedHeader.min.js"></script>
<script src="~/Scripts/dataTables.fixedColumns.min.js"></script>
@Scripts.Render("~/bundles/Roster")
@if (User.IsInRole("Admin"))
{
    <script>
        $(document).ready(function () {
           
            LoadLocations();
            $("#admindivfilter").css("display", "block");
           
        });
        function LoadLocations() {
            $.ajax({
                type: "POST",
                url: "/Common/GetLocations",
                success: function (data) {
                    var options = [];
                    options.push('<option value="">- All -</option>');
                    for (var i = 0; i < data.length; i++) {
                        options.push('<option value="' + data[i].LocationId + '">' + data[i].LocationName + '</option>');
                    }
                    $("#ddlSelectLocation").html(options.join(''));
                },
                error: function () {
                    alert("error")
                }
            });
        }
        function LoadDepartment() {
            if ($("#ddlSelectLocation").val() != null && $("#ddlSelectLocation").val() != "") {
                $.ajax({
                    type: "POST",
                    url: "/Common/GetDepartmentByLocation",
                    data: "id=" + $("#ddlSelectLocation").val(),
                    success: function (data) {
                        var options = [];
                        options.push('<option value="">- Select Department -</option>');
                        for (var i = 0; i < data.length; i++) {
                            options.push('<option value="' + data[i].DepartmentId + '">' + data[i].DepartmentName + '</option>');
                        }
                        $("#ddlSelectDepartment").html(options.join(''));
                    },
                    error: function () {
                        alert("error")
                    }
                });
            }
        }
    </script>
}
<div class="panel panel-default">
    <div class="panel-heading">Manage Duty Roster</div>
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#_page_2">View</a></li>
            <li><a data-toggle="tab" href="#_page_3">Shift Types</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane in active" id="_page_2">
                <div id="diveditshifts">
                   
                        <div class="row" style="padding:5px;display:none;" id="admindivfilter">
                            <div class="col-md-3">
                                <select class="form-control" id="ddlSelectLocation" onchange="LoadDepartment();">
                                    <option value="">Select Location</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control" id="ddlSelectDepartment">
                                    <option value="">Select Department</option>
                                </select>
                            </div>
                        </div>
                    
                        <div class="row" style="padding-top:10px;">
                            <div class="col-xs-2">
                                Select Form Date
                            </div>
                            <div class="col-xs-2">
                                <input type="text" id="txtfromdate" class="form-control" readonly="readonly" />
                            </div>
                            <div class="col-xs-1">
                                Todate
                            </div>
                            <div class="col-xs-2">
                                <input type="text" id="txttodate" class="form-control" readonly="readonly" />
                            </div>
                            <div class="col-xs-1">
                                <button type="button" class="btn btn-primary" id="btncalender" value="Generate" style="font-weight:bold;" onclick="btncalenderclikc();"><i class="icon-arrow-right-3"></i>&nbsp;Generate</button>
                            </div>
                            @using (Html.BeginForm("Roaster", "Hr", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {

                                <div class="col-xs-1">
                                    File
                                </div>
                                <div class="col-xs-2">
                                    <input type="file" name="postedFile" class="form-control" id="File" />
                                </div>
                                <div class="col-xs-1">
                                    <input type="submit" class="btn btn-primary" id="btnUpload" value="Upload" style="font-weight:bold;"/>
                                </div>
                            }
                                <div class="col-xs-4" id="divshowafterrosterload" style="display:none;">
                                    <div class="col-xs-4">
                                        <select class="form-control" id="ddlSelectShifttypes">
                                            <option value="">Select</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <select class="form-control" id="cbselecttype">
                                            <option value="0"> Sunday As WeeklyOff</option>
                                            <option value="1"> Monday As WeeklyOff</option>
                                            <option value="2"> Tuesday As WeeklyOff</option>
                                            <option value="3"> Wednesday As WeeklyOff</option>
                                            <option value="4">Thursday As WeeklyOff</option>
                                            <option value="5"> Friday As WeeklyOff</option>
                                            <option value="6">Saturday As WeeklyOff</option>
                                        </select>

                                    </div>
                                    <div class="col-xs-2">
                                        <input type="button" id="btnsubmitsval" class="btn btn-danger" onclick="SubmitSaveBulkAssignShift();" value="Submit" />
                                    </div>
                                </div>
                            </div>

                    <div id="myroster" style="width: 100%; padding-bottom: 25px;padding-top:10px;" class="bs-component">
                    </div>
                    <div style='width:70%;margin:auto;'><br /> <div class='input-control text'><button type='button' Value='Save Data' id='btnsave' style='font-weight:bold;' class='btn btn-primary' onclick='SaveEmployeeshitsbynew();'><i class='icon-enter'></i>&nbsp;Save Data</button></div></div>
                </div>
            </div>
            <div class="tab-pane fade" id="_page_3">
                <div id="ViewShifttypes" style="padding-bottom: 50px; width: 40%;">
                </div>
            </div>
        </div>



    </div>
</div>




<div id="alert" style="display: none;">
    <div style="position: absolute; top: 50%; right: 50%; z-index: 10000; margin: -16px -16px; width: 100px; height: 100px; border: solid 2px #ff6a00; background-color: black; color: #fff;">
        <span>Please Wait...</span>
    </div>
</div>
<input type="hidden" id="hidtypeofview" value="Edit" />
