
@{
    ViewBag.Title = "Vacin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">COVID 19 Vaccination Drive on 28th January 2021 at Bogulkunta (Sunil Bajaj Building) and Hyderguda (Unit 2) locations.</h3>
    </div>
    <div class="panel-body" style="text-align:center;">
        <img src="~/Documents/vaccine/01.jpg" class="img-responsive" /><br />
        <img src="~/Documents/vaccine/02.jpg" class="img-responsive" /><br />
        <img src="~/Documents/vaccine/03.jpg" class="img-responsive" /><br />
        <img src="~/Documents/vaccine/04.jpg" class="img-responsive" /><br />
        <img src="~/Documents/vaccine/05.jpg" class="img-responsive" /><br />
        <img src="~/Documents/vaccine/06.jpg" class="img-responsive" /><br />
        <img src="~/Documents/vaccine/08.jpg" class="img-responsive" /><br />
        <img src="~/Documents/vaccine/09.jpg" class="img-responsive" /><br />
        <img src="~/Documents/vaccine/10.jpg" class="img-responsive" /><br />
        <img src="~/Documents/vaccine/11.jpg" class="img-responsive" /><br />
        <img src="~/Documents/vaccine/12.jpg" class="img-responsive" /><br />
        <img src="~/Documents/vaccine/13.jpg" class="img-responsive" /><br />
        <img src="~/Documents/vaccine/14.jpg" class="img-responsive" /><br />
        <img src="~/Documents/vaccine/15.jpg" class="img-responsive" /><br />
        <img src="~/Documents/vaccine/16.jpg" class="img-responsive" /><br />
    </div>
</div>
