
@{
    ViewBag.Title = "CLSBLSTrainingVideo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>ACLS & BLS Training Video</h2>


<div class="row cards-section">
    <ul>
        <li class="col-xs-12 col-md-6 col-lg-4">
            <div class="block">
                <h2>ACLS</h2>

                <div class="block-middle block-middle2" style="height:220px;">

                    <video controls controlslist="nodownload" id="12" class="videoplay" style="width:100%;">
                        <source src="/Videos/ACLS_video.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="bottom-block">
                    <p>
                        ACLS <br />
                        - 17th November 2020
                    </p>
                </div>
            </div>
        </li>
        <li class="col-xs-12 col-md-6 col-lg-4">
            <div class="block">
                <h2>Dr Rajeev Neonatal Resucitation</h2>

                <div class="block-middle block-middle2" style="height:220px;">

                    <video controls controlslist="nodownload" id="12" class="videoplay" style="width:100%;">
                        <source src="/Videos/DrRajeev_Neonatal_Resucitation_Video.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="bottom-block">
                    <p>
                        Dr Rajeev Neonatal Resucitation <br />
                        - 17th November 2020
                    </p>
                </div>
            </div>
        </li>
        <li class="col-xs-12 col-md-6 col-lg-4">
            <div class="block">
                <h2>OELSS Dr Manokanth</h2>

                <div class="block-middle block-middle2" style="height:220px;">

                    <video controls controlslist="nodownload" id="12" class="videoplay" style="width:100%;">
                        <source src="/Videos/OELSS_Dr_Manokanth.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="bottom-block">
                    <p>
                        OELSS Dr Manokanth <br />
                        - 17th November 2020
                    </p>
                </div>
            </div>
        </li>
    </ul>
</div>