
@{
    ViewBag.Title = "Covid19Training";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Covid 19 Training</h2>

<div class="row cards-section">
    <ul>
        <li class="col-xs-12 col-md-6 col-lg-4">
            <div class="block">
                <h2>Management of Spill video</h2>

                <div class="block-middle block-middle2" style="height:220px;">

                    <video controls controlslist="nodownload" id="12" class="videoplay" style="width:100%;">
                        <source src="/Videos/COVID19ManagementofSpillvideo.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="bottom-block">
                    <p>
                        Management of Spill video <br />
                        - 4th December 2020
                    </p>
                </div>
            </div>
        </li>
        <li class="col-xs-12 col-md-6 col-lg-4">
            <div class="block">
                <h2>N-95 Respirator Limited use</h2>

                <div class="block-middle block-middle2" style="height:220px;">

                    <video controls controlslist="nodownload" id="12" class="videoplay" style="width:100%;">
                        <source src="/Videos/COVID19N95RespiratorLimiteduse.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="bottom-block">
                    <p>
                        N-95 Respirator Limited use<br />
                        - 4th December 2020
                    </p>
                </div>
            </div>
        </li>
        <li class="col-xs-12 col-md-6 col-lg-4">
            <div class="block">
                <h2>Steps in Doffing Done by Nurse</h2>

                <div class="block-middle block-middle2" style="height:220px;">

                    <video controls controlslist="nodownload" id="12" class="videoplay" style="width:100%;">
                        <source src="/Videos/COVID19StepsinDoffing_DonebyNurse.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="bottom-block">
                    <p>
                        Steps in Doffing Done by Nurse <br />
                        - 4th December 2020
                    </p>
                </div>
            </div>
        </li>

        <li class="col-xs-12 col-md-6 col-lg-4">
            <div class="block">
                <h2>PPE Donning and Doffing</h2>

                <div class="block-middle block-middle2" style="height:220px;">

                    <video controls controlslist="nodownload" id="12" class="videoplay" style="width:100%;">
                        <source src="/Videos/COVID19PPEDonningandDoffing.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="bottom-block">
                    <p>
                        PPE Donning and Doffing<br />
                        - 4th December 2020
                    </p>
                </div>
            </div>
        </li>

        <li class="col-xs-12 col-md-6 col-lg-4">
            <div class="block">
                <h2>Steps in Donning (Done by nurse)</h2>

                <div class="block-middle block-middle2" style="height:220px;">

                    <video controls controlslist="nodownload" id="12" class="videoplay" style="width:100%;">
                        <source src="/Videos/COVID19StepsinDonning(Done by nurse).mp4" type="video/mp4">
                    </video>
                </div>
                <div class="bottom-block">
                    <p>
                        Steps in Donning (Done by nurse)<br />
                        - 4th December 2020
                    </p>
                </div>
            </div>
        </li>


        <li class="col-xs-12 col-md-6 col-lg-4">
            <div class="block">
                <h2>Steps of Handwash</h2>

                <div class="block-middle block-middle2" style="height:220px;">

                    <video controls controlslist="nodownload" id="12" class="videoplay" style="width:100%;">
                        <source src="/Videos/COVID19StepsofHandwash.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="bottom-block">
                    <p>
                        Steps of Handwash<br />
                        - 4th December 2020
                    </p>
                </div>
            </div>
        </li>

        <li class="col-xs-12 col-md-6 col-lg-4">
            <div class="block">
                <h2>Steps of Handrub</h2>

                <div class="block-middle block-middle2" style="height:220px;">

                    <video controls controlslist="nodownload" id="12" class="videoplay" style="width:100%;">
                        <source src="/Videos/COVID19StepsofHandrub.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="bottom-block">
                    <p>
                        Steps of Handrub<br />
                        - 4th December 2020
                    </p>
                </div>
            </div>
        </li>
        <li class="col-xs-12 col-md-6 col-lg-4">
            <div class="block">
                <h2>Infection Control Basics</h2>

                <div class="block-middle block-middle2" style="height:220px;">

                    <video controls controlslist="nodownload" id="12" class="videoplay" style="width:100%;">
                        <source src="/Videos/COVID19InfectionControlBasics.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="bottom-block">
                    <p>
                        Infection Control Basics<br />
                        - 4th December 2020
                    </p>
                </div>
            </div>
        </li>

        <li class="col-xs-12 col-md-6 col-lg-4">
            <div class="block">
                <h2>Safety Precautions</h2>

                <div class="block-middle block-middle2" style="height:220px;">

                    <video controls controlslist="nodownload" id="12" class="videoplay" style="width:100%;">
                        <source src="/Videos/COVID19SafetyPrecautions.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="bottom-block">
                    <p>
                        Safety Precautions<br />
                        - 4th December 2020
                    </p>
                </div>
            </div>
        </li>

        

    </ul>
</div>