
@{
    ViewBag.Title = "EmployeeHandBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Commonimgpreview.js"></script>
<style type="text/css" media="print">
    * {
        display: none;
    }
</style>
<style>
    .back-to-top {
        cursor: pointer;
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Employee Hand Book</h3>
    </div>
    <div class="panel-body" style="text-align:center;">

        <img src="~/Documents/Images/Employee_Hand_Book/Employee_Hand_Book-01.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-02.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-03.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-04.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-05.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/Employee_Hand_Book/Employee_Hand_Book-06.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-07.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-08.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-09.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-10.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/Employee_Hand_Book/Employee_Hand_Book-11.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-12.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-13.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-14.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-15.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/Employee_Hand_Book/Employee_Hand_Book-16.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-17.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-18.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-19.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-20.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/Employee_Hand_Book/Employee_Hand_Book-21.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-22.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-23.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-24.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-25.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/Employee_Hand_Book/Employee_Hand_Book-26.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-27.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-28.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-29.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-30.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/Employee_Hand_Book/Employee_Hand_Book-31.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-32.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-33.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-34.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-35.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/Employee_Hand_Book/Employee_Hand_Book-36.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-37.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-38.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-39.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-40.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/Employee_Hand_Book/Employee_Hand_Book-41.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-42.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-43.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/Employee_Hand_Book/Employee_Hand_Book-44.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-45.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-46.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/Employee_Hand_Book/Employee_Hand_Book-47.jpg" style="width:1020px;" /><br />
        <img src="~/documents/images/employee_hand_book/employee_hand_book-48.jpg" style="width:1020px;" /><br />

    </div>
</div>