
@{
    ViewBag.Title = "LeavePolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Commonimgpreview.js"></script>
<style type="text/css" media="print">
    * {
        display: none;
    }
</style>
<style>
    .back-to-top {
        cursor: pointer;
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Leave Policy</h3>
    </div>
    <div class="panel-body" style="text-align:center;">
        <img src="~/Documents/Images/Leave_policy_ver_2/Leave_policy_ver_2-01.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/Leave_policy_ver_2/Leave_policy_ver_2-02.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/Leave_policy_ver_2/Leave_policy_ver_2-03.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/Leave_policy_ver_2/Leave_policy_ver_2-04.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/Leave_policy_ver_2/Leave_policy_ver_2-05.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/Leave_policy_ver_2/Leave_policy_ver_2-06.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/Leave_policy_ver_2/Leave_policy_ver_2-07.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/Leave_policy_ver_2/Leave_policy_ver_2-08.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/Leave_policy_ver_2/Leave_policy_ver_2-09.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/Leave_policy_ver_2/Leave_policy_ver_2-10.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/Leave_policy_ver_2/Leave_policy_ver_2-11.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/Leave_policy_ver_2/Leave_policy_ver_2-12.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/Leave_policy_ver_2/Leave_policy_ver_2-13.jpg" style="width:1020px;" /><br />
    </div>
</div>