
@{
    ViewBag.Title = "ManageFHNDA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    var oTable;
    $(document).ready(function () {
        LoadData();
    });
    function LoadData() {
        oTable = $('#tblNewUserRequest').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/Hospital/AjaxGetFHNDA",
            "bProcessing": true,
            "bDestroy": true,
            "aLengthMenu": [[10, 20, 30, 50, 100, 150, 200, -1], [10, 20, 30, 50, 100, 150, 200, "All"]],
            "aoColumns": [
                { "sName": "Id" },
                { "sName": "Name" },
                { "sName": "Departmnet" },
                { "sName": "Designation" },
                { "sName": "CreatedOn" }
            ],

        });
        //$("#tblNewUserRequest_filter").prepend('<div style="float:left;margin-right: 100px;padding-bottom: 2px;"> IT Support Updated? : <select id="ddlapproverstatus" onchange="onchangeapprovers()" class="form-control" title="IT Support Updated"><option value="Yes">Yes</option><option value="No" selected>No</option></div></select>');
        $("#tblNewUserRequest_length").addClass("col-md-6");

    }
</script>

<div class="panel panel-default">
    <div class="panel-heading">Manage FH NDA</div>
    <div class="panel-body">
        <table class="table table-striped table-bordered dt-responsive nowrap" style="width:100%;" id="tblNewUserRequest">
            <thead>
                <tr style="background-color: #786C67;color: white;">
                    <th>Id</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Mobile</th>
                    <th>Created On</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>