
@{
    ViewBag.Title = "OurBrand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/Commonimgpreview.js"></script>
<style type="text/css" media="print">
    * {
        display: none;
    }

    .back-to-top {
        cursor: pointer;
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><a href="/" style="color:gray;">Go Back</a>Our Brand</h3>
    </div>
    <div class="panel-body" style="text-align:center;min-height:450px;">

        <div class="block-middle brand">
            <div class="row">
                <div class="col-md-4" style="text-align:center; height:225px;">
                    <a href="/Documents/Fernandez_Built_For_Birthing_Brand_Brochure.pdf" target="_blank">
                        <img src="/images/Fernandez.png" alt="Fernandez">
                        <span>BRAND GUIDE</span>
                    </a>

                </div>
                <div class="col-md-4" style="text-align:center; height:225px;">
                    <a href="/Hospital/BrandTemplates">
                        <img src="/images/Fernandez.png" alt="Fernandez">
                        <span>BRAND TEMPLATES</span>
                    </a>

                </div>
                <div class="col-md-4" style="text-align:center; height:225px;">
                    <a href="/Hospital/BrandMerchandise" >
                        <img src="/images/Fernandez.png" alt="Fernandez">
                        <span>BRANDED MERCHANDISE</span>
                    </a>

                </div>
            </div>
        </div>
        @*<img src="~/Documents/Images/Our_Brand/01.jpg" style="width:1020px;" /><br />
            <img src="~/Documents/Images/Our_Brand/02.jpg" style="width:1020px;" /><br />
            <img src="~/Documents/Images/Our_Brand/03.jpg" style="width:1020px;" /><br />
            <img src="~/Documents/Images/Our_Brand/04.jpg" style="width:1020px;" /><br />
            <img src="~/Documents/Images/Our_Brand/05.jpg" style="width:1020px;" /><br />
            <img src="~/Documents/Images/Our_Brand/06.jpg" style="width:1020px;" /><br />
            <img src="~/Documents/Images/Our_Brand/07.jpg" style="width:1020px;" /><br />
            <img src="~/Documents/Images/Our_Brand/08.jpg" style="width:1020px;" /><br />
            <img src="~/Documents/Images/Our_Brand/09.jpg" style="width:1020px;" /><br />
            @for (var i = 10; i < 54; i++)
            {
                string Urlimp = "/Documents/Images/Our_Brand/" + i + ".jpg";
                <img src="@Urlimp" style="width:1020px;" /><br />
            }*@
    </div>
</div>

