
@{
    ViewBag.Title = "PIPProcess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Commonimgpreview.js"></script>
<style type="text/css" media="print">
    * {
        display: none;
    }
</style>
<style>
    .back-to-top {
        cursor: pointer;
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">PIP Process</h3>
    </div>
    <div class="panel-body" style="text-align:center;">
        <img src="~/Documents/Images/PIP/0001.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/PIP/0002.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/PIP/0003.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/PIP/0004.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/PIP/0005.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/PIP/0006.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/PIP/0007.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/PIP/0008.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/PIP/0009.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/PIP/0010.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/PIP/0011.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/PIP/0012.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/PIP/0013.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/PIP/0014.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/PIP/0015.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/PIP/0016.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/PIP/0017.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/PIP/0018.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/PIP/0019.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/PIP/0020.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/PIP/0021.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/PIP/0022.jpg" style="width:1020px;" /><br />
    </div>
</div>
