
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="~/Scripts/Survey/Plugins/knockout-debug.js"></script>
<link href="~/Scripts/Survey/Plugins/survey.css" rel="stylesheet" />

<link href="~/Scripts/Survey/index.css" rel="stylesheet" />
<div>
 
    <div class="sv_main sv_frame sv_default_css">
        <div class="sv_custom_header"></div>
        <div class="sv_container">
           
            <div class="sv_body">
                <div id="surveys-list" class="surveys-list">
                    <section>
                        <button data-bind="click: function() { createSurvey('NewSurvey' + Date.now(), loadSurveys); }">Add</button>
                    </section>
                    <table class="table table-striped">
                        <tbody>
                            <!-- ko foreach: availableSurveys -->
                            <tr>
                                <td data-bind="text: name"></td>
                                <td>
                                    <a class="sv_button_link" data-bind="attr: { href: '/Service/Survey?id=' + ko.unwrap(id) }">Run</a>
                                    <a class="sv_button_link" data-bind="attr: { href: '/Service/Editor?id=' + ko.unwrap(id) }">Edit</a>
                                    <a class="sv_button_link" data-bind="attr: { href: '/Service/Results?id=' + ko.unwrap(id) }">Results</a>
                                    <span class="sv_button_link sv_button_delete" data-bind="click: function() { $parent.deleteSurvey(ko.unwrap(id), $parent.loadSurveys); }">Delete</span>
                                </td>
                            </tr>
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Survey/index.js"></script>