
<script>
    var user = [];
    var oTable;
    $(document).ready(function () {
        //EmployeeSearch();
        LoadData();
        $("#EmpId").change(function () {
            SaveDetails();
        });

    });
    function LoadData() {
        oTable =  $('#tblCategory').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/CMS/AjaxGetCMSVendorMeal",
            "bProcessing": true,
            "bDestroy": true,
            "aLengthMenu": [[10, 20, 30, 50, 100, 150, 200, -1], [10, 20, 30, 50, 100, 150, 200, "All"]],
            "aoColumns": [
                { "sName": "Id" },
                //{ "sName": "Vendor Stock" },
                { "sName": "Emp" },
                { "sName": "Meal" },
                { "sName": "QTY" },
                { "sName": "Notes" },

                { "sName": "IsActive" },
               
            ]
        });
        $("#tblCategory_length").addClass("col-md-6");
        $("#tblCategory_length").addClass("col-md-6");
    }

    function LoadMealType() {
        $.ajax({
            type: "POST",
            url: "/CMS/GetMealType",
            //data: "id=",
            success: function (data) {
                debugger;
                var options = [];

                for (var i = 0; i < data.length; i++) {
                    options.push('<option value="' + data[i].MealTypeId + '">' + data[i].MealTypeName + '</option>');
                }
                $("#MealTypeId").html(options.join(''));

            },
            error: function () {
                alert("error")
            }
        });
    }
    function validatedetails() {
        var validate = true;
       
        if ($("#EmpId").val() == null) {
            alert("Select Employee");
            validate = false;
        }
        return validate;
    }
    function SaveDetails() {        
        var task = {
            VendorStockRequestId:0,
            EmpId: parseInt($("#EmpId").val()),
            MealTypeId: 1,
            Qty: 1,
            Notes: "Ok",
            IsActive: true
        };
        $.ajax({
            type: "POST",
            url: "/CMS/SaveEmpVendorMeal",
            data: task,
            success: function (data) {
                if (data == "Successfully Saved") {
                    //alert(data);
                    oTable.api().ajax.reload(null, false);
                    $("#EmpId").val("");
                }
                else {
                    alert(data);
                }
            }
        });
    }
    var currentuserid = 0;
    function CheckEmployee() {
        if ($("#EmpId").val() == "") {
            alert("Enter  Employee");
            return false;
        }
        SaveDetails();
    }
    
</script>

<div class="row" style="width:95%;margin:auto;">

    <div class="col-md-12">
        <div class="col-md-4">
            <label> Employee <span class="text-danger">*</span></label><br />
            <input type="text" id="EmpId" class="form-control" />
            @*<select id="EmpId" class="form-control typeahead EmpId" name="query" data-provide="typeahead" autocomplete="off"></select>*@

        </div>
        <div class="col-md-2">
            <br />
            <button type="button" class="btn save" onclick="CheckEmployee();">SUBMIT</button>
        </div>
    </div>
    <br />
    <table class="table table-striped table-bordered dt-responsive nowrap" style="width:100%;" id="tblCategory">
        <thead>
            <tr>
                <th>Id</th>
                <th>Emp Name</th>
                <th>Meal Type</th>
                <th>Qty</th>
                <th>Notes</th>
                <th>Is Active</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
  
    <div class="clearfix"></div>
</div>

