@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        LoadData();
        LoadLocation();
    });
    function LoadLocation() {
        $.ajax({
            type: "POST",
            url: "/Common/GetLocations",
            //data: "id=",
            success: function (data) {
                debugger;
                var options = [];
                options.push('<option value="">- select Locations -</option>');
                for (var i = 0; i < data.length; i++) {
                    options.push('<option value="' + data[i].LocationId + '">' + data[i].LocationName + '</option>');
                }
                $("#locationname").html(options.join(''));
            },
            error: function () {
                alert("error")
            }
        });
    }
    function LoadData() {
        $('#tbltable1').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/tbl_Locationlist/AjaxGetExtensionList",
            "bProcessing": true,
            "bDestroy": true,
            "aoColumns": [
                    { "sName": "Name" },
                    { "sName": "Extension" },
                    { "sName": "Location" },
                    { "sName": "Floor" },
                    {
                        "sName": "Id",
                        "bSortable": false,
                        "render": function (data) {
                            return ' <a href="/tbl_LocationList/Edit/' + data + '">Edit</a> | ' +
'<a href="/tbl_LocationList/Delete/' + data + '">Delete</a>';
                        }
                    }
            ],
            "aLengthMenu": [[10, 20, 30, 50, 100, 150, 200, 500, 1000], [10, 20, 30, 50, 100, 150, 200, 500, 1000]],
            "sDom": 'T<"clear">lfrtip',
            "oTableTools": {
                "sSwfPath": "/swf/copy_csv_xls_pdf.swf",
                "aButtons": [
                    "copy", "xls", "pdf"
                ]
            },
            "fnServerParams": function (aoData) {
                aoData.push(
                    { "name": "locationname", "value": $("#locationname").val() }
                );
            }
        });
    }
</script>

<div class="panel panel-default">
    <div class="panel-heading">Extension Location <span class="pull-right">@Html.ActionLink("Create New", "Create")</span></div>
    <div class="panel-body">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4">
                    &nbsp;
                </div>
                <div class="col-md-4">
                    <select id="locationname" class="form-control" onchange="LoadData();">
                        @*<option value="">Select Location</option>
                        <option value="Unit 1">Unit 1</option>
                        <option value="Unit 2">Unit 2</option>
                        <option value="Unit 3">Unit 3</option>
                        <option value="Unit 4">Unit 4</option>
                        <option value="Unit 5">Unit 5</option>
                        <option value="Fernandez School Of Nursing">Fernandez School Of Nursing</option>*@
                    </select>
                </div>
                <div class="col-md-4">
                    &nbsp;
                </div>
            </div>
            <br />
            <table class="table table-striped table-bordered dataTable" id="tbltable1">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Extension
                        </th>
                        <th>
                            Location
                        </th>
                        <th>
                            Floor
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>

            </table>
        </div>
        <div class="col-md-1"></div>
    </div>

</div>
