@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<hgroup class="title">
    <h4>@ViewBag.Title.</h4>
</hgroup><br />
@if (ViewBag.UserValid == "InValidUser")
{
    <div class="title">
        <h4>
            Invalid Email id please try again @Html.ActionLink("Click here", "ForgotPassword")
        </h4>
    </div>

}
else
{
    <div class="title">
        <h4>
            Please check your email to reset your password.
        </h4>
    </div>
}
