
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-default">
    <div class="panel-heading" style=" font-weight:normal;">
        <span class="glyphicon glyphicon-arrow-right"></span>&nbsp; Refund Request - Help
    </div>
    <div class="panel-body" style="min-height:600px;">

        <video controls controlslist="nodownload" id="12" class="videoplay" style="width:100%;">
            <source src="/Videos/Refund_Tracker Manual.mp4" type="video/mp4">
        </video>
    </div>
</div>