
@{
    ViewBag.Title = "CreateOrderRequest2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    var eId = 0;
    //  var orderDate = new Date();
    $(document).ready(function () {
        LoadData();
        LoadLocations();
        LoadMealType();

    });
    function getMinutes(str) {
        var time = str.split(':');
        return time[0] * 60 + time[1] * 1;
    }
    function getMinutesNow() {
        var timeNow = new Date();
        return timeNow.getHours() * 60 + timeNow.getMinutes();
    }
    function LoadData() {
        $('#tblPatients').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/InPatientCms/AjaxGetCMSPatientsbyLocandFloor",
            "bProcessing": true,
            "bDestroy": true,
            "scrollX": true,
            "autoWidth": false,
            "aLengthMenu": [[100, 200, 300, 500, -1], [100, 200, 300, 500, "All"]],
            "aoColumns": [
                /*  { "sName": "Id" },*/
                {
                    "sName": "Id",
                    "bSortable": false,
                    "render": function (data) {
                        return '<input type="checkbox" id="cb_' + data + '" checked="checked" class="assigncheck" /> ' + data;
                    }
                },
                { "sName": "Name" },
                { "sName": "Mr No" },
                { "sName": "Room No" },
                { "sName": "Mobile" },
                {
                    "sName": "DietPlan",
                    "bSortable": false,
                    "render": function (data, row, r) {
                        //console.log(r);
                        return LoadDietPlans(data);;
                    }
                },
                {
                    "sName": "Notes",
                    "bSortable": false,
                    "render": function (data, row, r) {
                        //console.log(r);
                        return '<textarea class="form-control" id="notes' + data + '"></textarea>';
                    }
                }
            ],
            "fnServerParams": function (aoData) {
                aoData.push(
                    { "name": "floor", "value": $("#FloorId").val() },
                    { "name": "MealType", "value": $("#MealTypeId").val() },
                    { "name": "FormType", "value": $("#ddlPatientType").val() }
                );
            }
        });
        $("#tblPatients_length").addClass("col-md-6");
        $("#tblPatients_length").addClass("col-md-6");
        LoadDietPlans();
    }
    function LoadDietPlans(data) {
        $.ajax({
            type: "POST",
            url: "/InPatientCms/GetDiets",
            success: function (data) {
                var options = [];
                options.push('<option value="">- Select Diet -</option>');
                for (var i = 0; i < data.length; i++) {
                    if (data[i].DietType == "All" || data[i].DietType == "Liquid") {
                        options.push('<option value="' + data[i].DietId + '">' + data[i].DietName + '</option>');
                    }
                }
                $(".DietPlan").html(options.join(''));
            },
            error: function () {
                alert("error")
            }
        });
        return '<select class="form-control DietPlan" id="DietPlan' + data + '"><option value="">Select Plan</option><select>';
    }
    function LoadLocations() {
        $.ajax({
            type: "POST",
            url: "/InPatientCms/GetCMSP_LocationLiqud",
            //data: "id=",
            success: function (data) {
                var options = [];
                options.push('<option value="">- Select Location -</option>');
                for (var i = 0; i < data.length; i++) {
                    options.push('<option value="' + data[i].LocationId + '">' + data[i].LocationName + '</option>');
                }
                $("#LocationId").html(options.join(''));
            },
            error: function () {
                alert("error")
            }
        });
    }
    function LoadFloorByLocations() {
        var id = $("#LocationId").val();
        if (id != "") {
            $.ajax({
                type: "POST",
                url: "/InPatientCms/GetCMSP_FloorByLocationLiqud?id=" + id,
                //data: "id=",
                success: function (data) {
                    var options = [];
                    options.push('<option value="">- Select Floor -</option>');
                    for (var i = 0; i < data.length; i++) {
                        options.push('<option value="' + data[i].FloorNo + '">' + data[i].FloorNo + '</option>');
                    }
                    $("#FloorId").html(options.join(''));
                },
                error: function () {
                    alert("error")
                }
            });
        }
        else {
            $("#FloorId").html('<option value="">- Select Floor -</option>');
        }
    }
    function LoadMealType() {
        $.ajax({
            type: "POST",
            url: "/CMS/GetMealType",
            //data: "id=",
            success: function (data) {
                var options = [];
                options.push('<option value="">- Select MealType -</option>');
                for (var i = 0; i < data.length; i++) {
                    options.push('<option value="' + data[i].MealTypeId + '">' + data[i].MealTypeName + '</option>');
                }
                $("#MealTypeId").html(options.join(''));
            },
            error: function () {
                alert("error")
            }
        });
    }
    function validatedetails() {
        setTimeout(function () { $('.error1').fadeOut('fast'); }, 5000);
        var valid = true;
        $(".error").hide();
        $(".css-error").removeClass('css-error');
        if ($("#LocationId").val() == "") {
            $("#LocationId").addClass('css-error');
            valid = false;
        }
        else if ($("#FloorId").val() == "") {
            $("#FloorId").addClass('css-error');
            valid = false;
        }
        if ($("#MealTypeId").val() == "") {
            $("#MealTypeId").addClass('css-error');
            valid = false;
        }
        var table = $('#tblPatients').DataTable();
        table.column(0).data().each(function (value, index) {
            var patientid = parseInt(value);
            if ($('#cb_' + patientid).prop("checked") == true) {
                if ($("#DietPlan" + value).val() == "") {
                    $("#DietPlan" + value).addClass('css-error');
                    valid = false;
                }
            }
        });
        return valid;
    }
    function Save() {
        var valid = validatedetails();
        if (valid) {
            var task = {
                OrderRequestId: eId,
                MealTypeId: $("#MealTypeId").val(),
                LocationId: $("#LocationId option:selected").text(),
                FloorId: $("#FloorId option:selected").text(),
                RequestType: $("#RequestType").val(),
                RequestNotes: $("#RequestNotes").val(),
                CurrentStatus: "InDietitian",
                IsActive: true
            };
            $.ajax({
                type: "POST",
                url: "/InPatientCms/SaveCMSPOrderRequest",
                data: task,
                success: function (data) {
                    SavePatients(data);
                }
            });
        }
    }
    function SavePatients(id) {
        var PatientsList = [];
        var table = $('#tblPatients').DataTable();
        table.column(0).data().each(function (value, index) {
            var patientid = parseInt(value);
            if ($('#cb_' + patientid).prop("checked") == true) {
                PatientsList.push({
                    PatientId: patientid,
                    DietId: parseInt($("#DietPlan" + value).val()),
                    Notes: $("#notes" + value).val(),
                    MealtypeId: $("#MealTypeId").val(),
                    OrderRequestId: id
                });
            }
        });
        $.post("/InPatientCms/SaveOrderRequestPatientsList", { model: PatientsList }, function (res) {
            alert("Successfully Saved");
            Cancel();
        });
    }
    function Cancel() {
        window.location.href = "/InPatientCms/ManageOrders";
    }
</script>
<input type="hidden" id="hidMealtypeId" value="@ViewBag.MealTypeId" />
<input type="hidden" id="hidRequestType" value="@ViewBag.RequestType" />
<div class="row">

    <div class="col-md-12">
        <div style="min-height:500px;">

            <div class="panel panel-success">
                <div class="panel-heading"><span class="glyphicon glyphicon-plane"></span>&nbsp;Place Order Request</div>
                <div class="panel-body">
                    <form>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Location :<span style="color:red;">*</span></label>
                                <select class="form-control" id="LocationId" onchange="LoadFloorByLocations();"></select>
                            </div>
                            <div class="col-md-2">
                                <label>Type :<span style="color:red;">*</span></label>
                                <select class="form-control" id="ddlPatientType" onchange="LoadData();">
                                    <option value="">Select</option>
                                    <option value="POW" selected="selected">POW</option>
                                    <option value="LW">LW</option>
                                    <option value="HDU">HDU</option>
                                    <option value="Normal">Normal</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>Floor :<span style="color:red;">*</span></label>
                                <select class="form-control" id="FloorId" onchange="LoadData();"></select>
                            </div>
                            <div class="col-md-3">
                                <label>Meal Type :<span style="color:red;">*</span></label>
                                <select class="form-control" id="MealTypeId" onchange="LoadData();"></select>
                            </div>
                            <div class="col-md-2" style="display:none;">
                                <label>Comments :</label>
                                <input type="text" class="form-control" id="RequestNotes" />
                            </div>
                            <div class="col-md-3">
                                <label>Request Type :<span style="color:red;">*</span></label>
                                <select class="form-control" id="RequestType" disabled>
                                    <option value="To Kitchen">To Kitchen</option>
                                    <option value="To Cafeteria" selected>To Cafeteria</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="padding:10px;">
                            <table class="table table-striped table-bordered  nowrap display" style="width:100%; text-align:center; " id="tblPatients">
                                <thead>
                                    <tr style="background-color:chocolate;color:white;">
                                        <th>Patient Id</th>
                                        <th>Name</th>
                                        <th>Mr No</th>
                                        <th>Room No</th>
                                        <th>Mobile</th>
                                        <th>Diet Plan<span style="color:red;">*</span></th>
                                        <th>Customization Note</th>
                                        @*<th>Actions</th>*@
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="form-group col-md-6">
                            <p style="font-size:13px; color:orange;text-align:right;">Note: Only Selected Patients will place the order : </p>
                            <button type="button" class="btn save" onclick="Save();">SAVE</button>
                            <button type="button" onclick="Cancel();" class="btn cancel">Cancel</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>
