@{
    ViewBag.Title = "ManageShiftTypes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var validate = true;
    $(document).ready(function () {


        BindLeaves();
    });
    function BindLeaves() {
        $.ajax({
            type: "POST",
            url: "/HrAdmin/GetShiftTypes",
            //data: "id=" + $("#ddlDepartment1").val(),
            success: function (data) {
                var html = "";
                for (var i = 0; i < data.length; i++) {
                    html += " <tr><td>" + data[i].ShiftTypeId + "</td> <td>" + data[i].ShiftTypeName + "</td> <td>" + data[i].ShiftStartTime + "</td> <td>" + data[i].ShiftEndTime + "</td><td>" + data[i].IsActive + "</td>";
                    html += "<td><span id='" + data[i].ShiftTypeId + "' onclick='Delete(this.id);' class='btn btn-danger btn-sm glyphicon glyphicon-remove-circle'> </span></td></tr>"
                }
                $("#tblbodyleavetyeps").html(html);
                $('#listLeaveTypes').DataTable();
            },
            error: function () {
                alert("error")
            }
        });
    }
    function Delete(id) {
        if (confirm("Are you Sure you want to delete ?")) {
            $.ajax({
                type: "POST",
                url: "/HrAdmin/DeleteShiftType",
                data: "id=" + id,
                success: function (data) {

                    //alert(data);
                    BindLeaves();

                },
                error: function () {
                    alert("error")
                }
            });
        }
    }
    function SaveLeaveTypes() {
        Validation();
        if (validate) {
            var task = {
                ShiftTypeName: $("#ShiftTypeName").val(),
                ShiftStartTime: $("#ShiftStartTime").val(),
                ShiftEndTime: $("#ShiftEndTime").val(),

                IsActive: true
            };
            $.ajax({
                type: "POST",
                url: "/HrAdmin/AddShiftType",
                data: task,
                success: function (data) {
                    $("#myModalLeaveType").modal('hide');
                    //alert(data);
                    BindLeaves();
                    Clearall();
                },
                error: function () {
                    alert("error")
                }
            });
        }
        else {
            alert("Fields Required");
        }

    }
    function Validation() {
        validate = true;
        $(".css-error").removeClass('css-error');
        if ($("#ShiftTypeName").val() == "") {
            $("#ShiftTypeName").addClass('css-error');
            validate = false;
        }
        if ($("#ShiftStartTime").val() == "") {
            $("#ShiftStartTime").addClass('css-error');
            validate = false;
        }
        if ($("#ShiftEndTime").val() == "") {
            $("#ShiftEndTime").addClass('css-error');
            validate = false;
        }
    }
    function Clearall() {
        $("#ShiftTypeName").val("");
        $("#ShiftStartTime").val("");
        $("#ShiftEndTime").val("");
    }
</script>
<div class="panel panel-default">
    <div class="panel-heading">List Of Shift Types <a href="#" data-toggle="modal" class="pull-right" data-target="#myModalLeaveType">New Shift Type</a></div>
    <div class="panel-body">
        <table id="listLeaveTypes" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%;">
            <thead>
                <tr>
                    <th>Shift Type Id</th>
                    <th>Shift Type Name</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Is Active</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tblbodyleavetyeps"></tbody>
        </table>
    </div>
</div>

<div id="myModalLeaveType" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Shift Type</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="padding:5px;">
                    <div class="col-md-4">
                        <label for="name">Shift Type Name<span style="color:red;">*</span></label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="ShiftTypeName" />
                    </div>
                </div>
                <div class="row" style="padding:5px;">
                    <div class="col-md-4"><label for="name">Shift Start Time<span style="color:red;">*</span></label></div>
                    <div class="col-md-8">
                        <input type="time" class="form-control" id="ShiftStartTime" />
                    </div>
                </div>
                <div class="row" style="padding:5px;">
                    <div class="col-md-4"><label for="name">Shift End Time<span style="color:red;">*</span></label></div>
                    <div class="col-md-8">
                        <input type="time" class="form-control" id="ShiftEndTime" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <input type="button" id="btnasigntask" value="Save" class="btn btn-primary" onclick="SaveLeaveTypes();" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

