
@{
    ViewBag.Title = "ManageDropdownValues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    var validate = true;
    var eId = 0;
    $(document).ready(function () {
        LoadData();
    });
    function LoadData() {
        $('#tblCategory').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/Admin/AjaxGetDropdownValues",
            "bProcessing": true,
            "bDestroy": true,
            "aLengthMenu": [[10, 20, 30, 50, 100, 150, 200, -1], [10, 20, 30, 50, 100, 150, 200, "All"]],
            "aoColumns": [
                { "sName": "Id" },
                { "sName": "DropDownType" },
                { "sName": "Name" },
                { "sName": "Description" },
                { "sName": "IsActive" },
                {
                    "sName": "Id",
                    "bSortable": false,
                    "render": function (data) {
                        return '<div class="btn-group">' +
                            '<div class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th-list"></span></div>' +
                            '<ul class="dropdown-menu dropdown-menu-right">' +
                            '<li><a href="javascript:void(0);" id="' + data + '" onclick="Edit(this.id);">Edit</a></li>' +
                            '<li><a href="javascript:void(0);" id="' + data + '" onclick="Delete(this.id);">Delete</a></li>' +
                            '</ul></div>';
                    }
                }
            ]
        });
        $("#tblCategory_length").addClass("col-md-6");
        $("#tblCategory_length").addClass("col-md-6");
    }
    function OnclickSave() {
        var task = {
            Id: eId,
            DropdownType: $("#ddlType").val(),
            Name: $("#txtName").val(),
            Description: $("#txtDescription").val(),
            IsActive: true
        };
        var url = "/Admin/SaveNewDropdownValues";
        if (eId > 0) {
            url = "/Admin/UpdateDropdownValues";
        }
        $.ajax({
            type: "POST",
            url: url,
            data: task,
            success: function (data) {
                eId = 0;
                $("#myModalCategoryType").modal('hide');
                LoadData();
                clearAll();
            }
        });
    }
    function validateCategory() {
        validate = true;
        $(".css-error").removeClass('css-error');
        if ($("#txtName").val() == "") {
            $("#txtName").addClass('css-error');
            validate = false;
        }
        if ($("#txtDescription").val() == "") {
            $("#txtDescription").addClass('css-error');
            validate = false;
        }
    }
    function Edit(id) {        
        eId = id;
        $.get("/Admin/GetDropdownValueById?id=" + id, function (data) {
            $("#txttitle").html("Edit Dropdown Value");
            $("#ddlType").val(data[0].DropdownType);
            $("#txtName").val(data[0].Name);
            $("#txtDescription").val(data[0].Description);
            $("#myModalCategoryType").modal('show');
        });
    }
    function clearAll() {
        $("#ddlType").val("");
        $("#txtName").val("");
        $("#txtDescription").val("");
        $("#txttitle").html("New Dropdown Value");
    }
    function Delete(id) {
        if (confirm("Are you sure you want to delete?")) {
            $.get("/Admin/DeleteDropdownValues?id=" + id, function (data) {
                alert(data);
                LoadData();
            });
        }
    }

</script>
<div class="panel panel-default">
    <div class="panel-heading">Manage Dropdown Values<a href="#" data-toggle="modal" class="pull-right" data-target="#myModalCategoryType">New Dropdown Value</a></div>
    <div class="panel-body">
        <table class="table table-striped table-bordered dt-responsive nowrap" style="width:100%;" id="tblCategory">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Is Active</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div id="myModalCategoryType" class="modal fade" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="txttitle">Add New</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="padding:5px;">
                    <div class="col-md-4">
                        <label for="name">Type</label>
                    </div>
                    <div class="col-md-8">
                        <select id="ddlType" class="form-control">
                            <option value="">Select</option>
                            <option value="Driver">Driver</option>
                            <option value="Security">Security</option>
                            <option value="Vehicle">4 Wheeler Vehicle</option>
                            <option value="2 Wheeler">2 Wheeler Vehicle</option>
                            <option value="GatePassStatus">GatePassStatus</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="padding:5px;">
                    <div class="col-md-4">
                        <label for="name">Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtName" class="form-control" />
                    </div>
                </div>
                <div class="row" style="padding:5px;">
                    <div class="col-md-4">
                        <label for="name">Description</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtDescription" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" id="btnasigntask" value="Save" onclick="OnclickSave();" class="btn btn-primary">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

