@{
    ViewBag.Title = "ManageRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    var ListData; var buildID; var flrID;
    $(function () {
        $("#BlockAdd").hide();
        GetviewList();
        GetLocList();

    });
    function GetLocList() {
        $.ajax({
            type: "GET",
            url: "/Admin/GetLocationView",
            //data: "id=",
            success: function (data) {
                //data = data.aaData;
                //console.log(data);
                var options = [];
                options.push('<option value="">- Select Location -</option>');
                for (var i = 0; i < data.length; i++) {
                    options.push('<option value="' + data[i].LocationId + '">' + data[i].LocationName + '</option>');
                }
                $("#DDLLocation").html(options.join(''));
            },
            error: function () {
                alert("error")
            }
        });

    }
    function GetviewList() {
        var URL = "/Admin/ManageRoomView";
        $.get(URL, function (Data) {
            ListData = Data;
            BindListtable(Data);
        });

    }
    function Save() {
        var Valid = true;
        $(".RRequired").each(function () {
            if ($(this).val() == "" || $(this).val() == null) {
                Valid = false;
                $(this).css("border", "1px solid red");
            } else {
                $(this).css("border", "1px solid #dce4ec");
            }
        });
        if (Valid) {

            var room = {};
            room.RoomId = $("#txtid").val();
            room.RoomName = $("#txtRoomNo").val();
            room.RoomExtension = $("#txtExtensionNo").val();
            room.LocationId = $("#DDLLocation").val();
            room.BuildingId = $("#DDLBuilding").val();
            room.FloorId = $("#DDLFloor").val();
            room.LocationName = $("#DDLLocation option:selected").text();
            room.BuildingName = $("#DDLBuilding option:selected").text();
            room.FloorName = $("#DDLFloor option:selected").text();
            var URL = "/Admin/SaveRoom";
            $.ajax({
                type: 'POST',
                url: URL,
                data: JSON.stringify(room),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (MSG) {
                    alert(MSG);
                    Clear();
                    funShowView();
                }
            });
        }
    }

    function BindListtable(Data) {
        $("#TblList tbody").empty();
        var TableRows = ''; var RowCount = 1;
        for (var i in Data) {
            TableRows += '<tr>';
            TableRows += '<td>' + RowCount + '</td>';
            TableRows += '<td>' + Data[i].RoomName + '</td>';
            TableRows += '<td>' + Data[i].LocationName + '</td>';
            TableRows += '<td>' + Data[i].BuildingName + '</td>';
            TableRows += '<td>' + Data[i].FloorName + '</td>';
            TableRows += '<td><button class="btn btn-warning btn-sm" id=' + Data[i].RoomId + ' onclick="DeleteByID(this.id);"><i class="glyphicon glyphicon-trash"> </i></button>&nbsp;&nbsp;';
            TableRows += '<button class="btn btn-danger btn-sm" id=' + Data[i].RoomId + ' onclick="OpenUpdate(this.id);"><i class="glyphicon glyphicon-pencil"> </i></button></td>';
            TableRows += '</tr>';
            RowCount++;
        }
        $("#TblList tbody").append(TableRows);
        $("#TblList").dataTable();
    }

    function DeleteByID(ID) {
        if (confirm('Are you sure you want to delete?')) {
        var URL = "/Admin/DeleteRoom?ID=" + ID;

        $.ajax({
            type: 'POST',
            url: URL,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (MSG) {
                alert(MSG);
                Clear();
                funShowView();
            }
        });
        } return false;

    }
    function funShowAdd() {
        $("#myModal").modal("show");
        Clear();
    }
    function funShowView() {
        $("#myModal").modal("hide");
    }
    function Clear() {
        $("#txtid").val("0");
        $("#txtRoomNo").val("");

        $("#txtExtensionNo").val("");
        $("#DDLLocation").val("");
        $("#DDLBuilding").val("");
        $("#DDLBuilding").html("");
        $("#DDLFloor").val("");
        $("#DDLFloor").html("");
        buildID = "";
        flrID = "";
        GetviewList();

    }
    function OpenUpdate(ID) {
        funShowAdd();
        debugger;
        var room = {};

        for (var i in ListData) {
            if (ListData[i].RoomId == ID) {
                room.RoomId = (ListData[i].RoomId);
                room.RoomName = (ListData[i].RoomName).trim();
                room.RoomExtension = (ListData[i].RoomExtension);
                room.LocationId = (ListData[i].LocationId);
                room.BuildingId = (ListData[i].BuildingId);
                room.FloorId = (ListData[i].FloorId);
                break;
            }
        }
        $("#DDLLocation").val(room.LocationId);

        FunLoadBuilding();

        $("#txtid").val(room.RoomId);
        $("#txtRoomNo").val(room.RoomName);
        $("#txtExtensionNo").val(room.RoomExtension);
        buildID = room.BuildingId;                  
        flrID = room.FloorId;
        

    }

    function FunLoadBuilding() {
        var Id = $("#DDLLocation").val();
        if (Id == "") {
            $("#DDLLocation").html("");
        }
        else {
            var URL = "/Admin/GetByLocation?Locationid=" + Id;
            $.get(URL, function (Data) {

                $("#DDLBuilding").html("");
                $("#DDLBuilding").append("<option  value=''>Select </option>");
                $.each(Data, function (index, Data) {
                    $("#DDLBuilding").append("<option value='" + Data.BuildingId + "'>" + Data.BuildingName + "</option>");
                });
                $("#DDLBuilding").val(buildID);
                if (buildID != null && buildID != "") {
                    FunLoadFloors();
                }
            });
        }
    }

    function FunLoadFloors() {
        var Id = $("#DDLBuilding").val();
        if (Id == "") {
            $("#DDLBuilding").html("");
        }
        else {
            var URL = "/Admin/GetByFloor?ID=" + Id;
            $.get(URL, function (Data) {

                $("#DDLFloor").html("");
                $("#DDLFloor").append("<option  value=''>Select </option>");
                $.each(Data, function (index, Data) {
                    $("#DDLFloor").append("<option value='" + Data.FloorId + "'>" + Data.FloorName + "</option>");
                });
                $("#DDLFloor").val(flrID);
            });
        }
    }
</script>



<div class="panel panel-default" id="BlockView">
    <div class="panel-heading">
        Room List<span class="pull-right" style="color:green;font-weight:bold;cursor:pointer;" onclick="funShowAdd();">Create New</span>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-hover table-responsive" id="TblList">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Room No</th>
                    <th>Location</th>
                    <th>Building</th>
                    <th>Floor</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">    Manage Room</h4>
            </div>
            <div class="modal-body">

                <div class="row form-group">

                    <div class="col-md-2">
                        <span>Room No</span>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control RRequired" id="txtRoomNo" />
                        <input type="hidden" class="form-control " id="txtid" />
                    </div>
                </div>
                <div class="row form-group">

                    <div class="col-md-2">
                        <span>Extension Number</span>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control " id="txtExtensionNo" />
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-2">
                        <span>Location</span>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control RRequired" id="DDLLocation" onchange="FunLoadBuilding()"></select>
                    </div>


                </div>
                <div class="row form-group">

                    <div class="col-md-2">
                        <span>Building </span>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control RRequired" id="DDLBuilding" onchange="FunLoadFloors()"></select>
                    </div>

                </div>

                <div class="row form-group">
                    <div class="col-md-2">
                        <span>Floor </span>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control RRequired" id="DDLFloor"></select>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-success" value="Save" onclick="Save();">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>