
@{
    ViewBag.Title = "ManageDepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Manage Department </div>
            <div class="panel-body">
                <div class="col-lg-12" style="padding:2%;">
                    <div class="col-md-1">

                        <label for="name">Department </label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" name="name" id="txtDepartment" class="form-control" />
                        <input type="hidden" name="name" id="hdnDepartmentId" />

                    </div>
                    <div class="col-md-1">

                        <label for="name">Location </label>
                    </div>
                    <div class="col-md-2">
                        <select id="ddlLocation" class="form-control"></select>
                    </div>
                    <div class="col-md-2">
                        <input type="button" name="name" value="Submit" class="btn btn-primary" onclick="SubmitForm()" />
                        <input type="button" name="name" value="Cancel" class="btn btn-danger" onclick="clearAll()" />
                    </div>
                </div>

                <div class="col-lg-12" style="padding:1%;border-top:1px solid #ccc">
                    <table id="tbllocation" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Department</th>
                                <th>Location</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>

<script>
    var validate = true;
    LoadTable();
    LoadLocation();
    function LoadLocation() {
        $.ajax({
            type: "GET",
            url: "/Admin/GetLocationView",
            //data: "id=",
            success: function (data) {
                //data = data.aaData;
                //console.log(data);
                var options = [];
                options.push('<option value="">- Select Location -</option>');
                for (var i = 0; i < data.length; i++) {
                    options.push('<option value="' + data[i].LocationId + '">' + data[i].LocationName + '</option>');
                }
                $("#ddlLocation").html(options.join(''));
            },
            error: function () {
                alert("error")
            }
        });
    }
    function SubmitForm() {

        $(".css-error").removeClass('css-error');
        validateform();
        if (validate) {
            var task = {
                DepartmentName: $("#txtDepartment").val(),
                DepartmentId: $("#hdnDepartmentId").val(),
                LocationId: $("#ddlLocation").val(),
                LocationName: $("#ddlLocation option:selected").text()
            };
            $.ajax({
                type: "POST",
                url: "/CallCenter/SaveDepartment",
                data: task,
                success: function (data) {
                    //alert(data);
                    LoadTable();
                    clearAll();
                },
                error: function () {
                    alert("error")
                }
            });
        }
        else {

            alert("Fields Required");
        }
    }
    function onDelete(id) {
        if (confirm('Are you sure you want to delete?')) {
            $.getJSON("@Url.Action("DeleteDepartment", "CallCenter")", { id: id }, function (data) {
                clearAll();
                LoadTable();
            });
        } return false;
    }
    function clearAll() {
        $("#txtDepartment").val("");
        $("#hdnDepartmentId").val("");
        $("#ddlLocation").val("");
        $("#ShowInHelpDesk").prop("checked", false);
    }

    function onEdit(a, b, c, d) {
        clearAll();
        $("#txtDepartment").val(a);
        $("#hdnDepartmentId").val(b);
        $("#ddlLocation").val(c);
       
    }

    function validateform() {

        validate = true;
        $(".css-error").removeClass('css-error');
        if ($("#txtDepartment").val() == "") {
            $("#txtDepartment").addClass('css-error');
            validate = false;
        }
        if ($("#ddlLocation").val() == "") {
            $("#ddlLocation").addClass('css-error');
            validate = false;
        }
    }
    function LoadTable() {
        $('#tbllocation').dataTable({
            //  "bServerSide": true,
            "sAjaxSource": "@Url.Action("GetDepartmentView", "CallCenter")",
            "bProcessing": true,
            "bDestroy": true,
            "aoColumns": [
                 { "sName": "DepartmentId" },
                            { "sName": "DepartmentName" },
                             { "sName": "LocationName" },
                            {
                                "sName": "DepartmentId",
                                "bSortable": false,
                                "render": function (data, row, r) {
                                    var lname = "'" + r[1] + "'";
                                    var LocName = "'" + r[5] + "'";
                                    var checked = "'" + r[3] + "'";

                                    //console.log(r);
                                    return '<div >' +
                             '<div style="width: 50px; float: left;"><span class="icon-edit"></span><a href="javascript:void(0)" onclick="onEdit(' + lname + ',' + data + ',' + LocName + ',' + checked + ')" >Edit</a></div>' +
                             '<div style="width: 80px; float: left;"><span class="icon-trash"></span><a href="javascript:void(0)" class="deleteLink" onclick="onDelete(' + data + ')">Delete</a></div></div>';
                                }
                            }

            ],
            "aLengthMenu": [[10, 20, 30, 50, 100, 150, 200, 500, 1000], [10, 20, 30, 50, 100, 150, 200, 500, 1000]],
            "sDom": 'T<"clear">lfrtip',
            "oTableTools": {
                "sSwfPath": "/swf/copy_csv_xls_pdf.swf",
                "aButtons": [
                    "copy", "xls", "pdf"
                ]
            }

        }); Applyclassdt();
    }
    function Applyclassdt() {
        $("#tbllocation_length").addClass("col-md-6");
        $("#tbllocation_info").addClass("col-md-6");

    }
</script>


