
@{
    ViewBag.Title = "DoctorsPrivilges";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Doctors Privilges</h3>
    </div>
    <div class="panel-body" style="text-align:center;">
        <h4>Gynaecology</h4>
        <table class="table table-bordered">
            <tr>
                <td>
                    <a target="_blank" href="~/Documents/DoctorsPrivileges/Gynaecology/900181 - Gynecology.pdf">900181 - Gynecology</a>
                </td>
                <td></td>
            </tr>
        </table>
        <h4>Neonatology</h4>
        <table class="table table-bordered">
            <tr>
                <td>
                    <a target="_blank" href="~/Documents/DoctorsPrivileges/Neonatology/3803 - Neonatology.pdf">3803 - Neonatology</a>
                </td>
                <td><a target="_blank" href="~/Documents/DoctorsPrivileges/Neonatology/900435 - Neonatology.pdf">900435 - Neonatology</a></td>
                <td><a target="_blank" href="~/Documents/DoctorsPrivileges/Neonatology/4966 - Neonatology.pdf">4966 - Neonatology</a></td>
                <td><a target="_blank" href="~/Documents/DoctorsPrivileges/Neonatology/5345 - Neonatology.pdf">5345 - Neonatology</a></td>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="~/Documents/DoctorsPrivileges/Neonatology/5746 - Neonatology.pdf">5746 - Neonatology</a>
                </td>
                <td>
                    <a target="_blank" href="~/Documents/DoctorsPrivileges/Neonatology/6030 - Neonatology.pdf">6030 - Neonatology</a>
                </td>
                <td>
                    <a target="_blank" href="~/Documents/DoctorsPrivileges/Neonatology/6178 - Neonatology.pdf">6178 - Neonatology</a>
                </td>
                <td><a target="_blank" href="~/Documents/DoctorsPrivileges/Neonatology/6239 - Neonatology.pdf">6239 - Neonatology</a></td>
            </tr>
            <tr>
                <td><a target="_blank" href="~/Documents/DoctorsPrivileges/Neonatology/900216 - Neonatology.pdf">900216 - Neonatology</a></td>
                <td><a target="_blank" href="~/Documents/DoctorsPrivileges/Neonatology/900302 - Neonatology.pdf">900302 - Neonatology</a></td>
                <td><a target="_blank" href="~/Documents/DoctorsPrivileges/Neonatology/900338 - Neonatology.pdf">900338 - Neonatology</a></td>
                <td><a target="_blank" href="~/Documents/DoctorsPrivileges/Neonatology/900387 - Neonatology.pdf">900387 - Neonatology</a></td>
            </tr>
        </table>
        <h4>Obstetrics</h4>
        <table  class="table table-bordered">
            <tr>
                <td><a target="_blank" href="~/Documents/DoctorsPrivileges/Obstetrics/4403 -  Obstetrics.pdf">4403 -  Obstetrics</a></td>
                <td><a target="_blank" href="~/Documents/DoctorsPrivileges/Obstetrics/5361 - Obstetrics.pdf">5361 - Obstetrics</a></td>
                <td><a target="_blank" href="~/Documents/DoctorsPrivileges/Obstetrics/5389 - Obstetrics.pdf">5389 - Obstetrics</a></td>
                <td><a target="_blank" href="~/Documents/DoctorsPrivileges/Obstetrics/5950- Obstetrics.pdf">5950- Obstetrics</a></td>
            </tr>
            <tr>
                <td><a target="_blank" href="~/Documents/DoctorsPrivileges/Obstetrics/6120 - Obstetrics.pdf">6120 - Obstetrics</a></td>
                <td><a target="_blank" href="~/Documents/DoctorsPrivileges/Obstetrics/6165 - Obstetrics.pdf">6165 - Obstetrics</a></td>
                <td><a target="_blank" href="~/Documents/DoctorsPrivileges/Obstetrics/6269 - Obstetrics.pdf">6269 - Obstetrics</a></td>
                <td><a target="_blank" href="~/Documents/DoctorsPrivileges/Obstetrics/6415-  Obstetrics.pdf">6415-  Obstetrics</a></td>
            </tr>
            <tr>
                <td><a target="_blank" href="~/Documents/DoctorsPrivileges/Obstetrics/6427 - Obstetrics.pdf">6427 - Obstetrics</a></td>
                <td><a target="_blank" href="~/Documents/DoctorsPrivileges/Obstetrics/900071 - Obstetrics.pdf">900071 - Obstetrics</a></td>
                <td><a target="_blank" href="~/Documents/DoctorsPrivileges/Obstetrics/900079 -Obstetrics.pdf">900079 -Obstetrics</a></td>
                <td><a target="_blank" href="~/Documents/DoctorsPrivileges/Obstetrics/900088 - Obstetrics.pdf">900088 - Obstetrics</a></td>
            </tr>
            <tr>
                <td><a target="_blank" href="~/Documents/DoctorsPrivileges/Obstetrics/900181 - Obstetrics.pdf">900181 - Obstetrics</a></td>
                <td><a target="_blank" href="~/Documents/DoctorsPrivileges/Obstetrics/900194 - Obstetrics.pdf">900194 - Obstetrics</a></td>
                <td><a target="_blank" href="~/Documents/DoctorsPrivileges/Obstetrics/900293 - Obstetrics.pdf">900293 - Obstetrics</a></td>
                <td><a target="_blank" href="~/Documents/DoctorsPrivileges/Obstetrics/900388 - Obstetrics.pdf">900388 - Obstetrics</a></td>
               
            </tr>
            <tr> <td><a target="_blank" href="~/Documents/DoctorsPrivileges/Obstetrics/900451 -  Obstetrics.pdf">900451 -  Obstetrics</a></td></tr>
        </table>
    </div>
</div>