
@{
    ViewBag.Title = "Holidays";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">List Of Holidays </div>
            <div class="panel-body" style="text-align:center;">
                <img src="~/Images/2018_holiday_list.jpg" class="img-responsive" style="margin:auto;" />
            </div>
        </div>
    </div>
</div>