
@{
    ViewBag.Title = "IntranetSurvey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/Service/Survey?id=2">

    <img src="~/Images/IntranetSurvey Mailer_2019-min.jpg" class="img-responsive" />
</a>