
@{
    ViewBag.Title = "OccupationalHealthHazard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="~/Scripts/Commonimgpreview.js"></script>
<style type="text/css" media="print">
    * {
        display: none;
    }
</style>
<style>
    .back-to-top {
        cursor: pointer;
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Occupational Health Hazard Policy</h3>
    </div>
    <div class="panel-body" style="text-align:center;">

        <img src="~/Documents/Images/Occupational_Health_Hazard/0001.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/Occupational_Health_Hazard/0002.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/Occupational_Health_Hazard/0003.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/Occupational_Health_Hazard/0004.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/Occupational_Health_Hazard/0005.jpg" style="width:1020px;" /><br />
        <img src="~/Documents/Images/Occupational_Health_Hazard/0006.jpg" style="width:1020px;" /><br />
    </div>
</div>
