@model IEnumerable<WebApplicationHsApp.DataModel.tbl_Protocol>
@{
    ViewBag.Title = "Protocol View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Commonimgpreview.js"></script>
<style type="text/css" media="print">
    * {
        display: none;
    }
</style>
<style>
    .back-to-top {
        cursor: pointer;
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewBag.ProtocolName</h3>
    </div>
    <div class="panel-body" style="min-height:500px;">
        <div class="row">
            @foreach (var v in Model.OrderBy(l => l.Name).ToList())
            {
                <div class="col-md-2" style="text-align:center; height:225px;">
                    <img alt="img" style="height: auto; width:150px;" src="/images/Fernandez.png" />
                    <h4>
                        @if (v.FilePath.Contains("pdf"))
                        {
                            <a target="_blank" href="/Hospital/PdfPreview/@v.Id"><b style="color:darkgreen;">@v.Name</b></a>
                        }
                        else
                        {
                            <a href="/Hospital/PdfPreview/@v.Id" target="_blank"><b style="color:darkgreen;">@v.Name</b></a>
                        }
                    </h4>
                    @*<div style="border-bottom:2px solid #c93437; margin:1px;">
                            @if (v.FilePath != null && v.FilePath != "")
                            {
                                if (v.FilePath.Contains("pdf"))
                                {
                                    <p><a target="_blank" href="~/ExcelUplodes/@v.FilePath#toolbar=0&amp;navpanes=0&amp;statusbar=0&amp;readonly=true; disableprint=true;">Click Here to View</a> </p>
                                }
                                else
                                {
                                    <p><a href="~/ExcelUplodes/@v.FilePath" target="_blank"> Click Here to View</a></p>

                                }
                            }
                        </div>*@
                </div>
            }
        </div>
    </div>
</div>