
@{
    ViewBag.Title = "Protocol Obstetrics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-default">
    <div class="panel-heading">Protocol Obstetrics</div>
    <div class="panel-body">
        @if (ViewBag.ProtocaolObstetrics != null && ViewBag.ProtocaolObstetrics != "")
        {
            if (ViewBag.ProtocaolObstetrics.Contains("pdf"))
            {
                <iframe height="680" style="width:100%;" src="~/ExcelUplodes/@ViewBag.ProtocaolObstetrics#toolbar=0&amp;navpanes=0&amp;statusbar=0&amp;readonly=true; disableprint=true; "></iframe>
            }
            else
            {
                <img src="~/ExcelUplodes/@ViewBag.ProtocaolObstetrics" class="img-responsive" />
            }
        }

    </div>
</div>