
@{
    ViewBag.Title = "TrendingOnSocialMedia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    function Showmodelimage(img) {
        window.location = "/Hospital/FullTrendingOnSocialMedia?date=" + img
        //$("#iframesrc").attr("src", img + "/index.html");
        //$("#ourvaluesmodel").modal('show');
    }
</script>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Whats Trending On Social Media</h3>
    </div>
    <div class="panel-body" style="text-align:center;min-height:450px;">
        <div class="block-middle brand">
            <p>Click on Date </p>
            <div class="row">
                @foreach (string img in Model)
                {
                    <div class="col-md-2 btns" style="text-align:center; padding:6px 0 0 0;">

                        <a href="/Hospital/FullTrendingOnSocialMedia?date=@img" target="_blank">
                            @*<img src="~/Images/Fernandez.png" class="image" style="width:200px; height:200px; border-radius:60px;" />*@

                            <span style="cursor:pointer;">@img</span>
                        </a>
                    </div>
                }
                @*<div class="col-md-3" style="text-align:center; height:250px;">
                        <a href="/Hospital/FullTrendingOnSocialMedia?date=20-11-2019" target="_blank">
                            <img src="~/Images/Fernandez.png" class="image" style="width:200px; height:200px; border-radius:60px;" />
                            <span style="cursor:pointer;">20-11-2019</span>
                        </a>

                    </div>
                    <div class="col-md-3" style="text-align:center; height:250px;">
                        <a href="/Hospital/FullTrendingOnSocialMedia?date=25-10-2019" target="_blank">
                            <img src="~/Images/Fernandez.png" class="image" style="width:200px; height:200px; border-radius:60px;" />
                            <span style="cursor:pointer;">25-10-2019</span>
                        </a>

                    </div>
                    <div class="col-md-3" style="text-align:center; height:250px;">
                        <a href="/Hospital/FullTrendingOnSocialMedia?date=23-10-2019" target="_blank">
                            <img src="~/Images/Fernandez.png" class="image" style="width:200px; height:200px; border-radius:60px;" />
                            <span style="cursor:pointer;">23-10-2019</span>
                        </a>

                    </div>
                    <div class="col-md-3" style="text-align:center; height:250px;">
                        <a href="/Hospital/FullTrendingOnSocialMedia?date=22-10-2019" target="_blank">
                            <img src="~/Images/Fernandez.png" class="image" style="width:200px; height:200px; border-radius:60px;" />
                            <span style="cursor:pointer;">22-10-2019</span>
                        </a>

                    </div>
                    <div class="col-md-3" style="text-align:center; height:250px;">
                        <a href="/Hospital/FullTrendingOnSocialMedia?date=18-10-2019" target="_blank">
                            <img src="~/Images/Fernandez.png" class="image" style="width:200px; height:200px; border-radius:60px;" />
                            <span style="cursor:pointer;">18-10-2019</span>
                        </a>

                    </div>
                    <div class="col-md-3" style="text-align:center; height:250px;">
                        <a href="/Hospital/FullTrendingOnSocialMedia?date=16-10-2019" target="_blank">
                            <img src="~/Images/Fernandez.png" class="image" style="width:200px; height:200px; border-radius:60px;" />
                            <span style="cursor:pointer;">16-10-2019</span>
                        </a>
                    </div>
                    <div class="col-md-3" style="text-align:center; height:250px;">
                        <a href="/Hospital/FullTrendingOnSocialMedia?date=15-10-2019" target="_blank">
                            <img src="~/Images/Fernandez.png" class="image" style="width:200px; height:200px; border-radius:60px;" />
                            <span style="cursor:pointer;">15-10-2019</span>
                        </a>

                    </div>
                    <div class="col-md-3" style="text-align:center; height:250px;">
                        <a href="/Hospital/FullTrendingOnSocialMedia?date=09-10-2019" target="_blank">
                            <img src="~/Images/Fernandez.png" class="image" style="width:200px; height:200px; border-radius:60px;" />
                            <span style="cursor:pointer;">09-10-2019</span>
                        </a>

                    </div>


                    <div class="col-md-3" style="text-align:center; height:250px;">
                        <a href="/Hospital/FullTrendingOnSocialMedia?date=27-09-2019" target="_blank">
                            <img src="~/Images/Fernandez.png" class="image" style="width:200px; height:200px; border-radius:60px;" />

                            <span style="cursor:pointer;">27-09-2019</span>
                        </a>

                    </div>

                    <div class="col-md-3" style="text-align:center; height:250px;">
                        <a href="/Hospital/FullTrendingOnSocialMedia?date=23-09-2019" target="_blank">
                            <img src="~/Images/Fernandez.png" class="image" style="width:200px; height:200px; border-radius:60px;" />
                            <span style="cursor:pointer;">23-09-2019</span>
                        </a>

                    </div>

                    <div class="col-md-3" style="text-align:center; height:250px;">
                        <a href="/Hospital/FullTrendingOnSocialMedia?date=20-09-2019" target="_blank">
                            <img src="~/Images/Fernandez.png" class="image" style="width:200px; height:200px; border-radius:60px;" />
                            <span style="cursor:pointer;">20-09-2019</span>
                        </a>

                    </div>


                    <div class="col-md-3" style="text-align:center; height:250px;">
                        <a href="/Hospital/FullTrendingOnSocialMedia?date=18-09-2019" target="_blank">
                            <img src="~/Images/Fernandez.png" class="image" style="width:200px; height:200px; border-radius:60px;" />
                            <span style="cursor:pointer;">18-09-2019</span>
                        </a>

                    </div>


                    <div class="col-md-3" style="text-align:center; height:250px;">
                        <a href="/Hospital/FullTrendingOnSocialMedia?date=16-09-2019" target="_blank">
                            <img src="~/Images/Fernandez.png" class="image" style="width:200px; height:200px; border-radius:60px;" />
                            <span style="cursor:pointer;">16-09-2019</span>
                        </a>

                    </div>


                    <div class="col-md-3" style="text-align:center; height:250px;">
                        <a href="/Hospital/FullTrendingOnSocialMedia?date=09-09-2019" target="_blank">
                            <img src="~/Images/Fernandez.png" class="image" style="width:200px; height:200px; border-radius:60px;" />
                            <span style="cursor:pointer;">09-09-2019</span>
                        </a>

                    </div>

                    <div class="col-md-3" style="text-align:center; height:250px;">
                        <a href="/Hospital/FullTrendingOnSocialMedia?date=06-09-2019" target="_blank">
                            <img src="~/Images/Fernandez.png" class="image" style="width:200px; height:200px; border-radius:60px;" />
                            <span style="cursor:pointer;">06-09-2019</span>
                        </a>

                    </div>

                    <div class="col-md-3" style="text-align:center; height:250px;">
                        <a href="/Hospital/FullTrendingOnSocialMedia?date=04-09-2019" target="_blank">
                            <img src="~/Images/Fernandez.png" class="image" style="width:200px; height:200px; border-radius:60px;" />
                            <span style="cursor:pointer;">04-09-2019</span>
                        </a>

                    </div>*@
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ourvaluesmodel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body">
                <a href="#" class="close" style="float:right;" data-dismiss="modal">&times;</a>
                <p id="ourvaluesbody" style="padding:10px; height:500px;">
                    <iframe id="iframesrc" src="" style="width:100%;height:100%; border:none;"></iframe>

                </p>
            </div>

        </div>
    </div>
</div>
