<div class="list-group">
    <a href="javascript:void(0);" class="list-group-item active" onclick="ClicklistItem('mydashboard');">
        Accommodation Requests
    </a>
    <a href="/Accommodation/Index" class="list-group-item">
        <span class="glyphicon glyphicon-plus-sign" style="vertical-align: middle; color: #ffcc15; font-weight: bold"></span> &nbsp;New Request
    </a>
    <a href="/Accommodation/BookingRequests" class="list-group-item">
        <span class="glyphicon glyphicon-list" style="vertical-align: middle; color: #ffcc15; font-weight: bold"></span> &nbsp;Booking Requests
    </a>
    <a href="/Accommodation/ApproveRequests" class="list-group-item">
        <span class="glyphicon glyphicon-list" style="vertical-align: middle; color: #ffcc15; font-weight: bold"></span> &nbsp;Approve Requests
    </a>
    
    <a href="/Accommodation/CurrentOccupied" class="list-group-item">
        <span class="glyphicon glyphicon-calendar" style="vertical-align: middle; color: #ffcc15; font-weight: bold"></span> &nbsp;Current Occupied Rooms
    </a>
    <a href="/Accommodation/ManageLocations" class="list-group-item">
        <span class="glyphicon glyphicon-record" style="vertical-align: middle; color: #ffcc15; font-weight: bold"></span> &nbsp;Manage Locations
    </a>
    <a href="/Accommodation/ManageFlats" class="list-group-item">
        <span class="glyphicon glyphicon-check" style="vertical-align: middle; color: #ffcc15; font-weight: bold"></span> &nbsp;Manage Flats/Room
    </a>
    <a href="/Accommodation/ManageCheckList" class="list-group-item">
        <span class="glyphicon glyphicon-info-sign" style="vertical-align: middle; color: #ffcc15; font-weight: bold"></span> &nbsp;Manage CheckList
    </a>
    <a href="/Accommodation/Reports" class="list-group-item">
        <span class="glyphicon glyphicon-tasks" style="vertical-align: middle; color: #ffcc15; font-weight: bold"></span> &nbsp;Reports
    </a>
</div>
