
@{
    ViewBag.Title = "HelpDocuments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>
<div class="row">
    <div class="col-md-12">

        <div class="block" style="height:100%;">
            <h2 style="text-transform:none;">Help Documents</h2>
            <div class="block-middle">
                <div class="row">
                    <div class="col-md-2" style="text-align:center; min-height:225px;">
                        <a href="~/Documents/AdministrationDocuments/Fire_Dept.xlsx">
                            <span class="glyphicon glyphicon-file" style="font-size:100px; color:#33b5e5;"></span>
                        </a>
                        @*<img alt="img" style="font-size:100px;" src="/images/Fernandez.png" />*@
                        <h4>
                            <a href="~/Documents/AdministrationDocuments/Fire_Dept.xlsx" class="text-danger">Fire Dept</a>
                        </h4>
                    </div>

                    <div class="col-md-2" style="text-align:center; height:225px;">
                        <a href="~/Documents/AdministrationDocuments/Food_Licence.xlsx">
                            <span class="glyphicon glyphicon-file" style="font-size:100px; color:#33b5e5;"></span>
                        </a>
                        <h4>
                            <a href="~/Documents/AdministrationDocuments/Food_Licence.xlsx" class="text-danger">Food Licencex</a>

                        </h4>
                    </div>

                    <div class="col-md-2" style="text-align:center; height:225px;">
                        <a href="~/Documents/AdministrationDocuments/Hospital_Registration.xlsx">
                            <span class="glyphicon glyphicon-file" style="font-size:100px; color:#33b5e5;"></span>
                        </a>
                        <h4>

                            <a href="~/Documents/AdministrationDocuments/Hospital_Registration.xlsx" class="text-danger">Hospital Registration</a>
                        </h4>
                    </div>

                    <div class="col-md-2" style="text-align:center; height:225px;">
                        <a href="~/Documents/AdministrationDocuments/Labour_Dept.xlsx">
                            <span class="glyphicon glyphicon-file" style="font-size:100px; color:#33b5e5;"></span>
                        </a>
                        <h4>
                            <a href="~/Documents/AdministrationDocuments/Labour_Dept.xlsx" class="text-danger">Labour Dept</a>
                        </h4>
                    </div>

                    <div class="col-md-2" style="text-align:center; height:225px;">
                        <a href="~/Documents/AdministrationDocuments/Labour_Dept_Motor_Vehicle.xlsx">
                            <span class="glyphicon glyphicon-file" style="font-size:100px; color:#33b5e5;"></span>
                        </a>
                        <h4>
                            <a href="~/Documents/AdministrationDocuments/Labour_Dept_Motor_Vehicle.xlsx" class="text-danger">Labour Dept Motor Vehicle</a>
                        </h4>
                    </div>

                    <div class="col-md-2" style="text-align:center; height:225px;">
                        <a href="~/Documents/AdministrationDocuments/PNDT.xlsx">
                            <span class="glyphicon glyphicon-file" style="font-size:100px; color:#33b5e5;"></span>
                        </a>
                        <h4>
                            <a href="~/Documents/AdministrationDocuments/PNDT.xlsx" class="text-danger">PNDT</a>
                        </h4>
                    </div>

                    <div class="col-md-2" style="text-align:center; height:225px;">
                        <a href="~/Documents/AdministrationDocuments/Trade_Licence.xlsx">
                            <span class="glyphicon glyphicon-file" style="font-size:100px; color:#33b5e5;"></span>
                        </a>
                        <h4>
                            <a href="~/Documents/AdministrationDocuments/Trade_Licence.xlsx" class="text-danger">Trade Licence</a>
                        </h4>
                    </div>

                    <div class="col-md-2" style="text-align:center; height:225px;">
                        <a href="~/Documents/AdministrationDocuments/TSPCB_Authorization.xlsx">
                            <span class="glyphicon glyphicon-file" style="font-size:100px; color:#33b5e5;"></span>
                        </a>
                        <h4>
                            <a href="~/Documents/AdministrationDocuments/TSPCB_Authorization.xlsx" class="text-danger">TSPCB Authorization</a>
                        </h4>
                    </div>

                    <div class="col-md-2" style="text-align:center; height:225px;">
                        <a href="~/Documents/AdministrationDocuments/TSPCB_CFO_CFE.xlsx">
                            <span class="glyphicon glyphicon-file" style="font-size:100px; color:#33b5e5;"></span>
                        </a>
                        <h4>
                            <a href="~/Documents/AdministrationDocuments/TSPCB_CFO_CFE.xlsx" class="text-danger">TSPCB CFO CFE</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>